[2018-09-02 04:58] takahirom opened #2 "Setup CI"
Please build apk and save it

[2018-10-16 13:53] takahirom opened #20 "Same signing key for deploygate and local build"
It is very convenient.
You can do like this.
https://github.com/DroidKaigi/conference-app-2018/blob/master/app/build.gradle.kts#L61

[2018-11-24 11:58] takahirom opened #33 "Keep scroll position when back from session detail"
# Overview
When back button press in session detail, scroll position will become top.
Because of BottomSheetDaySessionsFragment and BottomSheetFavoriteSessionsFragment instances are recreated.
If you know how to fix this, Please help me 🆘

[2018-12-08 09:40] takahirom opened #52 "Use iosched2018 chip animation"
## Overview (Required)
-
![chip_now](https://user-images.githubusercontent.com/1386930/49684547-8b521780-fb18-11e8-9de4-f4b259e4ca72.gif)
↓
![chip_google](https://user-images.githubusercontent.com/1386930/49684564-bdfc1000-fb18-11e8-9d37-e6f4950a74fb.gif)

## Links
- https://github.com/google/iosched/blob/d8bc48b20c132b519879eda3a8e9af120519e159/mobile/src/main/java/com/google/samples/apps/iosched

[2018-12-13 10:42] takahirom opened #65 "Add session survey screen"
## Overview (Required)
- We need to create the session survey

## Links
- Design https://gallery.io/projects/MCHbtQVoQ2HCZd9Pbpex4PVP/files/MCHtA7U1iMGr64hSKBFaITmFolw2KJ84irU (Please send request)

[2018-12-13 11:07] takahirom opened #67 "Add deeplink support"
## Overview (Required)
- We can use navigation architecture component support

[2018-12-15 09:24] takahirom opened #68 "Add floor map screen"
## Overview (Required)
- We need to create the floor map screen
- The images are already added
https://github.com/DroidKaigi/conference-app-2019/blob/master/feature/floormap/src/main/res/drawable-hdpi/ic_floor1.png

## Links
- https://gallery.io/projects/MCHbtQVoQ2HCZd9Pbpex4PVP/files/MCHtA7U1iMGr6907YDmqSpauSG02BDOsuXw (Please send request)

[2018-12-15 09:27] takahirom opened #69 "Add contributors screen"
## Overview (Required)
- We need to create the contributors screen

## Links
- https://gallery.io/projects/MCHbtQVoQ2HCZd9Pbpex4PVP/files/MCHtA7U1iMGr64hSKBFaITmFHhU5Yn4CQP8 (Please send request)

[2018-12-28 15:59] takahirom opened #91 "Optimize image"
## Overview (Required)
- You can use the image optimization tool like imageoptim.
- Please apply it for resouce images.

## Links
- https://imageoptim.com

[2018-12-29 04:40] takahirom opened #93 "Add footer for NavigationView"
## Overview (Required)

- Probably we should use custom layout for that.

- Current

![image](https://user-images.githubusercontent.com/1386930/50533537-113d0d80-0b6f-11e9-8552-fa8065be08b9.png)

-  What we want to do.
![image](https://user-images.githubusercontent.com/1386930/50533543-29149180-0b6f-11e9-8614-817ca1439101.png)

https://gallery.io/projects/MCHbtQVoQ2HCZd9Pbpex4PVP/files/MCHtA7U1iMG

[2018-12-29 12:48] takahirom opened #101 "Ellipsis session detail and expand"
## Overview (Required)
- We should add read more("続きを読む") function

| current | design |
|---|---|
| ![image](https://user-images.githubusercontent.com/1386930/50538441-3489ac00-0bb3-11e9-86a5-472782b019d8.png) | ![image](https://user-images.githubusercontent.com/1386930/50538445-4a976c80-0bb3-11e9-87ce-37fb0969e3c5.png) |

## Links
- https://gallery.io/projects/MCHbtQVoQ2HCZd9Pbpex4PVP/files/MCHt

[2018-12-30 03:30] takahirom opened #103 "Rename FireStore to Firestore"
## Overview (Required)
- "Firestore" is correct.

## Links
- https://firebase.google.com/docs/firestore/

[2018-12-31 03:37] takahirom opened #108 "Display the title in the title of the tool bar when scrolling on the session details screen"
## Overview (Required)
- Currently, the titile does not show in toolbar
![screenshot_20181231-123532](https://user-images.githubusercontent.com/1386930/50554142-9c95da80-0cf8-11e9-816d-5a6bd0506045.png)

## Links
-https://gallery.io/projects/MCHbtQVoQ2HCZd9Pbpex4PVP/files/MCHtA7U1iMGr649eY4pvpXHS096RuaGqQMU (Please send request)

[2019-01-02 14:06] takahirom opened #115 "Show notification when my session starts"
## Overview (Required)
 - Title says everything ⏲
 - Probably we can use implementation of 2018.

https://github.com/DroidKaigi/conference-app-2018/blob/master/app/src/main/java/io/github/droidkaigi/confsched2018/util/SessionAlarm.kt
https://github.com/DroidKaigi/conference-app-2018/pull/244

[2019-01-02 15:07] takahirom opened #116 "Show firebase topic notification"
## Overview (Required)
- Show firebase topic notification 🔥
- Probably we can use implementation of 2018.
- https://github.com/DroidKaigi/conference-app-2018/blob/a98b363c8bcfad43703bab28dd30649d51944444/app/src/main/java/io/github/droidkaigi/confsched2018/presentation/App.kt#L53
https://github.com/DroidKaigi/conference-app-2018/blob/a98b363c8bcfad43703bab28dd30649d51944444/app/src/main/java/io/gi

[2019-01-02 17:22] takahirom opened #121 "Session share"
## Overview (Required)
- Currently, the share feature is not implemented.
![image](https://user-images.githubusercontent.com/1386930/50603524-18ad3f80-0efe-11e9-9499-2f31ce5b150e.png)
- Blocked by web (URL)

[2019-01-03 11:22] takahirom opened #123 "Apply category color in session"
## Overview (Required)
- this category color.
![image](https://user-images.githubusercontent.com/1386930/50635374-3aa5d100-0f95-11e9-82b8-8608dcb86114.png)

[2019-01-03 11:27] takahirom opened #125 "Introduce Firebase Crashlytics"
## Overview (Required)
- We need to add Crashlytics for bugs.

## Links
- https://firebase.google.com/docs/crashlytics/

[2019-01-04 08:09] takahirom opened #131 "Create and use "visibleGone" binding adapter"
## Overview (Required)
- We can create "visibleGone" binding adapter. Like this

[code]

## Links
- https://github.com/googlesamples/android-architecture-components/blob/17c315a050745c61ae8e79000bc0251305bd148b/GithubBrowserSample/app/src/main/java/com/android/example/github/binding/BindingAdapters.kt#L27
- https://github.com/DroidKaigi/conference-app-2019/search?q=View.VISIBLE+%3A+View.GONE&unsco

[2019-01-04 15:57] takahirom opened #134 "Show movie and slide in session detail"
## Overview (Required)
- If app can get it link, we should show movie and slide link
![image](https://user-images.githubusercontent.com/1386930/50697092-9d29ca80-1084-11e9-96f0-e41ebca616c6.png)
![image](https://user-images.githubusercontent.com/1386930/50697203-e712b080-1084-11e9-958b-99956ccb3770.png)

## Links
- https://gallery.io/projects/MCHbtQVoQ2HCZd9Pbpex4PVP/files/MCHtA7U1iMGr60CQdbvgFMCP

[2019-01-05 04:16] panpanini opened #136 "Kotlin Multiplatform API implementation"
## Overview (Required)
- In order to achieve #132, we should make the API implementation as a Kotlin Multiplatform library.

This will require separating pure Kotlin code from Java (eg: Dagger, etc), and bundling each into a jar, or a framework for Kotlin/Native

## Links
- https://kotlinlang.org/docs/reference/building-mpp-with-gradle.html

[2019-01-05 12:58] takahirom opened #142 "Add English resource for string resource on About screen."
## Overview (Required)
- There is no English resource for string resource on About screen.

## Links
- https://github.com/DroidKaigi/conference-app-2019/blob/master/feature/about/src/main/res/values/strings.xml

[2019-01-05 13:01] takahirom opened #143 "Add a function to open Google map in "About screen""
## Overview (Required)
- Probably we can implement that by launch intent.
![image](https://user-images.githubusercontent.com/1386930/50724788-5399b800-1136-11e9-96b5-db7e0d724a47.png)

[2019-01-05 13:05] takahirom opened #144 "Add staff list screen"
## Overview (Required)
- We can use that API https://droidkaigi2019-dev.appspot.com/api/staffs
- We can use layout for search list

https://gallery.io/projects/MCHbtQVoQ2HCZd9Pbpex4PVP/files/MCHtA7U1iMGr6_wk8XZwCNuDb4sy76tbjpM  (Please send request)
![image](https://user-images.githubusercontent.com/1386930/50724793-6613f180-1136-11e9-8553-8a4c1f16e44d.png)

[2019-01-05 13:14] takahirom opened #146 "Add license feature"
## Overview (Required)
- You can use https://developers.google.com/android/guides/opensource
![image](https://user-images.githubusercontent.com/1386930/50724835-04a05280-1137-11e9-860a-d6fc8a4d630e.png)

[2019-01-05 13:44] takahirom opened #147 "Add medium, youtube, github, twitter icon and links"
## Overview (Required)
-  you can use that icon from 2018

                            "https://twitter.com/droidkaigi"
                            "https://github.com/DroidKaigi/conference-app-2018"
                            "https://www.youtube.com/channel/UCgK6L-PKx2OZBuhrQ6mmQZw"
                            "https://medium.com/droidkaigi"

![image](https://user-images.githubusercontent.com/1

[2019-01-05 13:48] takahirom opened #148 "Prevent click tag in session detail"
## Overview (Required)
- Now chips are clickable
- You can check session list chip implementation https://github.com/DroidKaigi/conference-app-2019/blob/master/feature/session/src/main/res/layout/item_session.xml#L102
![image](https://user-images.githubusercontent.com/1386930/50725102-d8d39b80-113b-11e9-902a-ed41e1d1d669.png)

[2019-01-05 13:54] takahirom opened #149 "Make it possible to go from the session details to the floor map"
## Overview (Required)
- When clicking this icon, please navigate to the floor map
![image](https://user-images.githubusercontent.com/1386930/50725138-63b49600-113c-11e9-95df-1ce221ee9586.png)

[2019-01-05 13:58] takahirom opened #150 "Enable to switch session display to tabular form"
## Overview (Required)
- The timetable of the session may become complicated, so it is better to have this function for that.
- Probably we can add toolbar item 🤔
- Day1 afternoon(plans)
![image](https://user-images.githubusercontent.com/1386930/50736745-772b3400-1204-11e9-99a0-ebc78d2a623f.png)

[2019-01-05 14:00] takahirom opened #151 "Cute animation for favorite session"
## Overview (Required)
- 🔖
![image](https://user-images.githubusercontent.com/1386930/50725207-84c9b680-113d-11e9-8afa-6fa45580d5e4.png)

[2019-01-05 14:14] takahirom opened #152 "Add tag simultaneous interpretation(同時通訳)"
## Overview (Required)
- Add tag in session list and session detail.
![image](https://user-images.githubusercontent.com/1386930/50725317-52b95400-113f-11e9-9cf6-cc86cb5ee3f4.png)
![image](https://user-images.githubusercontent.com/1386930/50725352-a7f56580-113f-11e9-8831-8800786d5a64.png)

[2019-01-05 14:18] takahirom opened #153 "BottomAppBar does not disappear on session details that can not be scrolled"
## Overview (Required)
- BottomAppBar does not disappear on session details that can not be scrolled

![image](https://user-images.githubusercontent.com/1386930/50725386-35d15080-1140-11e9-8471-32cdd466b8f6.png)

[2019-01-05 16:31] tomoya0x00 opened #157 "Fix session list is not displayed"
## Overview (Required)
- I don't know how to reproduce.

![screenshot_20190105-184656](https://user-images.githubusercontent.com/5106629/50726581-b7ca7500-1152-11e9-8eec-3aa6a56026dc.png)

## Links
-

[2019-01-05 17:21] takahirom opened #158 "Adaptive Icon"
## Overview (Required)
- If we get the icon file, probably we can do it 🖼

[2019-01-05 17:31] tomoya0x00 opened #159 "Fix possible filter operation even if the bottom sheet of the session list is open"
## Overview (Required)
![can_scroll](https://user-images.githubusercontent.com/5106629/50727167-55757280-115a-11e9-990a-157e5d977eb6.gif)

## Links
-

[2019-01-06 04:10] takahirom opened #164 "Display favorite buttons with codelabs and change so that they can be favorite"
## Overview (Required)
-
![image](https://user-images.githubusercontent.com/1386930/50731992-576c1f80-11b4-11e9-9c07-4da395dcd5c7.png)

- We can use session#sessionType

[code]

## Links
- https://droidkaigi2019-dev.appspot.com/api/timetable

[2019-01-06 04:18] takahirom opened #166 "Not loading progress bar when you favorite in session details"
## Overview (Required)
- Not loading progress bar when you favorite in session details

[2019-01-06 04:22] takahirom opened #167 "Sometime unneeded animation myplan tab"
## Overview (Required)
- You can see gif
![animation](https://user-images.githubusercontent.com/1386930/50732059-f34a5b00-11b5-11e9-9818-86e99e1022bc.gif)

[2019-01-06 04:24] takahirom opened #168 "Faster build by using Maven Central mirror hosted on Google Cloud Storage"
## Overview (Required)
- Maven Central mirror hosted on Google Cloud Storage
- https://storage-download.googleapis.com/maven-central/index.html

[2019-01-06 07:00] takahirom opened #172 "Delete thin line in the tab title"
## Overview (Required)
- Probably you can see it in device
![image](https://user-images.githubusercontent.com/1386930/50733168-ea648400-11cb-11e9-97c9-1db9a31212dd.png)
![image](https://user-images.githubusercontent.com/1386930/50733178-0e27ca00-11cc-11e9-9c96-0112d52f7cd2.png)

[2019-01-06 07:50] takahirom opened #175 "Make session detail text selectable"
## Overview (Required)
- Please add `android:textIsSelectable="true" `
![image](https://user-images.githubusercontent.com/1386930/50733559-27804480-11d3-11e9-94a0-30d91a101b80.png)

[2019-01-06 12:21] takahirom opened #178 "Apply SearchView design"
## Overview (Required)
- Even if it is not as designed, I want to delete the image here.
design
![image](https://user-images.githubusercontent.com/1386930/50735883-c79c9480-11f8-11e9-8977-b86e950d320b.png)
current
![image](https://user-images.githubusercontent.com/1386930/50735891-edc23480-11f8-11e9-9cd1-35680474b384.png)

[2019-01-06 12:34] takahirom opened #179 "Add search speaker initial index"
## Overview (Required)
- Please add A B C...
Design
![image](https://user-images.githubusercontent.com/1386930/50736011-9c1aa980-11fa-11e9-8ef5-e157deee6b73.png)
Current
![image](https://user-images.githubusercontent.com/1386930/50736006-84dbbc00-11fa-11e9-9883-f7effe5d9cbe.png)
## Links
- design https://gallery.io/projects/MCHbtQVoQ2HCZd9Pbpex4PVP/files/MCHtA7U1iMGr6_wk8XZwCNuDb4sy76tbjpM  (Pleas

[2019-01-06 13:02] takahirom opened #181 "Expand top touch area for session item top and bottom"
## Overview (Required)
- I want to fix only the tap area without changing the appearance.
- Expand top touch area for session item top and bottom. We can reduce the bottom touch area.
![image](https://user-images.githubusercontent.com/1386930/50736251-68418300-11fe-11e9-8fbe-a9aa27c466c9.png)
- Please be aware that time must come at the same position as the title.
![image](https://user-images.gith

[2019-01-06 13:48] takahirom opened #183 "Remove search menu icon when not session top screen"
## Overview (Required)
- It is hidden but it exists.
- You can use `setHasOptionsMenu ` and `onCreateOptionsMenu` like SearchFragment
https://github.com/DroidKaigi/conference-app-2019/blob/3851bb4c471b0b20dfc48789232c4bc96edd73e5/feature/session/src/main/java/io/github/droidkaigi/confsched2019/session/ui/SearchFragment.kt#L55
![image](https://user-images.githubusercontent.com/1386930/50736797-1d77

[2019-01-06 14:46] tomoya0x00 opened #184 "Rename SpecialSession to ServiceSession"
## Overview (Required)
- SpecialSession has changed its name to ServiceSession. However, some file names and properties remain SpecialSession.

[2019-01-06 14:51] takahirom opened #185 "Shared element transition"
## Overview (Required)
- We can do shared element transition when going to the speaker screen.

[2019-01-06 14:52] tomoya0x00 opened #186 "Delete unused textMinTop property in SessionsItemDecoration class"
## Overview (Required)
- We forgot to delete the property which is no longer used
![textmintop](https://user-images.githubusercontent.com/5106629/50737560-28829780-120e-11e9-9a22-0c61cdf87f1a.PNG)

[2019-01-06 15:04] tomoya0x00 opened #187 "Fix category tags are displayed in previous languages when switching languages from system settings"
## Overview (Required)
- Actually, after starting the application in Japanese setting, changing it to English will be like this

### Session
![session](https://user-images.githubusercontent.com/5106629/50737682-8f548080-120f-11e9-979a-b8285837193a.png)

### Filter
![filter](https://user-images.githubusercontent.com/5106629/50737686-97acbb80-120f-11e9-9bec-3241a5a2e4a5.png)

[2019-01-06 15:10] e10dokup opened #188 "Remove last item divider on About screen"
## Overview (Required)
- Divider on About Screen set to every items
- Remove divider set to last item
- This issue will be fixed to modify `DottedItemDecoration#onDrawOver`
    - https://github.com/DroidKaigi/conference-app-2019/blob/070ca0d09f3cfe7e926e94ca763336c8501a6817/feature/about/src/main/java/io/github/droidkaigi/confsched2019/about/ui/widget/DottedItemDecoration.kt

<img src="https://use

[2019-01-06 15:12] tomoya0x00 opened #189 "Show codelabs details when touch codelabs items like normal sessions"
## Overview (Required)
- When you touch codelabs items, nothing happens!

![device-2019-01-07-001021](https://user-images.githubusercontent.com/5106629/50737857-c70ff800-1210-11e9-8aee-a024f1390ba6.png)

[2019-01-06 15:26] takahirom opened #190 "Can not open session detail when 5.0 emulator device"
## Overview (Required)
-  Probably around VectorDrawable

[code]

[2019-01-06 15:41] takahirom opened #194 "Use outlined icon instead of filled icon"
## Overview (Required)
- We can use the outlined material design icon

design
![image](https://user-images.githubusercontent.com/1386930/50738200-b19ccd00-1214-11e9-884f-8dd2cebcf1a9.png)

current
![image](https://user-images.githubusercontent.com/1386930/50738192-a21d8400-1214-11e9-8a3c-c6ad7793d019.png)

https://material.io/tools/icons/?search=settin&style=outline

![image](https://user-images.g

[2019-01-06 16:11] tomoya0x00 opened #196 "Fix hamburger icon and title misaligned"
## Overview (Required)
- Probably the height of the Toolbar is incorrect

![toolbar](https://user-images.githubusercontent.com/5106629/50738573-d09d5e00-1218-11e9-843f-f4f7bc9b28c4.png)

## Links
- https://gallery.io/projects/MCHbtQVoQ2HCZd9Pbpex4PVP/files/MCHtA7U1iMGr649eY4pvpXHSGVscGYz7Lus (Please send request)

[2019-01-07 14:33] a25max commented on #196
🙋

[2019-01-07 14:44] takahirom commented on #196
You are fist assigned person! Thanks! Assigned

[2019-01-07 15:00] dnc-pop30 commented on #188
🙋

[2019-01-07 15:06] jmatsu commented on #188
Thanks @dnc-pop30 , we assigned this issue to you. :)

[2019-01-07 15:07] kitwtnb commented on #131
🙋‍♂️

[2019-01-07 15:08] shiraji commented on #167
How did you translate tabs? Swipe? Tapping tab names? or other ways?

[2019-01-07 15:08] jmatsu commented on #131
So cool. will you? @kitwtnb

[2019-01-07 15:11] takahirom commented on #167
Swipe
Essential Phone Android 9.0 🤔

[2019-01-07 15:17] jmatsu opened #215 "DeployGate Distribution Page is not found"
## Overview (Required)
- Not sure even though I'm a member of DeployGate. Anyway, I'll fix this asap

## Links
-

[2019-01-07 15:19] OldBigBuddha commented on #184
🙋

[2019-01-07 15:20] mhidaka commented on #215
hey @granoeste Thank you for your report. we really appreciate it 👍

[2019-01-07 15:20] takahirom commented on #184
Thanks 👍 Assigned

[2019-01-07 15:21] verno3632 commented on #186
🙋

[2019-01-07 15:23] jmatsu commented on #186
Thank you, @verno3632 . Please grab this :)

[2019-01-07 15:36] Hunachi commented on #143
🙋‍♀️

[2019-01-07 15:37] jmatsu commented on #143
Thanks!
We will be waiting for your PR. 👍

[2019-01-07 15:43] jmatsu commented on #2
let me check. sorry for my late response.

[2019-01-07 16:04] TomoyaShibata commented on #175
🙋

[2019-01-07 16:06] takahirom commented on #175
Thanks 👍 Assigned 🔡

[2019-01-07 16:14] rmakiyama commented on #172
🙋‍♂️

[2019-01-07 16:15] takahirom opened #219 "The code style of the project changes when opening the project"
## Overview (Required)
- It seems that this file has changed when opening, and the XML format setting disappears.
https://github.com/DroidKaigi/conference-app-2019/blob/master/.idea/codeStyles/Project.xml

## Links
-

[2019-01-07 16:16] takahirom commented on #172
Please delete it 😭

[2019-01-07 16:16] jmatsu commented on #172
@rmakiyama, thanks for your contribution.
Please send a patch this year too :)

[2019-01-07 16:19] TomoyaShibata commented on #148
Hi!

By clicking on chips the search function by tag seemed to work.
Does that mean you want to disable clicking because there is no function?

[2019-01-07 16:21] takahirom commented on #148
Yes! I want to disable clicking! ✋

[2019-01-07 16:22] ttanaka330 commented on #190
🙋‍♂️

[2019-01-07 16:23] takahirom commented on #190
Thank you for fixing high priority issue 🔥 Assigned

[2019-01-07 16:41] #175 closed

[2019-01-07 17:02] TomoyaShibata commented on #149
🙋

[2019-01-07 17:04] jmatsu commented on #149
@TomoyaShibata
So quick 💯 Could you please tackle this issue too?

[2019-01-07 18:15] shiraji commented on #219
I think this is a bug of Android Studio

https://issuetracker.google.com/issues/78097962

[2019-01-07 18:42] jmatsu commented on #69
api is now ready.
https://droidkaigi2019-dev.appspot.com/api/contributors

For more detail, please refer to https://app.swaggerhub.com/apis-docs/jmatsu/DroidKaigi2019/1.0.0

[2019-01-08 00:20] NUmeroAndDev commented on #194
🙋‍♂️

[2019-01-08 00:54] atsuya046 commented on #152
🙋‍♂️

[2019-01-08 01:10] bowyer-app commented on #178
🙋

[2019-01-08 01:11] #196 closed

[2019-01-08 01:13] takahirom commented on #178
Thanks! I think SearchView is difficult😂

[2019-01-08 01:14] panpanini commented on #167
I guess raising the number of fragments stored in memory might fix this?

https://developer.android.com/reference/android/support/v4/view/ViewPager.html#setOffscreenPageLimit(int)

[2019-01-08 01:17] stvjbz commented on #91
🙋

[2019-01-08 01:19] takahirom commented on #167
I do not know the cause, but it may be okay to fix it. It becomes slightly inefficient memory, but it may be better than animation😂

[2019-01-08 01:22] ShinjiFurukawa commented on #103
I'm in 🙋

[2019-01-08 01:22] furusin commented on #103
I'm in 🙋

[2019-01-08 01:31] takahirom commented on #186
Sorry🙇
It is fixed by https://github.com/DroidKaigi/conference-app-2019/pull/223

[2019-01-08 01:32] takahirom commented on #186
I am looking forward to the next PR!

[2019-01-08 01:32] #186 closed

[2019-01-08 01:33] jmatsu commented on #167
That might be able to hide this behavior, but it does not seem to me that it's an essential fix. It looks okay as a hotfix, of course.
Setting no transition animation and no transformation would be better though I dunno if it works.

[2019-01-08 01:50] KeithYokoma opened #226 "Migrate to Gradle Kotlin Script"
## Overview (Required)
- Let's try migrating `build.gradle` to `build.gradle.kts`!

## Links
- https://github.com/gradle/kotlin-dsl

[2019-01-08 02:11] kittinunf commented on #226
I can take this. :) :trollface:

[2019-01-08 02:12] kiuchikeisuke commented on #179
I try this! ✋

[2019-01-08 02:21] kazumax1218 commented on #183
🙋‍♂️

[2019-01-08 02:31] takahirom commented on #226
Last year, I tried challenging and had the following problem, it was slightly hard.😂
Will you try it, can you help me revert the fix when there is a problem?🙏
https://github.com/DroidKaigi/conference-app-2018/issues/677

[2019-01-08 02:34] kyoro commented on #142
🙋‍♀️

[2019-01-08 02:36] takahirom commented on #142
Thank you 👍Assigned 🔡

[2019-01-08 02:43] panpanini commented on #226
I can also help if needed! :yatteiki:

[2019-01-08 02:43] #194 closed

[2019-01-08 02:59] granoeste opened #231 "When filtering, session such as Hall A / B and Room 5 code lab and lunch is displayed"
## Overview (Required)
- When filtering, session such as Hall A / B and Room 5 code lab and lunch is displayed.
- Is it a specification?

[2019-01-08 03:07] yurihondo commented on #181
🙋

[2019-01-08 03:07] takahirom commented on #181
Thanks! Assigned 🔝

[2019-01-08 03:12] takahirom commented on #231
Sorry, let me think

[2019-01-08 03:36] NUmeroAndDev commented on #146
I would like to implement this function.

I want to ask a few questions before that.
- Call `startActivity` from the class of `[AboutSection](https://github.com/DroidKaigi/conference-app-2019/blob/master/feature/about/src/main/java/io/github/droidkaigi/confsched2019/about/ui/item/AboutSection.kt)`?
- Which AndroidManifest do you write OssLicensesActivity?
[android feature](https://github.com/Droid

[2019-01-08 03:37] takahirom commented on #146
Can you add that Activity here? 👀
https://github.com/DroidKaigi/conference-app-2019/blob/master/feature/about/src/main/AndroidManifest.xml

[2019-01-08 03:39] takahirom commented on #146
Let me think. Can we use navigation architecture component?

[2019-01-08 03:41] kyoro commented on #142
PR submitted 💪
https://github.com/DroidKaigi/conference-app-2019/pull/233

[2019-01-08 03:42] #131 closed

[2019-01-08 03:43] sys1yagi opened #234 "Can't run connectedAndroidTest"
## Overview (Required)

I tried run androidTest (`./gradlew connectedAndroidTest`) but I got error like below. 🤔

[code]

## Links

none

[2019-01-08 03:44] takahirom commented on #234
Nice catch 👍

[2019-01-08 03:50] matsujun opened #235 "Flicker when you back to timeline with back key"
## Overview (Required)

Steps
1. Open app
2. Open Drawer
3. Tap any menu item (e.g. `DroidKaigiとは` )
4. Tap back key
5. Screen filled with red color once, and back to current screen (e.g. `DroidKaigiとは` ) immediately, after that, fade transition is started (e.g. fade transition from `DroidKaigiとは` to `タイムライン`). `Screen filled with red color once` is this issue.

## Links
-

[2019-01-08 03:55] NUmeroAndDev commented on #146
@takahirom

OK. I will add to feature/about/src/main/AndroidManifest.xml

[oss-licenses-plugin](https://developers.google.com/android/guides/opensource) is provided only for activity, I think navigation can not be used. 😢

[2019-01-08 04:56] yt-tkhs commented on #67
🙋‍♂️

[2019-01-08 05:16] jmatsu commented on #67
@yt-tkhs
Thanks!
Please feel free to ask us if you have any questions.

[2019-01-08 05:32] jmatsu opened #236 "Rethink how to inject Coroutine Dispacthers"
## Overview (Required)

- @sys1yagi submitted his great idea for this matter via https://github.com/DroidKaigi/conference-app-2019/pull/230
- Now we are thinking we should refine the current injection approach for Coroutine Dispatchers
- ~We have multiple choices to tackle this issue though, after the rough discussion, we have gotten the conclusion that kotlinx's coroutine-testing is better for no

[2019-01-08 06:04] kikuchy commented on #136
Just a question.
It there any plans to place iOS API implementation source codes?

Currently, Android API implementations are placed like below (ex. `data` directory).
It seems that we should make new modules like `api-impl-ios` separating from the Android implementation module.

[code]

JetBrains's example contains Android and iOS sources into one module (to provide `actual` implementations).
htt

[2019-01-08 06:06] takahirom commented on #136
If we can, I want to do `data/api-impl/iosMain`.

[2019-01-08 06:07] kikuchy commented on #136
I see. Thank you for replying!

[2019-01-08 06:07] #142 closed

[2019-01-08 06:14] androhi commented on #153
I want to fix this issue.

[2019-01-08 06:33] jmatsu commented on #153
Depending on the scroll behavior looks better for me.
@panpanini @takahirom how about you?

[2019-01-08 06:37] takahirom commented on #153
I think so, But is it difficult?

[2019-01-08 06:43] androhi commented on #153
@jmatsu Sorry, I meant the case of the screen that can not scrolled. (according to the title.)

[2019-01-08 06:46] furusin opened #239 "Useful tools 便利なツール"
Please tell us useful tools for Android, Kotlin, review and others. Any information would be great!
知っている便利なツールを集めたらよさそうなので雑にコメントしていってください。日本語でもいいです。コメントを見て、こっちの方がいけてるよとかでも 🙆

---

# Name

# Description
-
- link

---
the last year version is [here](https://github.com/DroidKaigi/conference-app-2018/issues/300)
昨年版は[こちら](https://github.com/DroidKaigi/conference-app-2018/issues/300)

[2019-01-08 06:46] jmatsu commented on #153
oh, sorry.  I see. I prefer to `disappear when tap screen` then.

[2019-01-08 06:49] androhi commented on #153
Thanks!! me too!

[2019-01-08 06:52] takahirom commented on #153
It is good to hide the Bar without scrolling when you slide your finger up and down. It may be difficult.
So `disappear when tap screen` is ok 🙆

[2019-01-08 06:58] androhi commented on #153
Thanks!! I will fix it like that. 😄

[2019-01-08 07:04] sobaya-0141 commented on #148
担当させて頂けますか？

[2019-01-08 07:06] takahirom commented on #148
Thanks! Assigned 🐁

[2019-01-08 07:10] takahirom opened #240 "Sync failed with android studio error"
## Overview (Required)
- When I open a project and sync first time.

![image](https://user-images.githubusercontent.com/1386930/50815248-c76ad900-135f-11e9-9177-c2e243872b8f.png)

[code]

[2019-01-08 07:21] KeithYokoma opened #241 "Upgrade Gradle to 5.1"
## Overview (Required)
- Include tasty updates in Gradle 5.1 to make the build more friendly with Kotlin DSL and faster.

## Links
- Release Note: https://docs.gradle.org/5.1/release-notes.html
- Migration Guide from 4.x to 5.1: https://docs.gradle.org/5.1/userguide/upgrading_version_4.html

[2019-01-08 07:43] susan335 commented on #240
I had same problem.
I solved it when I updated the kotlin plugin to v1.3.11-release-Studio3.2-1.

[2019-01-08 07:49] takahirom commented on #240
Thanks!! You saved me 🥇
![image](https://user-images.githubusercontent.com/1386930/50816725-cab49380-1364-11e9-8829-8a3d3591854d.png)

[2019-01-08 07:50] #240 closed

[2019-01-08 07:52] kirimin commented on #164
I'll try to do this one! ✋

[2019-01-08 07:57] takahirom commented on #164
I think it is a little hard 👍
Assigned
Please ask me anytime

[2019-01-08 08:04] kirimin commented on #164
OMG, Really? lol
Anyway I'll try. 💪

...Sorry if I can't complete this.

[2019-01-08 08:10] takahirom commented on #164
The service session id is not int. And favorite session id is defined as int.
Perhaps I think it should be able to handle it as a String, but if something happens, please say it 🙇
https://github.com/DroidKaigi/conference-app-2019/blob/master/data/firestore-impl/src/main/java/io/github/droidkaigi/confsched2019/data/firestore/FirestoreImpl.kt#L18

[2019-01-08 08:12] takahirom commented on #164
https://droidkaigi2019-dev.appspot.com/api/timetable

[2019-01-08 09:08] takahirom commented on #239
I want to know how to record screen gif.
I am using scrcpy + LICEcap.

[2019-01-08 09:53] takahirom commented on #241
Currently, the stable version of the Android Gradle Plugin is not supported Gradle 5.1.

[2019-01-08 09:53] #241 closed

[2019-01-08 10:36] takahirom commented on #179
@kiuchikeisuke
Sorry, I lost your message 🙇
Assigned 👍

[2019-01-08 10:55] #178 closed

[2019-01-08 11:34] NUmeroAndDev opened #248 "Top のレイアウトが Backdrop を想定しているならばガイドラインとは異なる動きになっている"
## Overview (Required)

Top のセッション一覧のレイアウトが Backdrop を想定されている場合、Front のレイヤーを下にスワイプで Back のレイヤーを表示させるのは[ガイドラインでは not good](https://storage.googleapis.com/spec-host-backup/mio-design%2Fassets%2F1UVuVUAf_iFfm4QgtP_ItkStQA9uYIv26%2Fbehavior-reveal-swipe-dont.mp4) 🙅‍♂️
ただし、gallery からは Backdrop を使いたいのか、BottomSheet の挙動を想定しているのかデザイナーの意図が読み取れない。

もし、Backdrop を想定しているならば Front のレイヤーを下にスワイプで Back のレイヤーを表示させない

[2019-01-08 11:47] takahirom opened #249 "Session type id is wrong"
## Overview (Required)
In server definition.

[code]

↓ This is app definition.

[code]

[2019-01-08 11:54] furusin commented on #239
Me either.
I used to use AndroidTools but work for only jpg or mp4.

[2019-01-08 12:03] #172 closed

[2019-01-08 12:08] KeithYokoma commented on #239
I use AndroidStudio to record a screen and generate mp4, then pass it to https://ezgif.com/video-to-gif to convert to gif.

[2019-01-08 12:15] tarumzu commented on #239
I am using AndroidStudio Screen record.
This can be gif directly

<img width="300" alt="2019-01-08 21 10 34" src="https://user-images.githubusercontent.com/9943053/50830197-6dcbd400-138a-11e9-95e4-3317e18fad2d.png">

[2019-01-08 12:42] kumamotone commented on #239
<img src=https://user-images.githubusercontent.com/8403570/50831267-a8833b80-138d-11e9-9601-7a039992a320.png width=400>

I often use [GIF Brewery](https://gfycat.com/gifbrewery) to record screen gif.

My favorite features are...

### Resize

<img src=https://user-images.githubusercontent.com/8403570/50830784-2d6d5580-138c-11e9-941b-274ecf102d89.png width=400>

to paste to Github with appropriate s

[2019-01-08 12:52] kwmt commented on #239
I also create a mp4 file using AS and then pass it to following script.
https://gist.github.com/ecoopnet/6b79cefb74548c15d01c7c5119720a35

[2019-01-08 12:52] kumamotone commented on #239
Truthfully, I want to use AndroidStudio's feature as @furusin @KeithYokoma @tarumzu commented because very simple.
But I still hasn't been found the solution that convert to gif with desired file size and quality ( @KeithYokoma introduce ezgif.com but I prefer tools that run locally..)
If anyone know how to do this, I want to know..

[2019-01-08 12:53] Luecy1 commented on #166
🙋

[2019-01-08 13:05] takahirom commented on #166
Thanks 👍 Assigned 🙏

[2019-01-08 13:10] #91 closed

[2019-01-08 13:10] sys1yagi commented on #236
Additional information on the coroutine-test.

## pros

- Dispatchers.setMain can only be accessed with test scope. It can keep clean production code.

## cons

- Supports only the main dispatcher. You cannot replace Dispatchers.IO etc.
- `coroutine-test` replace implicitly MainCoroutineDispatcher to TestMainDispatcher. So, you have to call "Dispatchers.setMain()", If your target code of testing u

[2019-01-08 13:12] Ryu236 commented on #249
:raising_hand_man:

[2019-01-08 13:13] takahirom commented on #249
Assigned 🐎

[2019-01-08 13:16] sys1yagi commented on #236
For now, CoroutinePlugin(The current mechanism) seems a good way to keep the code flexible and clean.

[2019-01-08 13:20] ttanaka330 commented on #190
@takahirom
Thank you for the merge!!😄
Please close Issue as PR has been merged.

[2019-01-08 13:46] nukka123 commented on #240
@takahirom
I think, we should explain the Kotlin plugin requirements in `README.md`.

[2019-01-08 14:06] #146 closed

[2019-01-08 14:16] #249 closed

[2019-01-08 14:31] #190 closed

[2019-01-08 14:44] ronnnnn commented on #159
🙋‍♀️

[2019-01-08 14:45] takahirom commented on #159
Thanks 👍 Assigned 📺

[2019-01-08 15:04] a25max commented on #101
🙋

[2019-01-08 15:09] matsujun commented on #20
🙋

[2019-01-08 15:10] jmatsu commented on #20
@matsujun thank you so much!

[2019-01-08 15:10] jmatsu commented on #20
If you have any question, please feel free to ask us.

[2019-01-08 15:12] jmatsu commented on #248
Thanks for your report. Let me ask our designers.

[2019-01-08 15:14] jmatsu commented on #101
@a25max
Thank you so much! Could you please address this issue?

[2019-01-08 15:14] #159 closed

[2019-01-08 15:16] jmatsu commented on #236
Oh my...thank you for your dedicated investigation. 🆒

[2019-01-08 15:18] #147 closed

[2019-01-08 15:20] jmatsu commented on #231
As we talked in person, this is by design. Thanks for sharing your notice!

[2019-01-08 15:20] #231 closed

[2019-01-08 15:22] jmatsu commented on #235
Thank you for your report! We welcome fixing of this matter. :)

[2019-01-08 15:52] fumiya-kume commented on #69
Maybe Contributors API is now avaivable, and i want to assinged this issue.

[2019-01-08 15:57] jmatsu commented on #134
On the dev server.

Day2 15:40:00~ `WiFi Direct + VpnServiceでSIM無しAndroidをWeb世界に社会復帰させる話` (Revive Android devices with no SIM to Internet world using WiFi Direct and VpnService") has the both of links.
Day1 15:40:00~ `Understanding  Kotlin Coroutines: コルーチンで進化するアプリケーション開発` (Understanding  Kotlin Coroutines: the advancements made in application development) has the video url only
Day1 16:00:00~ `詳解

[2019-01-08 15:57] takahirom commented on #69
Thanks!!
Assigned🙌

[2019-01-08 15:58] jmatsu commented on #121
For now, it's okay to just share the only session web url as text.

[2019-01-08 16:02] jmatsu commented on #2
That's due to my configuration failure. 😇 let me close!

[2019-01-08 16:02] #2 closed

[2019-01-08 16:20] kafumi commented on #52
Could I try this issue? ✋

Also, if there are some design spec or color guide of this app which can help implementing these chips, I'd like to see. Is such material available? (I guess it's not, though)

[2019-01-08 16:22] verno3632 commented on #185
🙋‍♂️

[2019-01-08 16:39] takahirom commented on #52
Thank you for tackling this issue 👍

Exactly.
If you can wait for one week, we probably some spec 🤔 (Designer is busy 😭 )

[2019-01-08 16:47] #143 closed

[2019-01-08 16:50] kafumi commented on #52
I can understand the situation... In that case, is it okay to try implementing the chip behavior with tentative simple colors (e.g. red, white, and black) first? I think I need time to investigate if it's possible to achieve the animation with standard `Chip`s or I need custom view with low-level canvas drawing as in iosched.

[2019-01-08 16:50] fumiya-kume opened #266 "unnecessary safe call on a non-null - 不必要なNullチェックしている"
## Overview (Required)
- unnecessary null check

https://github.com/DroidKaigi/conference-app-2019/blob/ad2ec2e9a6ed39159204d7f649d8e6aef4ea7b62/feature/session/src/main/java/io/github/droidkaigi/confsched2019/session/ui/item/ServiceSessionItem.kt#L23

[2019-01-08 16:54] miga9 commented on #144
I would love to work on this one 🙋‍♂️

[2019-01-08 17:06] h3birth commented on #121
🙋‍♂️

[2019-01-08 17:11] takahirom commented on #52
I think we should use the custom view. But If you can do it. Please do it.
I think like this 👀

* text
↑white dot
   ↑ text color:white    background:red

text x
↑ text color:black    background:white

[2019-01-08 17:12] takahirom commented on #52
Assigned 🙏

[2019-01-08 17:15] #266 closed

[2019-01-08 17:17] kafumi commented on #52
Thank you for the assignment. I've read the code of `Chip` & `ChipDrawable` and just found it's impossible to implement animation with it 😇Will create custom view.

Regarding coloring, I thought exactly what you suggest. It's clear. Thank you!

[2019-01-08 17:20] takahirom commented on #52
We are waiting for your PR 🙌

[2019-01-08 17:20] #20 closed

[2019-01-08 17:23] jmatsu opened #268 "Remove warnings by excluding kotlin_module"
## Overview (Required)
- The current apk contains unprotected meta files so you can see so many many many warnings...
- These warnings can be removed by excluding warned kotlin_modules.

*verification command*

[code]

*result*

[code]

## Links
- How to verify the apk https://github.com/DroidKaigi/conference-app-2019/pull/264#issuecomment-452359301

[2019-01-08 17:30] youmitsu commented on #108
🙋

[2019-01-08 17:32] takahirom commented on #268
But, Is there any needed file? 🤔

[2019-01-08 17:33] takahirom commented on #108
I think it is difficult. 🔥 Please tackle it 👍

[2019-01-08 17:38] takahirom commented on #144
Thank you every year! I am longing for your PR 😄

[2019-01-08 17:41] yurihondo opened #269 "The icons on the status bar are disappears if it overlaps with the drawer"
## Overview (Required)
The cause of this issue is that the drawer is overlapped the status bar and
the icons are assimilated with the background color of the drawer.
For example, you can solve this issue by changing a color of the icons on the status bar when pulling out the drawer.

## Step by steps
1. Launch app
2. Open left side drawer
3. Check the notification icon which overlapped the drawer

[2019-01-08 17:46] takahirom commented on #269
Since it is not a big problem so far,
If it is not a bad code and the design seems to be okay, I would like to put this function into the application. 👍

[2019-01-08 18:44] chibatching commented on #93
🙋‍♂️

[2019-01-08 19:28] nukka123 opened #272 "Wrong klock DateTime conversion."
## Overview (Required)

Several klock `DateTime` conversion code seems wrong...

### Superficial problem.

The time when "Go to survey" is displayed is shifted.

1) Set Android device time like as 2019 Feb. 7, 21:00 (GMT+9:00 (Japan Standard Time))
2) launch droidkaigi app.

we expected following behavior.
All Day1 Session is finished. ("Go to survey" is displayed).

but actual result is as follow

[2019-01-08 22:41] NUmeroAndDev commented on #134
🙋‍♂️

[2019-01-08 23:13] fumiya-kume commented on #69
# memo
API Call class:
conference-app-2019/data/api-impl/src/commonMain/kotlin/io/github/droidkaigi/confsched2019/data/api/KtorDroidKaigiApi.kt
API Call Define:
conference-app-2019/data/api/src/commonMain/kotlin/io/github/droidkaigi/confsched2019/data/api/DroidKaigiApi.kt

[2019-01-09 00:03] satoshun opened #274 "use Timber Mpp?"
## Overview (Required)

timber supports multi platform from 5.0.0-SNAPSHOT. How about using it?

pros
- Timber Android ecosystem is so large.
- Timber has a flexible API.

cons
- snapshot... not stable.
- iOS sample implements not exists in Timber project. So we must be implemented code for iOS Timber log.

## Links
- Timber: https://github.com/JakeWharton/timber
- SdkSearch: https://github.com/Ja

[2019-01-09 00:07] takahirom commented on #274
I don't know that! I think that it is absolutely better than my implementation.

[2019-01-09 00:16] satoshun commented on #274
thx reply! I think that it is better to look actual code. I make a PR 😃

[2019-01-09 00:18] takahirom commented on #272
You help me every year😂😂I tagged this high priority!

[2019-01-09 00:25] katsuki-nakatani opened #275 "Progress does not hide after reading session / セッション読み込み後にプログレスが非表示にならない"
## Overview (Required)
アプリ起動直後のセッションを読み込んだあとにProgressが非表示にならない

一度アプリをBackgroundにしてから、再度Foreground(Resume)すると非表示になる
![screenshot_20190109-091328](https://user-images.githubusercontent.com/6699802/50867874-4dcefb80-13f0-11e9-9dab-70d66e75e63f.png)

[2019-01-09 00:42] chibatching commented on #93
No worries!

I have a point that I can't understand clearly from the design.
Is this footer image scrolled with other menu items? or fixed on the bottom of the navigation drawer (in other words, overlay on other navigation view menu contents)?

[2019-01-09 00:42] #152 closed

[2019-01-09 01:19] takahirom commented on #93
Thanks! Certainly the survey should not scroll. I have plans to meet with designers this evening so I will ask.

[2019-01-09 01:42] takahirom commented on #93
There was a reply from the designer. It seems better not to scroll!

[2019-01-09 01:46] sobaya-0141 opened #280 "Session Detailにてタグの数が多いとレイアウトが崩れる / The large number of chips in the session detail screen would break their text alignment"
## Overview (Required)
- 検証端末Nexus6(Android7.1.1)

![2019-01-09 10 42 00](https://user-images.githubusercontent.com/45986582/50870528-b7a0d280-13fb-11e9-9697-bccd315b2975.png)

[2019-01-09 02:41] jmatsu commented on #268
AFAIK, that's not needed for apk. As for aar, it might be required, I'm not sure exactly though.

[2019-01-09 04:44] takahirom commented on #121
Thanks 👍 Please add share feature to ActivityActionCreator.

[2019-01-09 04:44] takahirom commented on #121
Assigned

[2019-01-09 04:49] #148 closed

[2019-01-09 04:53] #134 closed

[2019-01-09 04:55] #280 closed

[2019-01-09 05:05] Akihiroooo commented on #33
I think I will challenge 🙋‍♂️
After checking the operation, it seems that savedInstanceState is null at the screen transition. When you rotate the screen, `savedInstanceState` exists.
I do not have confidence 😇

[2019-01-09 05:08] sys1yagi commented on #234
It seems to be caused by copying a dummy test code to a module which is not supposed to use androidTest. ex data, db module ...
And all AndroidTest code is still empty.

So, I will delete the androidTest which will cause compile error first.
is it okay?

[2019-01-09 05:09] takahirom commented on #234
OK 🙆‍♂️

[2019-01-09 05:18] #103 closed

[2019-01-09 05:21] takahirom opened #289 "Use Chrome Custom Tab for open url"
## Overview (Required)
- Title says everything

## Links
- https://github.com/DroidKaigi/conference-app-2019/blob/master/feature/system/src/main/java/io/github/droidkaigi/confsched2019/system/actioncreator/ActivityActionCreator.kt#L10

[2019-01-09 05:22] takahirom opened #290 "Replace LocaleMessage with LocaledString"
## Overview (Required)
- Please delete LocaleMessage and use LocaledString

[2019-01-09 05:26] takahirom opened #291 "When open session/speaker detail from search result, Keyboard is not hidden"
## Overview (Required)
- title says everything
![image](https://user-images.githubusercontent.com/1386930/50878518-78ce4500-141a-11e9-8adf-7e09ff8abb3a.png)

[2019-01-09 05:29] NUmeroAndDev opened #292 "Session detail screen has a view which does not exist in gallery"
## Overview (Required)
- EmojiTextView with id `session_message` does not exist in gallery.
Is it okay to remove this?

## Links
- https://github.com/DroidKaigi/conference-app-2019/blob/fd911fb18843ab31f08085d9f7ee131a3d82fea2/feature/session/src/main/res/layout/fragment_session_detail.xml#L297

[2019-01-09 05:31] jmatsu commented on #292
Oh sorry, It's required.
For example, the view will appear when the room of the session will be changed.

[2019-01-09 05:32] takahirom commented on #290
Thanks! Assigned ♻️

[2019-01-09 05:32] jmatsu commented on #275
Thank you for your report! We look forward to receiving the fix. :)

[2019-01-09 05:35] takahirom commented on #292
There is it 😄
![image](https://user-images.githubusercontent.com/1386930/50878822-c8f9d700-141b-11e9-83b8-532c91ee1371.png)

[2019-01-09 05:39] takahirom opened #294 "Unit test for AnnouncementActionCreator/AnnouncementStore"
## Overview (Required)
- You can try mockk like SessionContentsActionCreatorTest and SessionContentsStoreTest 👍

## Links
- https://github.com/DroidKaigi/conference-app-2019/blob/master/feature/session/src/test/java/io/github/droidkaigi/confsched2019/session/ui/actioncreator/SessionContentsActionCreatorTest.kt
- https://github.com/DroidKaigi/conference-app-2019/blob/master/feature/session/src/test

[2019-01-09 05:53] takahirom opened #295 "Add firestore to .idea/dictionaries/dic.xml"
## Overview (Required)
-
![image](https://user-images.githubusercontent.com/1386930/50879435-3e66a700-141e-11e9-9af7-c65a64184a6c.png)

[2019-01-09 05:53] NUmeroAndDev commented on #292
@takahirom
@jmatsu

I understood.

However, it is not implemented to set SessionMessage to EmojiTextView.
If it is not on the issue, will you create as soon as the design is decided?

[2019-01-09 05:55] takahirom commented on #292
I found it here 👀
https://github.com/DroidKaigi/conference-app-2019/blob/32e751c94c0135c93d9a5a5efa3f29f4fdbe3f01/feature/session/src/main/java/io/github/droidkaigi/confsched2019/session/ui/item/SpeechSessionItem.kt#L81

[2019-01-09 05:57] NUmeroAndDev commented on #292
@takahirom
Sorry, It is about the session detail screen 🙇

[2019-01-09 06:07] takahirom commented on #292
Thanks 🙇

[2019-01-09 07:07] keijumt commented on #294
🙋

[2019-01-09 07:08] takahirom commented on #294
Thanks! Assigned 💯

[2019-01-09 07:32] Akihiroooo commented on #33
I thought, this seems to be a normal movement...

[2019-01-09 07:34] takahirom commented on #33
If you can do it 🙏
Should I assign you?

[2019-01-09 07:48] kaya5777 commented on #291
🙋

[2019-01-09 08:10] Akihiroooo commented on #33
I'll do it 🙋‍♂️

yes

[2019-01-09 08:10] takahirom commented on #33
Thanks 👍 Assigned

[2019-01-09 08:47] jmatsu opened #305 "Enable offline builds on CI"
## Overview (Required)
- jcenter looks untable so we should avoid downloading any dependencies on CI
- In the first place, you guys love faster builds, don't you?

## Links
- None

[2019-01-09 08:56] #153 closed

[2019-01-09 09:10] chibatching commented on #93
Sorry, I have an additional question.
Where can I get or use footer logo image from?

[2019-01-09 09:10] jmatsu commented on #305
Done. Please retrieve the latest master.

[2019-01-09 09:14] #294 closed

[2019-01-09 09:19] jmatsu commented on #291
Thank you and I overlooked your comment, sorry.

[2019-01-09 09:20] #290 closed

[2019-01-09 09:22] #289 closed

[2019-01-09 11:41] NUmeroAndDev commented on #295
🙋‍♂️

[2019-01-09 11:44] takahirom commented on #295
Thanks 👍 Assigned 📘

[2019-01-09 12:09] NUmeroAndDev commented on #295
@takahirom

I do not see a warning in my AndroidStudio.

![screenshot](https://user-images.githubusercontent.com/13705006/50898369-535d2d80-1452-11e9-9f5b-c6fb2b5b27f8.png)

Has it already been fixed?

https://github.com/DroidKaigi/conference-app-2019/blob/31b53077ca2751c089762e284e6bcebf479c60be/.idea/dictionaries/dic.xml#L11

[2019-01-09 12:10] #183 closed

[2019-01-09 12:12] takahirom commented on #295
It is not applied 🤔
But.. thanks 🙇

[2019-01-09 12:12] #295 closed

[2019-01-09 13:57] takahirom commented on #93
@chibatching
Sorry for late 🙇
You can use this image 🙏
https://github.com/DroidKaigi/conference-app-2019/pull/314

[2019-01-09 14:31] #33 closed

[2019-01-09 14:40] #234 closed

[2019-01-09 14:42] #166 closed

[2019-01-09 14:47] yumemi-hkusu commented on #151
It seems possible, writing as follows in `SessionDetailFragment.kt`.

[code]

<img src="https://user-images.githubusercontent.com/44076858/50906232-ff5d4380-1467-11e9-8631-740744e7efc2.gif" width="300">

(Sorry, I can do it because busy)

If possible, It may be nice to solve the time lag until it is reflected.

[2019-01-09 14:54] takahirom commented on #151
Nice and simple animation!🔖
Do you want to implement it? I will assign you.

[2019-01-09 14:57] yumemi-hkusu commented on #151
Sorry, I can do it because busy.. ( I have to make a session slide..  )

[2019-01-09 15:12] Akihiroooo commented on #239
I defined the following command in `.bash_profile` before I got the findings in this place 😭

[code]

[code]

[2019-01-09 15:37] takahirom opened #315 "Space between session tab"
## Overview (Required)
- 16dp space to here
![image](https://user-images.githubusercontent.com/1386930/50909759-db9dfb80-146f-11e9-9c3c-ba1bcce67f2e.png)

[2019-01-09 15:40] takahirom opened #316 "Add simultaneous interpretation(同時通訳) Filter"
## Overview (Required)
- I think "言語サポート"  Language support title. and tag name is "同時通訳" simultaneous interpretation
![image](https://user-images.githubusercontent.com/1386930/50909899-1b64e300-1470-11e9-9502-4ca6a24793cf.png)

[2019-01-09 15:43] takahirom opened #317 "Increase the SNS icon size"
## Overview (Required)
- Please expansion x 1.5

![image](https://user-images.githubusercontent.com/1386930/50910140-8a423c00-1470-11e9-8ea5-16bc9ef2ceb7.png)

[2019-01-09 15:48] takahirom opened #318 "Show Filtered(絞り込み中) to sessions title"
## Overview (Required)
- Use "絞り込む"  instead of "絞り込み中", When Filte is working.
Probably The English word is "Filtered".
![image](https://user-images.githubusercontent.com/1386930/50910360-0046a300-1471-11e9-9404-97719d62d611.png)
![image](https://user-images.githubusercontent.com/1386930/50910434-1f453500-1471-11e9-85e8-264d8c834c35.png)

[2019-01-09 15:53] takahirom opened #319 "Dashed line for session list"
## Overview (Required)
-
![image](https://user-images.githubusercontent.com/1386930/50910862-0426f500-1472-11e9-8c76-be9af8e66268.png)

## Links
- https://gallery.io/projects/MCHbtQVoQ2HCZd9Pbpex4PVP/files/MCHtA7U1iMGr6907YDmqSpaup_woDHhdXis (Please Open and Request permission)

[2019-01-09 15:56] takahirom commented on #292
Now it is added to the design 👍
https://gallery.io/projects/MCHbtQVoQ2HCZd9Pbpex4PVP/files/MCHtA7U1iMGr6907YDmqSpau_jMZ_VsmeAE (Please open and request permission 🙏 )

[2019-01-09 16:00] takahirom opened #320 "Add Intended Audience to session detail"
## Overview (Required)
- Add Intended Audience to session detail
- Session has intendedAudience: String field
design
![image](https://user-images.githubusercontent.com/1386930/50911353-0e95be80-1473-11e9-8f2d-ad80a39a1f1d.png)

## Links
- https://gallery.io/projects/MCHbtQVoQ2HCZd9Pbpex4PVP/files/MCHtA7U1iMGr6907YDmqSpau_jMZ_VsmeAE (Please open and request permission 🙏 )

[2019-01-09 16:21] sadashi-ota commented on #315
I'll take this one. :raised_hand:

[2019-01-09 16:22] takahirom commented on #315
Thanks! I am looking forward to seeing what happens after implementation. 😄

[2019-01-09 16:49] kafumi commented on #52
I've implemented the animated chips with simple colors on #287. I didn't make #287 to close this #52 because we still need to apply colors to the chips after such design direction comes out.

However, it might be better to track the remaining task as another issue. If you think so too, please close this one.

[2019-01-09 17:06] takahirom commented on #168
Thanks 👍 Assigned ☁️

[2019-01-09 17:11] kafumi opened #324 "Unexpected time text appears on session list when toggling fav status"
## Overview (Required)

- On session list, when changing session favorite status, unexpected time text can appear for a moment
- This issue can be always reproduced if
  - the time frame has multiple session AND
  - change favorite status of the session listed last in the time frame

![svid_20190109_223459_1](https://user-images.githubusercontent.com/12084705/50915589-2400ed80-145f-11e9-8cde-340e2

[2019-01-09 17:41] takahirom commented on #324
Thanks!!!

[2019-01-09 17:51] takahirom opened #327 "Add forBeginners field to Session.SpeechSession in Session.kt from API"
## Overview (Required)
- Please add forBeginners field. It is used by the tag
- You don't need to modify UI

## Links
- Similer: https://github.com/DroidKaigi/conference-app-2019/pull/199/files
- API : https://droidkaigi2019-dev.appspot.com/api/timetable

[2019-01-09 17:55] takahirom commented on #179
@kiuchikeisuke
Thank you for the question 🙏
I talk to Designer.And you can check the design. Can you tackle this?
![image](https://user-images.githubusercontent.com/1386930/50918293-26753e80-1483-11e9-8a98-8f51058c7ed1.png)

https://gallery.io/projects/MCHbtQVoQ2HCZd9Pbpex4PVP/files/MCHtA7U1iMGr6-ZF5RXVf1KRWr8VHz3wbOk (Please send request)

[2019-01-09 18:01] takahirom commented on #52
Thanks! Designers will decide the color. We can create that time

[2019-01-09 18:01] #52 closed

[2019-01-09 18:03] takahirom opened #328 "Session tab animation"
## Overview (Required)
- Move the chip frame
- It's very exciting. (I do not know how to implement it 😉 )
https://storage.googleapis.com/spec-host-backup/mio-design%2Fassets%2F1ZL4CiG4FN1MxyTuSqZqU_xX_V5pDakCs%2Fnavtransitions-peer.mp4

[2019-01-09 18:19] takahirom commented on #315
@sadashi-ota
If you want to retry, Please do it. 🙏
https://storage.googleapis.com/spec-host-backup/mio-design%2Fassets%2F1ZL4CiG4FN1MxyTuSqZqU_xX_V5pDakCs%2Fnavtransitions-peer.mp4

[2019-01-09 19:07] kafumi commented on #167
I believe the main problem here is that the bottom sheet on MyPlan is collapsed when swiping from MyPlan to Day2. The animation when swiping from Day2 to MyPlan is the result of the previous collapse.

Here is my observation:

- Reproducibility depends on swipe angle
- The issue is never reproduced when user starts swipe on RecyclerView
  - I guess that is the reason why this issue can happen only

[2019-01-09 21:30] NUmeroAndDev commented on #292
🙋‍♂️

[2019-01-09 22:51] sadashi-ota commented on #315
Oh..., I'm sorry, I misunderstood.
I'll try again.

[2019-01-10 00:05] nano-nano commented on #317
✋️

[2019-01-10 00:12] NUmeroAndDev commented on #320
🙋‍♂️

How do you translate `対象者`?

[2019-01-10 00:48] jmatsu commented on #320
`Intended Audience` it is. 👍

[2019-01-10 00:49] jmatsu commented on #320
Could you please handle this issue? Thanks.

[2019-01-10 00:49] jmatsu commented on #317
Thank you so much. We look forward to seeing your PR.

[2019-01-10 00:51] n-seki commented on #327
:raising_hand:

[2019-01-10 00:54] jmatsu commented on #327
We assigned this issue to you, thanks. Please feel free to ask us if you have any questions.

[2019-01-10 00:56] NUmeroAndDev commented on #318
🙋‍♂️

[2019-01-10 02:08] #292 closed

[2019-01-10 02:19] #318 closed

[2019-01-10 02:32] #274 closed

[2019-01-10 03:13] #320 closed

[2019-01-10 03:46] #121 closed

[2019-01-10 05:14] #291 closed

[2019-01-10 05:30] #93 closed

[2019-01-10 05:39] shihochan opened #338 "Improve bot name and icon"
## Overview (Required)
- This bot is so useful, BUT
- What is "jmatsu" ??
- This icon is not getting motivated to develop.

<img src="https://user-images.githubusercontent.com/4586632/50948240-2017ae80-14e5-11e9-92ab-cc5fa01eabbe.png" width=300>

[2019-01-10 05:43] jmatsu commented on #338
i'm sorry

[2019-01-10 06:30] kazumax1218 commented on #316
🙋‍♂️

[2019-01-10 06:31] panpanini commented on #316
Thanks!! assigned 💯

[2019-01-10 07:06] #184 closed

[2019-01-10 07:44] NUmeroAndDev commented on #328
If it is only animation, it can be implemented only with TabLayout.
https://github.com/NUmeroAndDev/conference-app-2019/commit/3b7a44f1b90f04923865de6004a92d157ff2242a

<img src="https://user-images.githubusercontent.com/13705006/50952705-940d8300-14f4-11e9-82f5-6a3ecdc331c0.gif" width="45%">

I challenged Ripple to be the same as the link, but it was difficult. 😢

[2019-01-10 07:49] takahirom commented on #328
`tabIndicator="@drawable/shape_pill_indicator"` 🆒
After merging, if you open Ripple effect issues, it seems to be better than ripple effect.

[2019-01-10 09:15] #328 closed

[2019-01-10 09:18] androhi commented on #68
@takahirom If there is not a person to do, I want to do!

[2019-01-10 09:20] androhi commented on #68
I sent the request to the gallery.

[2019-01-10 09:21] panpanini commented on #68
assigned!!

[2019-01-10 09:21] takahirom commented on #68
Thanks! approved request! 👍

[2019-01-10 09:33] panpanini commented on #68
Thats correct! 💯

[2019-01-10 12:44] OldBigBuddha commented on #268
I try :raising_hand_man:

[2019-01-10 12:51] e10dokup commented on #268
Thanks @OldBigBuddha ! We assigned this issue to you.

[2019-01-10 13:07] tomoya0x00 opened #346 "Rename ic_settings_outline_black_24px to ic_settings_outline_black_24dp"
## Overview (Required)
- We made a few mistakes in the file name 😢
- `24px` is wrong. `24dp` is correct.

- current
`ic_settings_outline_black_24px`

- correct
`ic_settings_outline_black_24dp`

[2019-01-10 13:07] tomoya0x00 commented on #346
file path:
`/frontend/android/src/main/res/drawable/ic_settings_outline_black_24px.xml`

[2019-01-10 13:21] #317 closed

[2019-01-10 13:21] devkudou commented on #346
🙋

[2019-01-10 13:22] e10dokup commented on #346
@devkudou Thanks! Please grab this issue!

[2019-01-10 13:37] kikuchy opened #348 "Implement :data:db for iOS instead of :data:db-room"
## Overview (Required)
- In order to achieve #136, we should make iOS implementation (as Kotlin/Native module) of `:data:db` instead of `:data:db-room` .
- Or make `:data:db-room` Kotlin Multiplatform module.
- The role of `:data:db-room` is caching of Sessions, Speakers and Sponsers (maybe). iOS implementatuon can use `NSUserDefaults` to save data.

## Links
- https://developer.apple.com/document

[2019-01-10 13:38] jmatsu commented on #272
That's from sessionize weird spec... :sad: let me add the timezone information to the api. I will get back here after fixing this, but i do not have time to work on this today, sorry.

[2019-01-10 13:50] daisuke-nomura commented on #239
Flipperはどうでしょう
https://fbflipper.com/

Getting Startedが誤ってたり、jcenterに最新が上がってなかったりしますのでご注意

[2019-01-10 13:53] takahirom commented on #239
I dont know that😍
Is that better than stetho?

[2019-01-10 14:04] gen0083 opened #350 "Edge effect is not shown when over-scrolling session item"
## Overview (Required)
- When I scrolling session page at the bottom and over, edge effect is not shown. Is this as expected?
- Other RecyclerView (eg. about) gets edge effect.

## Links
- none

[2019-01-10 14:31] gen0083 commented on #187
In order to solve this problem, I think it is necessary to listen to ACTION_LOCALE_CHANGE broadcast.
This will also be necessary to set up NotificationChannel in the future.
However, since I am not familiar with multi-module manners, I do not know where is better to place the BroadcastReceiver.

- feature/system (because it relates to the system)
- frontend/android (because it is about android)
-

[2019-01-10 14:43] takahirom commented on #187
Thank you for a question!
I think we can listen to ACTION_LOCALE_CHANGE broadcast in SystemActionCreator.
And If you call `dispatcher.launchAndDispatch(Action.SystemPropertyLoaded(systemProperty))`
Languages are applied.
https://github.com/DroidKaigi/conference-app-2019/blob/master/feature/system/src/main/java/io/github/droidkaigi/confsched2019/system/actioncreator/SystemActionCreator.kt#L19
If we

[2019-01-10 14:53] takahirom commented on #187
Probably we should use something about lifecycle for that.
I think that lifecycle may be passed to ActionCreator if necessary.

[2019-01-10 15:16] takahirom opened #351 "BottomAppBar cradle FAB is filled"
## Overview (Required)
- you can do it like this
- Scroll down -> Fav -> Scroll up
![screenshot_2019-01-11-00-14-52](https://user-images.githubusercontent.com/1386930/50977596-f470e480-1535-11e9-94fa-03b5e2e83a74.jpg)

## Links
-

[2019-01-10 15:44] gen0083 commented on #187
You open my eyes!
I was thinking that I had to implement BroadcastReceiver.
I'll try it.

[2019-01-10 16:09] nukka123 commented on #272
nice!
But, be careful. If api fix first, `dateFormat.parse(startsAt)` will be throws Exception.
We need tempolary workaround like as

[code]

[2019-01-10 16:12] jmatsu commented on #272
Good catch!
So... then how about adding `startsAtWIthTZ` and `endsAtWithTZ` as new fields? This does not affect the current behavior but would be able to realize what we want.

[2019-01-10 16:20] amay077 commented on #272
Good for we.

I will send PR what contains listed code:

[code]

If you added ``startsAtWithTZ `` and ``endsAtWithTZ `` then I will replace ``+09:00`` to it.

[2019-01-10 16:21] takahirom commented on #272
Thanks 🙏

[2019-01-10 16:48] kiuchikeisuke opened #356 "Add search sessions func / セッションの検索機能追加"
## Overview (Required)
- Add search sessions function

## Links
- #179

[2019-01-10 16:49] takahirom commented on #179
Sorry I miss your comment 🙇

[2019-01-10 16:49] kiuchikeisuke opened #357 "Add search session initial index / セッションのイニシャルインデックス追加"
## Overview (Required)
- Add search session initial index

## image
Expect | Current
:--: | :--:
<img src="https://user-images.githubusercontent.com/1386930/51029206-08b9ed80-15d9-11e9-9211-2a5c593cb4ba.png" width="300" /> | <img src="https://user-images.githubusercontent.com/2305231/51072353-88f85580-16a2-11e9-8cf5-96bdaafcf39c.png" width="300" />

## Links
- #179

[2019-01-10 16:50] takahirom commented on #356
Sorry, What should we do for search sessions function? Now we can search session. 👀

[2019-01-10 16:57] kenz opened #358 "Filter is not working to other tabs./他のタブに切り替えるとフィルターが機能していません。"
## Overview (Required)
-
Set filter of sessions.フィルターを設定する。
![screenshot_20190111-015245](https://user-images.githubusercontent.com/479696/50983972-05285700-1544-11e9-9e2e-92562bd21656.png)

Switch to other tab and drop down the filter.別のタブに移動してフィルターを開く
Filter is set on the screen even now however it is not working. 画面上フィルターの設定は残っているが実際にはフィルターが機能していない。
![screenshot_20190111-015311](https://user-im

[2019-01-10 17:07] takahirom commented on #358
Thanks! It is not a bug. It is Service Session like lunch so it is shown.
We want to solve this. But we should build complex logic. So currently we close this issue 🙇

[2019-01-10 17:07] #358 closed

[2019-01-10 17:10] kiuchikeisuke commented on #356
Oh,Sorry, I was misunderstanding. 🙇
When the search query was empty, I thought that the session was not searched because no sessions were added to the list.
Sessions were also searched after entering search queries!

[2019-01-10 17:11] #356 closed

[2019-01-10 17:15] takahirom commented on #357
Can you add an image for taking easy task? 🙏

[2019-01-10 17:15] kiuchikeisuke commented on #356
I close it because I made a mistake

[2019-01-10 17:17] amay077 commented on #272
This issue has 2 sub-issues and almost fixed.

1. API returns datetime doesn't have timezone(+09:00) and logic uses UTC(+00:00), mismatch
-> fix to https://github.com/DroidKaigi/conference-app-2019/pull/354/commits/e952bd80a3ea65d3788fab36940949677a51c3db

2. View need convert timezone from data(UTC) to view(device)
-> fix to https://github.com/DroidKaigi/conference-app-2019/pull/354/commits/ef596

[2019-01-10 17:18] kiuchikeisuke commented on #357
@takahirom Of course! But I am sleepy so I will do it tomorrow.. 😴

[2019-01-10 17:18] takahirom commented on #350
Thank you for reporting. Now close this issue. But If you have an opinion please comment it 🙏

[2019-01-10 17:18] #350 closed

[2019-01-10 17:22] kawmra commented on #319
I wanna try this one 🙋

[2019-01-10 17:32] #168 closed

[2019-01-10 17:37] takahirom commented on #348
Sorry, I think `:data:db ` is now interface module. Is that `:data:db-impl` ?

[2019-01-10 17:39] #164 closed

[2019-01-10 18:00] kafumi commented on #157
I've figured out the root cause. Let me propose a possible fix later.

[2019-01-10 18:03] jmatsu commented on #157
Lovely! Let us assign this issue to you for now. 🥇

[2019-01-10 18:08] jmatsu opened #361 "Use Google Mirror Maven Central based on the region"
## Overview (Required)

- Google Mirror Maven Central could reduce the sync time (see https://github.com/DroidKaigi/conference-app-2019/issues/168) though, CI region might be unknown so we cannot use suitable ones.
- Now we might be able to use ipinfo.io and country.to for this stuff. https://ipinfo.io/country can return the country of the caller and http://country.io/continent.json is an index of

[2019-01-10 18:11] #346 closed

[2019-01-10 18:18] #324 closed

[2019-01-10 19:06] jmatsu commented on #272
I've added those TZ-aware fields to Session entities. Please check it out from https://droidkaigi2019-dev.appspot.com/api/timetable

[2019-01-10 19:44] jmatsu opened #363 "Switch the source of announcements to API"
## Overview (Required)

- In this year, we will use the api server to distribute announcements instead of Firestore

## Links
-

[2019-01-11 00:38] kikuchy commented on #348
Sorry for my misleading.

Currently `:data:db-room` is Android implementation module of `:data:db`.
We need iOS implementation module of `:data:db`.

Of cource, renaming `:data:db-room` to `:data:db-impl` and including both Android/iOS implementation in `:data:db-impl` is good way.
(But I think it’s little hard. I tried to make `:data:db-room` Kotlin Multiplatform module, and it broke building `:f

[2019-01-11 01:57] #157 closed

[2019-01-11 01:59] takahirom opened #365 "Add test to Dispatcher.kt for #364"
## Overview (Required)
- Please add a test if #364  is not merged, the test fails.
And If the test is merged, the test passes.

## Links
- #364

[2019-01-11 02:15] verno3632 opened #366 "Memory leak on SessionPagesFragment"
## Overview (Required)
- LeakCanary detects memory leaks on SessionPagesFragment such as below image

![screenshot_1547172737](https://user-images.githubusercontent.com/1014262/51009106-1b5d0400-1592-11e9-9a72-ac5bcee44516.png)

[2019-01-11 02:16] verno3632 commented on #366
And can I fix by myself?

[2019-01-11 02:19] takahirom commented on #366
I want to look upper leak tree on the screen 👀
But if you can fix it, please do it 🙏

[2019-01-11 02:44] takahirom commented on #348
I have a question 🙋‍♂️
How we debug iOS implementation for development?

[2019-01-11 05:45] Pluu commented on #351
I have some questions.
- Is it simply an issue with Margin processing of Cradle?
- Do you also need Curved of BottomAppBar and FAB?

Are you okay with this?
![screenshot_1547185040](https://user-images.githubusercontent.com/1534926/51015302-0b9fe880-15af-11e9-9bec-b21ccd913788.png)

[2019-01-11 05:48] takahirom commented on #351
I want to make it like this.
![image](https://user-images.githubusercontent.com/1386930/51015518-ebbcf480-15af-11e9-8161-50a9677e0d30.png)

[2019-01-11 05:53] takahirom commented on #351
I don't know why it occurred, So I don't know. Sorry. But I do `Scroll down -> Fav -> Scroll up` cradle FAB is filled

Sorry, what does "Curved" mean?

[2019-01-11 06:01] Pluu commented on #351
Sorry. It seems to be a different issue than I thought.
Scroll down -> Fav -> Scroll up, I was not able to reproduce the same thing in Emulator.
I'll test this issue further.

And, "Curved" meant a cradled phenomenon.

[2019-01-11 06:17] kiuchikeisuke commented on #357
@takahirom Added Image! (Is it Okey?)

[2019-01-11 07:44] kikuchy commented on #348
Debugging means testing?
I never tried testing iOS library written in Kotlin, but maybe this ( https://github.com/JetBrains/kotlin-mpp-example/pull/1 ) will help us.

If you mean "running app in DEBUG mode and stopping at breakpoint", we should make Xcode project of app ( maybe on `frontend/ios` ?) first.

[2019-01-11 07:52] takahirom commented on #348
I think that it will be easier to contribute if I can create an empty `frontend / ios` project. What do you think?

[2019-01-11 08:32] kikuchy commented on #348
Good idea!
And making the direction of implementation of iOS app is more better.
What do you think about below?

* Where should we place ViewControllers?
    * All VC is in `frontend/ios`
    * Each iOS Framework projects in `feature/*`
* Where is the threshold of language?
    * Only Data modules -> Kotlin, Feature and Root modules -> Swift
    * Data and Feature modules -> Kotlin, Only Root modu

[2019-01-11 08:45] takahirom commented on #348
Sorry, I don't have an idea. But  I think we can implement All VC is in frontend/ios.
Because that is Swift source code.
I think Only Data modules will kotlin for iOS.
What do you think? 👀

[2019-01-11 09:06] takahirom opened #375 "Update LeakCanary"
## Overview (Required)
- Please update it

## Links
- https://github.com/square/leakcanary/blob/master/CHANGELOG.md#version-163-2019-01-10

[2019-01-11 10:42] takahirom commented on #357
Thank you for adding images 🙇 🙇
That design is here. (I thought you can screenshot in design page) 🙇 🙇
Please use this image🙇 🙇
https://gallery.io/projects/MCHbtQVoQ2HCZd9Pbpex4PVP/files/MCHtA7U1iMGr6-ZF5RXVf1KRWr8VHz3wbOk
![image](https://user-images.githubusercontent.com/1386930/51029206-08b9ed80-15d9-11e9-9211-2a5c593cb4ba.png)

[2019-01-11 10:56] jmatsu commented on #236
I've added the conclusion to the description Let me close this.

[2019-01-11 10:56] #236 closed

[2019-01-11 12:02] #68 closed

[2019-01-11 12:31] takahirom commented on #348
If we migrate that, Yes.
It becomes 1.0. We can consider that 👍

[2019-01-11 12:38] #375 closed

[2019-01-11 12:45] #151 closed

[2019-01-11 13:34] kikuchy commented on #348
Ok. I think it’s simple and understandable.
We need the template of Xcode project on this direction, and the issue to make that Xcode project... 🙄
I’ll open issue this weekend if I can...

[2019-01-11 14:31] kafumi commented on #365
I'm sorry that I didn't notice this test should be added when tackling #364... Could I do this? 🙋‍♂️

[2019-01-11 14:32] takahirom commented on #365
Thanks! Assigned🙏

[2019-01-11 17:06] jmatsu commented on #365
Oops, sorry. I haven't noticed this issue. 😱
https://github.com/DroidKaigi/conference-app-2019/pull/381

[2019-01-11 17:53] kafumi commented on #365
Thank you for pinging me. Don't worry! I assume this issue is still valid even after #381 is merged, but is it correct? If so, I will post pull request after #381 is merged to avoid conflicts.

[2019-01-11 17:57] kafumi commented on #365
Anyway, I was actually a little bit uncomfortable about consuming main thread for dispatching actions. Thank you for the great improvement at #381 :bow:

[2019-01-11 18:37] takahirom opened #383 "Delete unneeded listener field"
## Kind (Required)

- Other

 ## Overview (Required)

- We can write it direct in listener.
 https://github.com/DroidKaigi/conference-app-2019/blob/795988ee4856bcaf47ecb50078452a514f6493a4/feature/session/src/main/java/io/github/droidkaigi/confsched2019/session/ui/item/SpeechSessionItem.kt#L53

[2019-01-11 18:42] takahirom opened #384 "Create frontend/ios using Kotlin Multi Platform"
## Kind (Required)

- Proposal / Discussion

 ## Overview (Required)

- Please create frontend/ios Multi Platform Project
- If you can't place project to frontend/ios, you can put it everywhere.
- If you can please add dependency model module. https://github.com/DroidKaigi/conference-app-2019/tree/master/model
- You should not implement anything like the session list. Just show an empty screen!
-

[2019-01-11 18:42] tomoya0x00 opened #385 "Apply correct floor map"
## Kind (Required)

- Other

 ## Overview (Required)

- We need to apply correct floor map

- Add English version or create floor map image with Japanese / English together
- There are too many smoking areas now!
![](https://user-images.githubusercontent.com/5106629/51018521-43149200-15bb-11e9-8230-1ce2a899eadb.PNG)

 ## Links

- #372
- https://gallery.io/projects/MCHbtQVoQ2HCZd9Pbpex4PVP/files/MC

[2019-01-11 18:48] takahirom opened #386 "Migrate to the SQLDelight"
## Kind (Required)

- Proposal / Discussion

 ## Overview (Required)

-  SQLDelight supports Kotlin Multi Platform. So If we use DB, we should Migrate to SQLDelight.
- I think it is very hard 💪

 ## Links
- https://medium.com/@anstrong22/announcing-sqldelight-1-0-d482aa408f64
- https://github.com/square/sqldelight

[2019-01-11 19:02] tomoya0x00 opened #387 "Add Codelabs to filter target"
## Kind (Required)

- Other

 ## Overview (Required)

- Currently, Codelabs is out of filter targets

- Add isFilterable property to [SessionType](https://github.com/DroidKaigi/conference-app-2019/blob/master/model/src/commonMain/kotlin/SessionType.kt)
- Use the isFilterable property to determine if it is a filter target.

 ## Links

- #231
- #358

[2019-01-11 19:13] h3birth commented on #383
:raising_hand_man:

[2019-01-11 19:14] takahirom commented on #383
Thanks assigned! 😴

[2019-01-11 19:57] kafumi commented on #269
(left picture) If changing the color of status bar icons to darker while drawer is opened, their visibility is improved on drawer area. However, it might be worsen outside of drawer area.

(right picture) How about changing status bar background color while drawer is opened instead?

<img width="300" src="https://user-images.githubusercontent.com/12084705/51056306-78939c80-1608-11e9-962f-bdcf28792

[2019-01-12 02:30] kikuchy commented on #348
Opened https://github.com/DroidKaigi/conference-app-2019/issues/389 🎉

[2019-01-12 02:45] kikuchy opened #391 "Implement :data:firestore-impl for iOS"
## Kind (Required)

- Proposal / Discussion

 ## Overview (Required)

- In order to achieve #136, we should make iOS implementation (as Kotlin/Native module) of `:data:firestore` instead of `:data:firestore-impl` .
- Or make `:data:firestore-impl` Kotlin Multiplatform module.
- Using Cocoapods's package to Kotlin Multiplatform module is hard currently, so we need in-memory or saving local file sys

[2019-01-12 03:11] kirimin commented on #387
I'll take this taks!!! ✋

[2019-01-12 03:18] jmatsu commented on #387
Could you please handle this?
Thank you for your help in advance.

[2019-01-12 04:04] jmatsu commented on #365
I guess so too. I'd like to hear @takahirom 's intention for this issue just in case.

Honestly, I didn't have any confidence to use other single-thread-based contexts. I could learn a lot from your code! Thank you so much!

[2019-01-12 04:05] takahirom commented on #269
Changing the status bar probably looks good as well👍
Since I can not decide not to see the actual actions, can you make it with the behavior you think seems to be good and let me send a PR?🙏

[2019-01-12 04:09] takahirom commented on #365
The intention of this issue is concerned that the problem that Action is not dispatched will reoccur by other PRs.

[2019-01-12 04:36] #384 closed

[2019-01-12 04:40] #319 closed

[2019-01-12 05:09] kafumi commented on #365
Okay. So, I think it'd be still better to create new test cases in addition to #381 for this issue. For example, checking whether all actions are surely received after dispatching 10 actions in several concurrent patterns. Let me propose my thought by PR 🙋‍♂️

[2019-01-12 05:10] kafumi commented on #269
Sure. Let my try it!

[2019-01-12 05:11] takahirom commented on #269
Thanks! I assigned you 😉

[2019-01-12 05:38] kafumi opened #392 "Status bar icons are not visible in white theme on Android 5.0 device"
**Overview (Required)**
- Status bar icons are not visible in white theme screens on Android 5.0 device
- It's because they are white and the background of status bar area is also white in white theme

**Steps To Reproduce**
1. Launch app on Android 5.0 device
2. Go to "About" screen

**Expected behavior**
Status bar icons are visible in all screens.

**Actual behavior**
Status bar icons are not v

[2019-01-12 05:41] kafumi commented on #392
Let me propose a possible fix along with #269.

[2019-01-12 05:52] takahirom commented on #392
I don't notice it! Good catch! 🐱

[2019-01-12 06:04] takahirom commented on #272
Now timezone is fixed as +9. But if we can use the app intentionally. So, I close this.

[2019-01-12 06:04] #272 closed

[2019-01-12 06:10] takahirom commented on #149
@TomoyaShibata
How are you progressing? (just i want to say it 😄 )

[2019-01-12 06:12] amay077 commented on #272
I think so too. Because DroidKaigi is domestic(+09:00) conf.
Thanks! :+1:

[2019-01-12 06:17] jmatsu commented on #116
let me grab this cuz notification testing is difficult for external members.

[2019-01-12 06:32] takahirom opened #393 "Fix ripple area for session tab"
## Kind (Required)

- Other

 ## Overview (Required)

Current
- ![image](https://user-images.githubusercontent.com/1386930/51070114-f09ca980-167e-11e9-85b5-e3616d91b12b.png)

What we want to do (only chip size)
https://storage.googleapis.com/spec-host-backup/mio-design%2Fassets%2F1ZL4CiG4FN1MxyTuSqZqU_xX_V5pDakCs%2Fnavtransitions-peer.mp4

[2019-01-12 06:46] takahirom opened #394 "Elevation when scroll session list"
## Kind (Required)

- Proposal / Discussion

 ## Overview (Required)

-  We want to add elevation like this. It's a very cool feature! 🆒
![image](https://user-images.githubusercontent.com/1386930/51070209-ed0a2200-1680-11e9-9e87-938462ea1612.png)

 ## Links
- https://storage.googleapis.com/spec-host-backup/mio-design%2Fassets%2F1df7NTSaM4cVkrurAhFwKHqrZemqkcSAX%2Fcasestudies-crane-elevation.mp4
-

[2019-01-12 07:38] matsujun commented on #393
🙋

[2019-01-12 07:42] piatekjulien commented on #394
Hello ! You're right, it would looks very good ✨
Can I be assigned to this? 😄

[2019-01-12 07:44] takahirom commented on #394
Thanks!!! Assigned

[2019-01-12 08:06] takahirom commented on #393
Thamks! Assigned🙏

[2019-01-12 09:57] takahirom opened #402 "SessionType members should be upper case"
## Kind (Required)

- Other

 ## Overview (Required)

- It is very easy

 ## Links

- https://github.com/DroidKaigi/conference-app-2019/blob/3288ae01f69500f0f33292ae29ff39c17b7dbade/model/src/commonMain/kotlin/SessionType.kt

[2019-01-12 10:03] kenjikitamura commented on #402
🙋

[2019-01-12 10:05] takahirom commented on #402
Thanks! Assigned 🆙

[2019-01-12 10:16] #315 closed

[2019-01-12 10:47] kiuchikeisuke commented on #357
@takahirom Image updated! 👍

[2019-01-12 11:01] kiuchikeisuke opened #406 "Display sessions without entering search queries / 検索画面でクエリ未入力でもセッションを表示する"
## Kind (Required)
- Other(Enhance)

 ## Overview (Required)
- I think that it is better to display sessions without entering search queries
## image
Expect | Current
:--: | :--:
<img src="https://user-images.githubusercontent.com/1386930/51029206-08b9ed80-15d9-11e9-9211-2a5c593cb4ba.png" width="300" /> | <img src="https://user-images.githubusercontent.com/2305231/51072455-420b5f80-16a4-11e9-8752-

[2019-01-12 11:33] #393 closed

[2019-01-12 11:52] #387 closed

[2019-01-12 12:08] #269 closed

[2019-01-12 12:08] #392 closed

[2019-01-12 12:11] kirimin commented on #406
Can I take this?

[2019-01-12 12:11] takahirom commented on #406
Thanks! Assigned 🔍

[2019-01-12 12:16] takahirom opened #409 "Room5 filter is not found"
**Overview (Required)**
- Room5 filter is not found
- Probably we can fix here. Use sessions instead of speechSessions
 https://github.com/DroidKaigi/conference-app-2019/blob/81e7db800a23a38a9f003fa21453b1cf25642694/data/repository-impl/src/main/java/io/github/droidkaigi/confsched2019/data/repository/DataSessionRepository.kt#L33

**Steps To Reproduce**

1. Show Filter

**Expected behavior**
Show R

[2019-01-12 12:20] takahirom opened #410 "Unneeded scrollbar is shown when switching tab"
## Kind (Required)

- Other

 ## Overview (Required)

-
![image](https://user-images.githubusercontent.com/1386930/51073147-d4653080-16af-11e9-854f-0c3c785fee4f.png)

[2019-01-12 12:35] takahirom opened #413 "Show toast when click entire survey"
## Kind (Required)

- Other

 ## Overview (Required)

- Show "not url decided" toast
-
![image](https://user-images.githubusercontent.com/1386930/51073282-d7f9b700-16b1-11e9-8309-8a9d0b8caf09.png)

[2019-01-12 12:42] akihito-okada commented on #413
🙋‍♂️

[2019-01-12 12:43] takahirom commented on #413
Thanks 👍 Assigned

[2019-01-12 12:48] #406 closed

[2019-01-12 12:55] kirimin commented on #410
May I take this?

[2019-01-12 13:02] takahirom commented on #410
Thanks! Assigned 📜

[2019-01-12 13:30] #409 closed

[2019-01-12 13:36] takahirom commented on #275
Probably now it does not occur. I close this.
But If you have the same issue.

[2019-01-12 13:37] #275 closed

[2019-01-12 14:13] #410 closed

[2019-01-12 14:15] takahirom opened #418 "Use named parameters for creating AboutItem"
## Kind (Required)

- Other

 ## Overview (Required)

- Title says everything

[2019-01-12 14:21] Pluu commented on #418
🙋🏻‍♂️

[2019-01-12 14:46] #383 closed

[2019-01-12 14:50] #418 closed

[2019-01-12 15:02] takahirom commented on #125
@Pluu Thank you for trying it!
I set up 🙏 Can you retry?

[2019-01-12 15:12] NUmeroAndDev opened #420 "Sponsor list screen is different from Gallery"
## Kind (Required)

- Other

 ## Overview (Required)

The following items seem to be different.
- Card corner.
- Not divider.

Before | Current app
:--: | :--:
<img src="https://user-images.githubusercontent.com/13705006/51074790-9d4e4980-16c6-11e9-8905-6d9055cd6291.png" width="300" /> | <img src="https://user-images.githubusercontent.com/13705006/51074785-8b6ca680-16c6-11e9-81b6-a1e65b005335.png"

[2019-01-12 15:13] NUmeroAndDev commented on #420
I want to fix it. 🙋‍♂️
I want you to tell me, how do you think divider should create a Footer or add a flag to the Header?

[2019-01-12 15:30] takahirom commented on #420
Thanks ! I assigned you 👍

[2019-01-12 16:02] Pluu commented on #125
As a result of the test, the following log was output.

[code]

[2019-01-12 17:02] syarihu commented on #115
🙋‍♂️

[2019-01-12 17:04] takahirom commented on #115
Thanks 😭
Last year, nobody raised their hands for this issue 😭

[2019-01-12 17:43] #125 closed

[2019-01-13 03:52] #420 closed

[2019-01-13 06:04] #187 closed

[2019-01-13 08:38] #327 closed

[2019-01-13 08:45] #413 closed

[2019-01-13 08:54] #316 closed

[2019-01-13 08:58] takahirom opened #431 "Add "for beginners" tag"
## Kind (Required)

- Other

 ## Overview (Required)

- Please add "for beginners" tag like [this](https://github.com/DroidKaigi/conference-app-2019/pull/265/files#diff-dcfc19806538809dc2fdb8a4008236b5R182)
- Now we can use the session field `forBeginners`. It's Japanese text is "初心者向け"
[forBeginners](https://github.com/DroidKaigi/conference-app-2019/blob/master/model/src/commonMain/kotlin/Session

[2019-01-13 09:01] sekiya9311 commented on #431
🙋

[2019-01-13 09:03] takahirom commented on #431
Thanks! Assigned!
You take this issue very fast 🏎

[2019-01-13 09:20] takahirom opened #432 "Add a session filter which allows users to see only level sessions"
## Kind (Required)

- Other

 ## Overview (Required)

- Add a filter that ｀Beginners｀ and ｀Intermediates/Expert｀ chip tags and that title is `Level`.
- Please put `Level` filter after simultaneous interpretation filter.
- You can use [forBeginners](https://github.com/DroidKaigi/conference-app-2019/blob/master/model/src/commonMain/kotlin/Session.kt#L33)

 ## Links

- https://github.com/DroidKaigi/c

[2019-01-13 09:21] jmatsu opened #433 "Disable Crashlytics if the apk has been built on the local environment"
## Kind (Required)

- New feature

 ## Overview (Required)

- The current Crashlytics setting is enabled in every environment including CI, your PC, and my PC. However, we should collect only crashes from apks which have been built on CI.
- `isCI` flag is available in build.gradle, and it will be true only on CI environment.

 ## Links

-

[2019-01-13 09:32] kirimin commented on #432
I want to try to this one. ✋

[2019-01-13 09:36] takahirom commented on #432
Thanks! Assigned 🎚

[2019-01-13 09:49] takahirom opened #434 "Show current time session when first loading"
## Kind (Required)

- Other

 ## Overview (Required)

- We want to show the current time session when conference starts
- We want to scroll to the current session when first loading.
- As there are times when the timing is severe, I think it's good to have flags like this in the Fragment flag for this, like isInitializedScrollPosition.

[2019-01-13 11:14] kirimin commented on #432
@takahirom

Do ｀Beginners｀ and ｀Intermediates/Expert｀ texts should translate?

[2019-01-13 11:39] takahirom commented on #432
Sorry Please use this 🙏

｀Audience Category｀ -> ｀Beginners｀, ｀Unspecified｀
｀受講者カテゴリ｀ -> ｀初心者歓迎｀, ｀指定無し｀

[2019-01-13 11:45] kirimin commented on #432
Thanks!!!

[2019-01-13 12:16] akihito-okada commented on #433
I want to try to this one. ✋

[2019-01-13 12:17] kirimin commented on #432
Other filter titles are seems not translated.
does Audience Category need to translate?

[code]

[2019-01-13 12:46] #431 closed

[2019-01-13 13:12] #363 closed

[2019-01-13 13:15] gen0083 opened #439 "Scroll session page got a lot of memory allocation (probably performance issue)"
**Overview (Required)**
- In SessionPageFragment, It seems that useless memory allocation has occurred when scrolling through the session list
- Memory usage is increasing even if it does not change in appearance
- There seems to be room for improvement in the SessionItemDecoration class

**Steps To Reproduce**

1. run application
1. open profiler view in Android Studio and start profiling session

[2019-01-13 14:00] #115 closed

[2019-01-13 15:18] #432 closed

[2019-01-13 16:32] #439 closed

[2019-01-13 16:35] #394 closed

[2019-01-13 16:39] clockvoid opened #445 "Some of session titles don't be English"
## Kind (Required)

- report

 ## Overview (Required)

- some of the session titles like "ウェルカムトーク" or "ランチ"
![[Imgur](https://i.imgur.com/AJkG6APm.png)](https://i.imgur.com/AJkG6AP.png)

I know there is a PR to support English (#171).
I researched this PR's version, too.

![[Imgur](https://i.imgur.com/cUX2c7om.png)](https://i.imgur.com/cUX2c7o.png)

It's Japanese...

I tested two different versio

[2019-01-13 16:41] amay077 opened #446 "Scroll to LIVE when Day1/Day2 secondary tapped"
## Kind (Required)

- Proposal / Discussion

 ## Overview (Required)

- In Timeline page, scroll to current session when Day1(or Day2) button's secondary tapped
- Like DroidKaigi 2018 apps

 ## Links

- https://github.com/DroidKaigi/conference-app-2018/issues/343

[2019-01-13 16:43] takahirom commented on #445
The app can fix this issue. We can use englishTitle here.
https://github.com/DroidKaigi/conference-app-2019/blob/master/data/repository-impl/src/main/java/io/github/droidkaigi/confsched2019/data/repository/mapper/SessionMappers.kt#L26

[2019-01-13 16:44] amay077 commented on #434
ref #446

[2019-01-13 16:45] takahirom commented on #446
I think this is useful! Thanks 👍

[2019-01-13 16:52] clockvoid commented on #445
Thank you for that fast reply.
I'm gonna try to fix it.
Is your phone free to this issue?

[2019-01-13 16:56] takahirom commented on #445
My phone has the same issue😥
Thanks. Assigned

[2019-01-14 03:05] #445 closed

[2019-01-14 03:21] akihito104 opened #448 "subclass of DaggerFragment calls AndroidSupportInjection.inject()"
## Kind (Required)

- Other

 ## Overview (Required)

- There are some subclasses of `DaggerFragment` that calls `AndroidSupportInjection.inject()`. It seems not to need.
- If it is right, I will fix it 🙋‍♂️ .

[2019-01-14 03:36] takahirom commented on #448
Nice catch!

[2019-01-14 05:01] takahirom opened #451 "Show session list for iOS app"
## Kind (Required)
- Proposal / Discussion

 ## Overview (Required)

- You can open Xcode project by opening frontend/ios

- We can use session data. Please show it.
![image](https://user-images.githubusercontent.com/1386930/51097043-7ac24a80-1804-11e9-93a0-04493fd423db.png)

- I think It is enough to display session in one line.
- If you want to use library like RxSwift, please use it.

[2019-01-14 05:22] takahirom opened #453 "Rename dependency common to jsonCommon for ktor-client-json"
## Kind (Required)

- Other

 ## Overview (Required)

- The title says everything

## Links

-https://github.com/DroidKaigi/conference-app-2019/blob/master/buildSrc/src/main/java/dependencies/Dep.kt#L113

[2019-01-14 05:56] #448 closed

[2019-01-14 06:13] akira108 commented on #451
🙋‍♂️

[2019-01-14 06:18] Pluu opened #455 "Coroutine's error handling"
**Overview (Required)**
- When you start the app, you crash 100%.
- This is true even if you remove the cache.

**Steps To Reproduce**

1. Check out Master Version
2. Run

**Expected behavior**
- Introduce Coroutine's error handling or another handling

**Env:**
 - Device: Xiaomi A2
 - OS: 9.0
 - App Version or the branch : master

**Additional context**
[code]
**Additional context**
- https://kot

[2019-01-14 06:29] yamacraft opened #456 "app crash for Deploygate#519 when launched"
**Overview (Required)**
- app crash when launched

**Steps To Reproduce**

1. Go to Install app for Deploygate#519
2. launch app
3. crashed for start up

**Env:**
 - Device: Pixel3
 - OS: 9.0
 - Deploygate#519
   - Confirmed: 59633107bb9156011099875a463b99a75b8ad7bf

**Additional context**

[code]

[2019-01-14 06:32] yamacraft commented on #456
It may be the same as #455

[2019-01-14 06:37] #456 closed

[2019-01-14 06:38] takahirom commented on #455
Probably Main dispatcher creation is failed. But I don't know why 😭
java.lang.IllegalStateException: Module with the Main dispatcher had failed to initialize

[2019-01-14 06:46] takahirom commented on #451
Thank you! Assigned! 👍

[2019-01-14 06:57] Pluu commented on #455
What I found now seems to be the work of this merge commit.
There is no problem when you run it back to the previous version.

[2019-01-14 07:04] Pluu commented on #455
@takahirom What seems to have happened at this commit.

[2019-01-14 07:05] takahirom commented on #455
Sorry, it is not fixed.

[2019-01-14 07:10] Pluu commented on #455
No Problem. Don't worry. 👍

[2019-01-14 07:14] jmatsu commented on #236
I found the opinion of one of Coroutine authors for dispatcher injection stuff.
https://github.com/Kotlin/kotlinx.coroutines/issues/810#issuecomment-439927255

I agreed to this thought. As a core library, the plugin system is not suitable. It does not mean libraries should not introduce the plugin system.

[2019-01-14 07:22] Pluu commented on #455
Sorry. It did not mean that it was resolved.
It means to be tired because of difficult problems.

[2019-01-14 07:31] #453 closed

[2019-01-14 07:31] yamacraft opened #459 "announcement item title text cut off when large font size"
## Kind (Required)

- Other

 ## Overview (Required)

- announcement item title text cut off when large font size for system

![2019-01-14 12 12 35](https://user-images.githubusercontent.com/1332886/51100513-caf7d780-1819-11e9-97c4-26a3df53e366.png)

[2019-01-14 07:31] takahirom commented on #453
Sorry I fixed this

[2019-01-14 07:32] takahirom commented on #459
Nice catch 👍

[2019-01-14 07:32] yamacraft commented on #459
i fix it. ✋

[2019-01-14 07:33] takahirom commented on #459
Thanks! Assigned

[2019-01-14 07:53] jmatsu opened #461 "How to fix `Module with the Main dispatcher had failed to initialize` after upgrading Ktor to 1.1.0"
## Kind (Required)

- Sharing the problem and the solution

 ## Overview (Required)

- After upgrading Ktor 1.1.0, app couldn't create the main coroutine dispatcher.
- The cause came from the version mismatch of the coroutine-core. kotlinx.coroutine has changed the signature of `MainDispatcherFactory`, and it's required to create the main dispatcher since 1.1.0.
- The main dispatcher is indirectly

[2019-01-14 07:53] #461 closed

[2019-01-14 07:55] #455 closed

[2019-01-14 08:56] gen0083 commented on #167
It seems to be more reproducible by swiping diagonally down at the margin between list items.
On MyPlan tab, it reproduces to swipe on below area of list item too.
Therefore, I think that there are more reproducible with MyPlan tab.

![reproduce_step](https://user-images.githubusercontent.com/7608725/51102952-4a8aa400-1824-11e9-8026-d45ef4270f97.gif)

[2019-01-14 08:59] takahirom commented on #136
done. 👍

[2019-01-14 08:59] #136 closed

[2019-01-14 09:03] takahirom opened #463 "When empty MyPlan, Hide session header"
## Kind (Required)

- Other

 ## Overview (Required)

-
![image](https://user-images.githubusercontent.com/1386930/51103566-9b9b9780-1826-11e9-96d0-0919d2465c04.png)

[2019-01-14 09:59] #188 closed

[2019-01-14 10:00] NUmeroAndDev commented on #463
🙋‍♂️

[2019-01-14 10:01] takahirom commented on #463
Thanks! Assigned🔖

[2019-01-14 11:10] #459 closed

[2019-01-14 11:37] #189 closed

[2019-01-14 13:03] shikajiro commented on #386
🙋
I will challenge this issue!

[2019-01-14 13:03] takahirom commented on #386
Thank you for challenging 🔥

[2019-01-14 13:44] #463 closed

[2019-01-14 13:51] takahirom opened #466 "Use camelCase for data binding variable"
## Kind (Required)

- Other

 ## Overview (Required)

- Title says everything
- We should use camel case like  `speechSession`

 ## Links

-https://github.com/DroidKaigi/conference-app-2019/blob/0b999d73ea6156ca7f3533f3f9dd7af9447c6962/feature/session/src/main/res/layout/fragment_session_detail.xml#L16

[2019-01-14 13:53] takahirom opened #467 "Use snake case for view id"
## Kind (Required)

- Other

 ## Overview (Required)

- like `empty_state_view_group `

 ## Links

- https://github.com/DroidKaigi/conference-app-2019/blob/master/feature/session/src/main/res/layout/fragment_bottom_sheet_sessions.xml#L36

[2019-01-14 14:36] shunsugawara commented on #467
I want to try this.

[2019-01-14 14:51] #467 closed

[2019-01-14 15:57] #466 closed

[2019-01-14 19:13] panpanini opened #471 "Support Android Studio 3.3"
## Kind (Required)

Android Studio 3.3 is now released on the stable track, so we should also support build tools version 3.3 🎉

 ## Overview (Required)

- update `Dep.kt#GradlePlugin#android` to version `3.3.0`
- check for any build failures or unexpected crashes

 ## Links

- https://developer.android.com/studio/releases/

[2019-01-15 00:08] NUmeroAndDev commented on #471
🙋‍♂️

[2019-01-15 00:09] panpanini commented on #471
Thanks! Assigned

[2019-01-15 00:55] NUmeroAndDev commented on #471
Help me!!

Updated `com.android.tools.build:gradle` to 3.3, so needs to be `gradle-4.10.1-all.zip`.
Then I faced a problem that the build did not pass.

[code]

Downgraded with # 81, but is there any solution?

[2019-01-15 01:11] panpanini commented on #471
👀 let me have a look

[2019-01-15 01:11] takahirom commented on #471
Kotlinx and Klock depend on Metadata before Gradle 4.7 and Android Studio 3.3 does not work unless it is Gradle 4.10.1.
I don't have solution😭

[2019-01-15 01:31] #179 closed

[2019-01-15 01:36] NUmeroAndDev commented on #471
This solution is difficult for me, so if you need it you can remove me from the assignment. 🙇

[2019-01-15 01:37] panpanini commented on #471
😭 it looks like maybe its harder than I thought at first.. sorry 🙏

[2019-01-15 01:58] Pluu commented on #471
It seems that the issue has not been solved yet.
https://github.com/Kotlin/kotlinx.coroutines/issues/564
https://github.com/korlibs/klock/issues/16

[2019-01-15 02:37] takahirom opened #472 "On the floor map screen, make pinching zoom possible"
## Kind (Required)

- Proposal / Discussion

 ## Overview (Required)

- The image is a little small.
- If you can,  Please use Physics-based Animations library

[2019-01-15 02:44] takahirom opened #473 "The title of the session list and the favorite button are covered."
## Kind (Required)

- Other

 ## Overview (Required)

-
![image](https://user-images.githubusercontent.com/1386930/51155429-d0f1c500-18ba-11e9-81a7-9ccc7acb3cd2.png)

[2019-01-15 02:45] NUmeroAndDev commented on #473
🙋‍♂️

[2019-01-15 02:47] takahirom opened #474 "Useful setting items"
## Kind (Required)

- Proposal / Discussion

 ## Overview (Required)

- I don't have any idea. Is there anything?

[2019-01-15 02:48] takahirom commented on #473
Too fast 🏎
Thanks! Assigned

[2019-01-15 02:50] takahirom opened #475 "Debug build icon"
## Kind (Required)

- Other

 ## Overview (Required)

-Make icon gray or add ribbon when debug build.

[2019-01-15 02:55] takahirom opened #476 "About screen app version is not correct app version"
## Kind (Required)

- Other

 ## Overview (Required)

- It is not the app version. just strings.xml
- We should Add app version to versions.kts and use it in about/build.gradle

 ## Links

- https://github.com/DroidKaigi/conference-app-2019/blob/master/feature/about/src/main/res/values/strings.xml#L12

[2019-01-15 02:55] Pluu commented on #351
There are no similar issues in Issue Tracker.
https://issuetracker.google.com/issues?q=status:open%20BottomAppBar

[2019-01-15 02:59] takahirom opened #477 "Session list favorite button touch feedback or animation"
## Kind (Required)

- Other

 ## Overview (Required)

- We should add touch feedback. Ripple? Animation?

[2019-01-15 03:36] #473 closed

[2019-01-15 04:47] ushi3 opened #479 "Crash when launch app on Android Pie, because hasn't foreground service permission"
**Overview (Required)**

Cause `SecurityException`, launch on Android P devices.
reason, Hyperion use Foreground Service and Android P is required `FOREGROUND_SERVICE` permission.

[code]

**Steps To Reproduce**

Build `debug` buildVeriants, and install app to Android P device.
(It seems that it doesn't reproduce on some devices. 🤔)

**Screenshots**

![image](https://user-images.githubusercontent.

[2019-01-15 04:56] takahirom commented on #479
We should use Hyperion version 0.9.25👍

[2019-01-15 05:13] Pluu commented on #471
Related issues are registered.
I registered in the comment for reference.
- https://youtrack.jetbrains.com/issue/KT-29045
- https://twitter.com/_yshrsmz/status/1085027892117958656

[2019-01-15 05:22] tomoya0x00 opened #480 "Add contentDescription to floorMapImage"
## Kind (Required)

- Other

 ## Overview (Required)

- floorMapImage has not contentDescription

 ## Links

- https://github.com/DroidKaigi/conference-app-2019/blob/master/feature/floormap/src/main/res/layout/item_floor_map.xml#L22

[2019-01-15 05:34] tomoya0x00 opened #482 "Fix sample data of announcement"
## Kind (Required)

- Other

 ## Overview (Required)

- Add comma to end of line

 ## Links

- https://github.com/DroidKaigi/conference-app-2019/blob/master/feature/announcement/sampledata/announcement.json#L2

[2019-01-15 05:44] tomoya0x00 opened #483 "Fix directory path to package name"
## Kind (Required)

- Other

 ## Overview (Required)

- Title say everything!

 ## Links

- https://github.com/DroidKaigi/conference-app-2019/blob/master/data/api/src/test/java/io/github/droidkaigi/confsched2019/ui/ExampleUnitTest.java
- https://github.com/DroidKaigi/conference-app-2019/blob/master/data/db/src/test/java/io/github/droidkaigi/confsched2019/ui/ExampleUnitTest.java
- https://github.co

[2019-01-15 05:47] tomoya0x00 opened #484 "Fix package name of FirestoreComponent.kt"
## Kind (Required)

- Other

 ## Overview (Required)

- Title say everything
- `package io.github.droidkaigi.confsched2019.data.repository` is wrong

 ## Links

- https://github.com/DroidKaigi/conference-app-2019/blob/master/data/firestore-impl/src/main/java/io/github/droidkaigi/confsched2019/data/firestore/FirestoreComponent.kt

[2019-01-15 05:54] beta1139 commented on #484
✋

[2019-01-15 05:56] takahirom commented on #484
Thanks! Assigned 👍

[2019-01-15 06:06] #181 closed

[2019-01-15 06:19] katsuki-nakatani commented on #483
✋

[2019-01-15 06:20] takahirom commented on #483
Thanks! Assigned 👍

[2019-01-15 06:35] masaibar commented on #480
✋

[2019-01-15 06:35] takahirom commented on #480
Thanks! Assigned 👍

[2019-01-15 06:39] k-masashi commented on #482
✋

[2019-01-15 06:39] takahirom commented on #482
Thanks! Assigned 👍

[2019-01-15 07:04] masaibar commented on #480
@tomoya0x00 @takahirom Should I include the floor number in the contentDescription?

[2019-01-15 07:08] takahirom commented on #480
It seems better to have it.

[2019-01-15 07:47] kwmt commented on #479
🙋‍♂️

[2019-01-15 07:47] takahirom commented on #479
Thanks! Assigned 👍

[2019-01-15 07:53] clockvoid commented on #351
I tried it with no implementation:
![wlv8a-6uq4k](https://user-images.githubusercontent.com/6965122/51165942-2cd14380-18e5-11e9-8e5e-f361c9f547c1.gif)

There is the same problem here.

I think it's a bug of support library.

[2019-01-15 07:57] takahirom commented on #351
@clockvoid Can you report to issue tracker? Probably your sample code and screenshot are worth. 🙏

[2019-01-15 07:57] amay077 commented on #474
Would you like this?

#### Share Session Option

* [x] Session Title
* [x] Session URL(required?)
* [x] Event hashtag ("droidkaigi" or "droidkaigi2019")
* [x] Room Hashtag ("HallA, RoomA…" or "droidkaigi_hallA, droidkaigi_roomA")

This helps share to twitter.
Full checked tweet(shared text) is below.

[code]

[2019-01-15 08:00] clockvoid commented on #351
Okay, I will.

[2019-01-15 08:42] sobaya-0141 commented on #477
Rippleを付ける対応でよければ対応します 。
stateListAnimatorでアニメーションさせようと思ったのですが、上手くいかなくて。。。

[2019-01-15 08:46] takahirom commented on #477
It seems better than the current implementation 👍

[2019-01-15 09:17] kirimin commented on #476
I'll take this one ✋

[2019-01-15 09:17] takahirom commented on #476
Thanks! Assigned 👍

[2019-01-15 09:20] eyedol commented on #434
I'd like to work on this but I can't get to it until the weekend. Feel free to assign it to me if it's not so urgent.

[2019-01-15 09:45] pocket7878 commented on #475
✋
I'll try to use some gradle plugin to add ribbon.
@takahirom

[2019-01-15 09:51] takahirom commented on #475
Thanks! Assigned 👍

[2019-01-15 11:40] #479 closed

[2019-01-15 11:51] NUmeroAndDev commented on #474
How about this?
- setting up notifications
- change to Dark Mode

[2019-01-15 14:09] takahirom commented on #434
No problem! Thank you👍

[2019-01-15 14:50] nacatl commented on #446
Can I challenge it?
(If the #434 will conflict this, I stop the challenge.)

[2019-01-15 14:52] #451 closed

[2019-01-15 14:54] takahirom commented on #446
Probably it will be a conflict. But perhaps the code that conflicts is around the scroll, so I think you can do it. 👍

[2019-01-15 14:56] #477 closed

[2019-01-15 15:22] #476 closed

[2019-01-15 15:45] takahirom opened #493 "Add error callback for iOS in common module"
## Kind (Required)

- Proposal / Discussion

 ## Overview (Required)

- We should add error callback for iOS
- We can use `try catch` for `suspend function` and call callback.

 ## Links

- https://github.com/DroidKaigi/conference-app-2019/blob/master/data/api-impl/src/commonMain/kotlin/io/github/droidkaigi/confsched2019/data/api/KtorDroidKaigiApi.kt#L39

[2019-01-15 16:02] takahirom opened #495 "Introduce material component for iOS App"
## Kind (Required)

- Other

 ## Overview (Required)

- I don't know about iOS, But when the error occurred , I want to use Snackbar
- Probably we should use cocoapods

[2019-01-15 16:06] #480 closed

[2019-01-15 16:37] amay077 opened #497 "Adopt "Optimistic Updates" when toggle favorite"
## Kind (Required)

- Proposal / Discussion

 ## Overview (Required)

I have a little frustration when add/remove to MyPlan.
Because await to added and showing progress indicator.

In my opinion, No need await added and progress.
I hope updates UI immediately when favorite button tapped.
We call it "Optimistic Updates" .

## Links

- [快適なUXを実現するOptimistic Updates(楽観的更新)とは何か - Qiita](https://qiita.

[2019-01-15 18:07] takahirom commented on #497
I agree. Now the same method is now used in SessionDetailFragment.
https://github.com/DroidKaigi/conference-app-2019/blob/master/feature/session/src/main/java/io/github/droidkaigi/confsched2019/session/ui/SessionDetailFragment.kt#L109

It would be nice to do the same thing in the Session list as well.
If you can deal with this problem properly, it seems good to use WorkManager.

[2019-01-16 01:17] #484 closed

[2019-01-16 01:37] #482 closed

[2019-01-16 03:48] #433 closed

[2019-01-16 03:48] #483 closed

[2019-01-16 04:48] numa08 commented on #497
✋
I try it !

[2019-01-16 04:49] takahirom commented on #497
Thanks! Assigned👍

[2019-01-16 07:40] jmatsu commented on #67
@yt-tkhs
Hi, how is your progress?
If you need time or want to take over this task, please don't hesitate to ask us. Thanks.

[2019-01-16 07:42] jmatsu commented on #69
@fumiya-kume
Hi, thank you for working on this issue. How is your progress?
Please feel free to contact us if you need any help or want to take over this task. Thanks.

[2019-01-16 07:43] jmatsu commented on #67
Sorry, let us add new label and the milestone.

[2019-01-16 07:44] fumiya-kume commented on #69
@jmatsu Hello, I doing this issue.
and i detect this issue time limit is ~01/20, is this OK?

[2019-01-16 07:58] jmatsu commented on #69
What do you mean? 👀 The milestone says the date is Feb. 2, not Jan. 20. It includes the review time as well, so please be careful.

My comment was just kinda ping so we don't mean to rush you. Sorry if you feel like so.

[2019-01-16 12:34] miga9 commented on #144
Just a quick update, I should be able to publish a PR this weekend.

[2019-01-16 12:58] miga9 commented on #144
What's supposed to happen when user clicks on a row? Launch the profileUrl in webview?

[2019-01-16 13:40] takahirom commented on #144
Thank you. I think that nothing should happen. If necessary we can also add later.

[2019-01-16 15:32] amay077 commented on #493
✋

Ok, I'm ready for Kotlin MPP 👍

[2019-01-16 15:36] ymnder commented on #493
Thanks! Assigned :)

[2019-01-16 16:10] yt-tkhs commented on #67
Sorry for late 🙇  I haven't started work on this issue yet, but I gonna do this tomorrow.

[2019-01-17 05:52] #493 closed

[2019-01-17 10:39] takasfz commented on #495
I need help,
build for iOS failed with following error. Does anyone know how to solve it?

[code]

gradle version:
[code]

[2019-01-17 11:35] takahirom commented on #495
JVM .. Version..? 🤔

[code]

[2019-01-17 12:05] takahirom commented on #495
Do you try `clean`?
https://github.com/JetBrains/kotlin-native/issues/1207

Can you compare your konanc args? 👀
./gradlew clean --debug :frontend:ios-combined:packForXCode -PXCODE_CONFIGURATION=Debug |grep "konan"
https://gist.github.com/takahirom/8483ad104759362f0bee681e930adf8f

[2019-01-17 12:23] #101 closed

[2019-01-17 13:03] maripiyoko commented on #167
May I try this issue?

I think there are two ways to fix.

1. Change BottomSheetBehavior.STATE_EXPANDED timing

Currently BottomSheet is back to expand when the page is selected.
How about change the expanding timing when the page is deselected?
If its OK, it looks like this.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/1080848/51320480-53d57400-1aa3-11e9-9b8a-29408777a613.

[2019-01-17 13:35] e10dokup commented on #167
@maripiyoko Thank you for having a look at this issue! Please take this issue!

[2019-01-17 13:55] e10dokup commented on #167
@maripiyoko If you can, we would like to you implement it with the 2nd way!

[2019-01-17 14:41] shikajiro commented on #386
https://github.com/square/sqldelight/issues/1163

gradle 4.8 ... 🤔

[2019-01-17 14:44] takahirom commented on #386
Probably you can use this fork version of SQLDelight
https://github.com/touchlab/DroidconKotlin/blob/master/build.gradle#L63

[2019-01-18 00:08] maripiyoko commented on #167
OK! I'll try 2nd way 💪

[2019-01-18 01:53] TomoyaShibata commented on #149
@takahirom

Sorry for the late reply! 🙇
My work has been busy this past week, and since I have not returned home, the development environment did not exist.
I am planning to submit some pull request in a few days.
I will report it as soon as the problem occurs.

[2019-01-18 07:09] #116 closed

[2019-01-18 09:33] futabooo opened #513 "Show Toast message if toggle session favarite fail"
## Kind (Required)

- Other

 ## Overview (Required)

- if toggle session favarite fail, no feedback for user
- add feedback message

 ## Links

- https://github.com/DroidKaigi/conference-app-2019/blob/master/feature/session/src/main/java/io/github/droidkaigi/confsched2019/session/ui/actioncreator/SessionContentsActionCreator.kt#L74

[2019-01-18 09:47] takahirom commented on #513
How about using snackbar?
My recommendation is to have snackbarmessage etc in the system store and observe it by MainActivity.

[2019-01-18 09:49] futabooo commented on #513
I agree with you!

[2019-01-18 10:30] takahirom opened #514 "Apply font design in session detail"
## Kind (Required)

- Other

 ## Overview (Required)

- If the text can contain Japanese text, please use Noto Sans Font, otherwise please use Lekton.
(Japanese: もしそのTextが日本語の文を含みえるのであれば、fontをNoto Sansにして、それ以外をLektonにする)

 ## Links

- Sorry, The design of the current Gallery is wrong 🙇
![image](https://user-images.githubusercontent.com/1386930/51381442-82148b80-1b57-11e9-832a-92d3cbd25c03.png)

[2019-01-18 10:32] takahirom commented on #357
Probably we can implement that by adding logic here. Probably It's easy.
https://github.com/DroidKaigi/conference-app-2019/blob/master/feature/session/src/main/java/io/github/droidkaigi/confsched2019/session/ui/SearchFragment.kt#L123

[2019-01-18 10:32] #67 closed

[2019-01-18 10:35] daisukemotonami commented on #514
✋🏽

[2019-01-18 10:37] takahirom opened #515 "Session detail expand with animation"
## Kind (Required)

- Proposal / Discussion

 ## Overview (Required)

- I want to expand it with animation
![detail](https://user-images.githubusercontent.com/1386930/51381754-57770280-1b58-11e9-9934-a99b1c9840c1.gif)
- Probably We can use TransitionManager.beginDelayedTransition()?

[2019-01-18 10:37] satsukies commented on #514
Thanks! Assigned!

[2019-01-18 10:38] ymnder commented on #472
I try it !

[2019-01-18 10:40] takahirom commented on #472
You are a challenger doing this. 🔥

[2019-01-18 10:44] takahirom opened #516 "Use WorkManager for FCM topic subscription"
## Kind (Required)

- Other

 ## Overview (Required)

- We can use WorkManager instead of intent service
- You can use with Coroutine, Exponential Backoff, Add restrictions on the Internet.

 ## Links

- https://github.com/DroidKaigi/conference-app-2019/blob/156f474534984b56472dfbaf48137bfb0ce6ca52/feature/notification/src/main/java/io/github/droidkaigi/confsched2019/notification/service/ManageTop

[2019-01-18 11:03] #472 closed

[2019-01-18 11:24] takahirom opened #518 "Create empty screen Fragment and layout for tabular form sessions"
## Kind (Required)

- Other

 ## Overview (Required)

- Add item here and please create empty fragment and layout
![image](https://user-images.githubusercontent.com/1386930/51384205-f69ef880-1b5e-11e9-9ce5-7634c0d1045c.png)

 ## Links

- https://github.com/DroidKaigi/conference-app-2019/issues/150

[2019-01-18 11:33] takahirom commented on #514
Can you access here? If not, please request.
https://gallery.io/projects/MCHbtQVoQ2HCZd9Pbpex4PVP/files/MCHtA7U1iMGr60CQdbvgFMCPHe-6adOX1IM
Probably You can confirm font weight. Please consider and select it. 🙇

[2019-01-18 11:37] takahirom commented on #357
Thanks 👍 Assigned

[2019-01-18 11:37] clockvoid commented on #518
I want to try it !

[2019-01-18 11:37] daisukemotonami commented on #514
I requested it

[2019-01-18 11:38] takahirom commented on #518
Thanks! Assigned 🙏

[2019-01-18 11:40] akihito-okada commented on #515
I want to try this issue 🙋‍♂️

[2019-01-18 11:41] takahirom commented on #515
Thanks! Assigned 👍

[2019-01-18 11:54] matsujun opened #520 "Enable to drag floor map, even if it is zoomed"
## Kind (Required)

- Other

 ## Overview (Required)

- Floor map is possible to zoom by pinch or double tap, but it is not possible to pan(scroll|move) by drag.
- Drag is used by tab switching too. We need to take care about it too.

 ## Links

-

[2019-01-18 13:01] sugoi-wada commented on #357
Question. Should I change the place of this initial index char? Now It seems place the bottom of the first item.

[2019-01-18 13:03] takahirom commented on #357
Probably yes.Sorry I don't notice it🙇

[2019-01-18 14:05] sugoi-wada commented on #357
I found a way to solve this problem myself. Please check PR later.

[2019-01-18 14:45] Luecy1 opened #523 "Occurs IllegalArgumentException in floor map / フロアーマップでIllegalArgumentExceptionが発生する"
**Overview (Required)**
-  title says it all
自信がないので日本語も記載します。

**Steps To Reproduce**
1. English
	1. Go to floor map
	2. Repeat pinch in and pinch out.
	3. Occurs IllegalArgumentException

2. Japanese
	1. フロアーマップを開きます
	2. ピンチイン・ピンチアウトの操作を繰り返します
	3. IllegalArgumentExceptionが発生します。

**Expected behavior**
Do not occurs IllegalArgumentException.
IllegalArgumentExceptionが発生しないこと

**Screenshots**
If ap

[2019-01-18 14:49] takahirom commented on #523
Thanks!

[2019-01-18 16:53] #357 closed

[2019-01-18 17:03] kafumi commented on #167
@takahirom @maripiyoko I found this issue happens only when user starts swipe on `RecyclerView`. I didn't understand the reason, though.

As the option 3, how about using `android:layout_height="wrap_content"` for `RecyclerView` on bottom sheet?

[code]

I understand this solution is not elegant, but it probably works...

[2019-01-18 17:08] takahirom commented on #167
Will not it disable recycling of RecyclerView?
I want to check that the childcount of RecyclerView is the same as the displayed number.

[2019-01-18 17:10] tomoya0x00 opened #527 "Improve floor map screen"
## Kind (Required)

- Other

 ## Overview (Required)

- Occurs IllegalArgumentException in floor map( #523 )
- Can not scroll after zooming the floor map
- Delete wasted space above and below the floor map
![screenshot_20190119-013817](https://user-images.githubusercontent.com/5106629/51401788-08988f80-1b8f-11e9-87cf-7c5a3e70daab.png)
![screenshot_20190119-013840](https://user-images.githubusercon

[2019-01-18 17:16] takahirom commented on #167
@maripiyoko Can you do that ? 🙏

[2019-01-18 17:17] takahirom commented on #514
Sorry, I can not receive the request 🙇
Can you tell me your email address?
If you send to this email address takam.dev@gmail.com. I will send a request to you 🙏

[2019-01-18 17:19] matsujun opened #528 "Sort sessions in search screen"
## Kind (Required)

- Other

 ## Overview (Required)

- Speakers are sorted, but sessions are not sorted. Please sort them.

Current behavior is ... 😢
<img src="https://user-images.githubusercontent.com/10704349/51402139-ff5bf280-1b8f-11e9-9a7b-e90be25de3ff.png" width="300"/>

 ## Links

-

[2019-01-18 17:30] takahirom opened #529 "Add section title to SearchFragment"
## Kind (Required)

- Other

 ## Overview (Required)

- Add section title to SearchFragment
- If you tell me email adress (or inviting to GitHub bio email adress), I will send invitation of Gallery.

![image](https://user-images.githubusercontent.com/1386930/51402811-e94f3180-1b91-11e9-8306-f5f5a14dbc8e.png)

 ## Links

-https://gallery.io/projects/MCHbtQVoQ2HCZd9Pbpex4PVP/files/MCHtA7U1iMGr6-ZF5R

[2019-01-18 17:34] takahirom opened #530 "Add search section divider"
## Kind (Required)

- Other

 ## Overview (Required)

-
![image](https://user-images.githubusercontent.com/1386930/51403053-a2ae0700-1b92-11e9-9e35-98c0f1351843.png)

 ## Links

-  We can use this
https://github.com/DroidKaigi/conference-app-2019/blob/master/feature/sponsor/src/main/java/io/github/droidkaigi/confsched2019/sponsor/ui/item/DividerItem.kt

[2019-01-18 18:07] atsushieno opened #531 "zooming floormap results in app crash"
**zooming floormap results in crash**

**Steps To Reproduce**

1. Go to floormap via the hamburger menu
2. pinch the map to zoom in. You most likely need the latest-ish app after https://github.com/DroidKaigi/conference-app-2019/pull/517

It does not always crash, it is sort of conditional. Probably the crash log below gives some hints on how to exactly reproduce it.

**Expected behavior**

The ap

[2019-01-18 18:08] takahirom commented on #531
Thanks! probably dupe of https://github.com/DroidKaigi/conference-app-2019/issues/523

[2019-01-18 18:08] #531 closed

[2019-01-18 18:42] nakasho-dev commented on #528
✋🏽

[2019-01-18 18:43] tomoya0x00 commented on #528
Thanks! Assigned 👍

[2019-01-19 00:00] NUmeroAndDev commented on #530
🙋‍♂️

[2019-01-19 00:41] a25max commented on #529
🙋

[2019-01-19 00:47] tomoya0x00 commented on #530
Thank you always! Assigned😊

[2019-01-19 00:48] tomoya0x00 commented on #529
Thanks! Assigned😁

[2019-01-19 02:12] clockvoid commented on #518
Does this feature have pager like session pages screen?
Or that has just one page and the timetable includes both of days?

If that has tab layout, I can add tabbed and empty layout file for the item.

[2019-01-19 02:49] kirimin commented on #513
Can I take this task?

[2019-01-19 02:50] #528 closed

[2019-01-19 02:51] takahirom commented on #513
Thanks! Assigned👍

[2019-01-19 02:58] clockvoid commented on #527
I suggest you a new behavior:

1. when open floor map, the image is original size
2. then, the user can zoom the image and scroll horizontally and vertically.
3. when maximam scrolling, move tab.

like the screenshot below:
![droidkaigi](https://user-images.githubusercontent.com/6965122/51421424-87b6b380-1be1-11e9-952b-ea9adb0f227b.gif)

[2019-01-19 03:04] Pluu commented on #471
The klock maker has been successful with builds based on Kotlin 1.3.20 and Gradle 5.1.1, and announced the availability of a temporary version.
https://github.com/korlibs/klock/issues/16

[2019-01-19 03:14] ymnder commented on #523
I want to fix it 🙆

[2019-01-19 03:16] tomoya0x00 commented on #523
Thanks! Assigned 👍

[2019-01-19 05:37] tomoya0x00 commented on #527
@clockvoid Looks great! 🆒

May we assign this issue to you?

[2019-01-19 06:06] clockvoid commented on #527
Off course yes.

[2019-01-19 06:07] tomoya0x00 commented on #527
Thanks😁 Assigned!

[2019-01-19 06:42] takasfz commented on #495
Yes, I tried both clean and re-clone repo but it didn't solve it.

Here is my konanc args. It seems that `api.klib` and `model.klib` are additionally included..🤔
https://gist.github.com/takasfz/606a3e1441cb457083d0c0709ec4416c

[2019-01-19 07:16] clockvoid commented on #527
By the way, the app does not support English floor map.
Additionally, in the floor map photo, Elevator icon explains Smoking space...

Is the image of the floor map tentative?

[2019-01-19 07:48] jmatsu commented on #495
I could reproduce this problem.
This happened by running `./gradlew :frontend:ios-combined:packForXCode -PXCODE_CONFIGURATION=Debug` after cloning the repo again.
BUT I could compile the project successfuly on the previous directory... 🤷‍♂️
compileKotlinIOS will run on `data/api` and `model` in the new cloned directory. 🤔

[2019-01-19 07:48] jmatsu commented on #495
maybe gradle cache is evil? I'm not sure but will investigate

[2019-01-19 08:35] jmatsu commented on #495
@takasfz Could you please use the latest master and check again? 🙇

[2019-01-19 10:30] takahirom opened #542 "Apply filter design"
## Kind (Required)

- Other

 ## Overview (Required)

-
![image](https://user-images.githubusercontent.com/1386930/51425510-47c2f100-1c20-11e9-844e-2c4366f26524.png)

 ## Links

- If you tell me email adress (or inviting to GitHub bio email adress), I will send invitation of Gallery.
 https://gallery.io/projects/MCHbtQVoQ2HCZd9Pbpex4PVP/files/MCHtA7U1iMGr60CQdbvgFMCPx3QUr8d0FOc

[2019-01-19 11:02] #527 closed

[2019-01-19 11:04] tomoya0x00 commented on #527
@clockvoid Thank you for sharing your notice 🙇

Yes!
We will fix those problems in #385 💪

[2019-01-19 11:09] clockvoid commented on #527
Oh, I see.
I'm sorry, I had been overlooked.

[2019-01-19 11:17] tomoya0x00 commented on #518
@clockvoid Sorry, we might need to consider this 🙇
We will get back here after having a talk with designer.

Thanks!

[2019-01-19 11:21] tomoya0x00 commented on #520
Fixed by #539

[2019-01-19 11:21] #520 closed

[2019-01-19 11:36] takahirom commented on #518
@clockvoid

Sorry for late. I talk to a designer. Please do it 👍

[2019-01-19 11:51] kafumi commented on #542
Could I try this issue? 🙋‍♂️

[2019-01-19 11:53] takahirom commented on #542
@kafumi Can you access Gallery? If not, please mail to takam.dev@gmail.com for the invitation 🙏

[2019-01-19 11:56] kafumi commented on #542
@takahirom Thank you. I've sent an email to your address above 🙏

[2019-01-19 12:05] takahirom commented on #542
@kafumi I sent the invitation 👍

[2019-01-19 12:10] kafumi commented on #542
Thank you! I've successfully see the Gallery. I understand the followings are the major tasks we need to do.

- Apply Lekton typeface to the texts
- Change the colors
- Remove small close icon which is shown when filter is activated

If it's okay, please let me take this issue :bow:

[2019-01-19 12:30] takahirom commented on #542
Change the colors

YES 🙏

Currently, font policy is this.

If the text can contain Japanese text, please use Noto Sans Font, otherwise please use Lekton.
(Japanese: もしそのTextが日本語の文を含みえるのであれば、fontをNoto Sansにして、それ以外をLektonにする)

Sorry, Can you wait for this `Remove small close icon` 🙏

[2019-01-19 12:39] #530 closed

[2019-01-19 12:40] #513 closed

[2019-01-19 12:47] takahirom commented on #542
Please do not delete small close icon 🙏

[2019-01-19 12:55] kafumi commented on #542
Thank you, I understand the font policy and that the close icons need to be kept.

I have one question regarding typeface. Should we use Lekton to category filter texts in English preference? Or, is it to use Noto Sans Font for category filters regardless of language preferences? I ask this because whether the texts of category filters contain Japanese or not depends on language preference.

[2019-01-19 13:34] takasfz commented on #495
@jmatsu Thank you so much. It solved! :tada:

[2019-01-19 14:37] kafumi commented on #542
Okay, let me see... But maybe I will use Lekton only for Room filter texts for now...

[2019-01-19 15:28] tomoya0x00 opened #546 "Remove unneeded dashed line between day1 to day2 in MyPlan"
## Kind (Required)

- Other

 ## Overview (Required)

- Remove dashed line between last session of day1 to first session of day2 in MyPlan
- current
![device-2019-01-19-221020](https://user-images.githubusercontent.com/5106629/51428684-c3856380-1c49-11e9-882c-d54781e5457b.png)

 ## Links

- none

[2019-01-19 15:31] #495 closed

[2019-01-19 15:39] miga9 commented on #144
Thanks for responding!

Let me give you more info. I have added Staff class to `/model/src/commonMain/kotlin/Staff.kt`, API response classes to `/data/api/src/commonMain/kotlin/io/github/droidkaigi/confsched2019/data/api/response/`, and Room entity classes to `/data/db/src/commonMain/kotlin/io/github/droidkaigi/confsched2019/data/db/entity/`.

![screen shot 2019-01-19 at 10 33 09 am](https://user-

[2019-01-19 15:43] miga9 commented on #144
It's still a mess, but I pushed my branch to my repo, if that helps.
https://github.com/miga9/conference-app-2019/commit/10e3ad5fa7941b711054ad28747ada583e31121f

[2019-01-19 15:49] takahirom commented on #144
Thank you 👍
I have not checked it yet. But I am concerned about this error. If you don't have `@Inject` parameter, you can create Item by using a normal way.
Databinding will also display an error if the other part is bad. 😭

[code]

[code]

[code]

[2019-01-19 15:57] miga9 commented on #144
It reduced the 5 errors down to 1. "Clean Project" and building again didn't work. `ItemStaffBinding` class seems to not recognize the `Staff` class import.

`kaigi2019/feature/staff/build/generated/source/kapt/debug/io/github/droidkaigi/confsched2019/staff/DataBinderMapperImpl.java:10: error: cannot find symbol
import io.github.droidkaigi.confsched2019.staff.databinding.ItemStaffBindingImpl;

[2019-01-19 16:07] takahirom commented on #144
👀

[2019-01-19 16:09] tomoya0x00 commented on #144
Is the following error message displayed?

[code]

[2019-01-19 16:10] takahirom commented on #144
Sometimes databinding will display important errors later. 😭

[2019-01-19 16:12] takahirom commented on #144
Probably I can use `iconUrl` 👍

[2019-01-19 16:20] miga9 commented on #144
Ah yes! Printing the stacktrace by `./gradlew :frontend:android:assembleDebug --stacktrace` gave me that detail. It still has similar errors, but I think I can figure it out now.

Thank you for your time and the help! @takahirom @tomoya0x00

[2019-01-19 16:22] takahirom commented on #144
Please feel free to ask us if you have any questions. 👍

[2019-01-19 19:20] sekiya9311 commented on #546
🙋‍♂️

[2019-01-19 21:34] miga9 commented on #144
I was able to get it to compile. I had to manually add the import statements for `io.github.droidkaigi.confsched2019.ext.android.changed` although my IDE still shows in red as it doesn't recognize.

[2019-01-20 02:16] takahirom commented on #144
It is a common problem with this project. Close the project and return to the "Welcome to Android Studio" screen. So when you mouse over the project, press the close button that appears. And it should be displayed again by reopening the project.

[2019-01-20 02:59] takahirom opened #548 "Import error of model module occurs in Android Studio"
## Kind (Required)

- Other

 ## Overview (Required)

- Sometimes, model import errors will occur. This is not solved with clean etc.

There are two solutions now.
- Use Android Studio 3.4.
- On the "Welcome to Android Studio" screen, press this close button to reopen the project.

![image](https://user-images.githubusercontent.com/1386930/51434708-9a48ef80-1caa-11e9-8b31-ad8130031909.png)

[2019-01-20 03:04] takahirom commented on #144
I opened that issue.
https://github.com/DroidKaigi/conference-app-2019/issues/548

[2019-01-20 04:13] takahirom opened #549 "Fix blink when favorite in session detail"
## Kind (Required)

- Other

 ## Overview (Required)

- The title says everything.
- Probably it is occurred by [here](https://github.com/DroidKaigi/conference-app-2019/blob/master/feature/session/src/main/java/io/github/droidkaigi/confsched2019/session/ui/SessionDetailFragment.kt#L208)

[2019-01-20 04:32] takahirom commented on #144
I am sorry to have changed, but I do not want to display the initial letter and I would like to use the order returned from the API. 🙏

[2019-01-20 05:28] takahirom opened #553 "Delete speaker screen speaker title"
## Kind (Required)

- Other

 ## Overview (Required)

-
![image](https://user-images.githubusercontent.com/1386930/51435654-94a9d480-1cbf-11e9-8a32-7657cbf3b886.png)

[2019-01-20 05:40] takahirom opened #554 "Add commit number to About DroidKaigi screen"
## Kind (Required)

- Other

 ## Overview (Required)

- Please show it like this 1.0.0 (189ab19)
![image](https://user-images.githubusercontent.com/1386930/51435706-53b2bf80-1cc1-11e9-8474-d44bcb5660ff.png)

[2019-01-20 06:06] kouhon commented on #553
✋

[2019-01-20 06:06] takahirom commented on #553
Thanks! Assigned 👍

[2019-01-20 06:22] kouhon commented on #553
ok 👌

[2019-01-20 09:19] tjmmm commented on #554
✋

[2019-01-20 09:21] takahirom commented on #554
Thanks! Assigned 👍

[2019-01-20 09:24] takahirom opened #561 "Show speaker in Session list for iOS App"
## Kind (Required)

- Proposal / Discussion

 ## Overview (Required)

- Design spec does not exist. Please do your best 🙏
- There may be more than one speaker for the session.
![image](https://user-images.githubusercontent.com/1386930/51437334-6dafca80-1ce0-11e9-8d72-3adfecf9848b.png)

## link
You can build iOS App in this step.
https://github.com/DroidKaigi/conference-app-2019/tree/master/fronten

[2019-01-20 09:26] takahirom opened #562 "Session detail screen for iOS App"
## Kind (Required)

- Other

 ## Overview (Required)

- Design spec does not exist. Please do your best 🙏
- You don't need to implement bottom app bar.
- Please just show session details 🙏

![image](https://user-images.githubusercontent.com/1386930/51437377-e1ea6e00-1ce0-11e9-8782-1a2ef9106961.png)

## link
You can build iOS App in this step.
https://github.com/DroidKaigi/conference-app-2019/tree/

[2019-01-20 09:32] takahirom opened #563 "Add margin between session list speakers"
## Kind (Required)

- Other

 ## Overview (Required)

- I think we can add 2dp margin for it 👀
![image](https://user-images.githubusercontent.com/1386930/51437429-b1570400-1ce1-11e9-8f5c-b5bc3463b4d1.png)

[2019-01-20 09:37] kafumi commented on #542
I'm sorry for being late. I will create a PR between 7PM - 8PM later 🙇

[2019-01-20 09:39] takahirom commented on #542
There is no need to panic. This is necessary for release, but it is okay if it is late. 🙏

[2019-01-20 09:47] takahirom opened #564 "Apply session tag design in session detail screen"
## Kind (Required)

- Other

 ## Overview (Required)

- Currently, Session list.
![image](https://user-images.githubusercontent.com/1386930/51437574-7655d000-1ce3-11e9-93fa-2308186a6b65.png)
- Curretly, session detail. Please apply session detail tag colors! 🙏
![image](https://user-images.githubusercontent.com/1386930/51437589-a3a27e00-1ce3-11e9-99b2-e1131212d5c1.png)

[2019-01-20 09:57] NUmeroAndDev commented on #564
🙋‍♂️

[2019-01-20 09:57] takahirom commented on #564
Thanks!

[2019-01-20 10:17] #123 closed

[2019-01-20 10:17] takahirom commented on #123
We do it in https://github.com/DroidKaigi/conference-app-2019/issues/564

[2019-01-20 10:36] #554 closed

[2019-01-20 10:45] #564 closed

[2019-01-20 11:49] clockvoid commented on #518
I'm sorry for late to notice.
I will.

[2019-01-20 12:41] clockvoid commented on #518
Does it seem ok?
![Imgur](http://i.imgur.com/pPNbPvL.jpg)
![Imgur](http://i.imgur.com/iUiVuD8.jpg)

[2019-01-20 12:45] takahirom commented on #518
Thanks! LGTM!

[2019-01-20 13:44] HaSuzuki commented on #563
✋

[2019-01-20 14:06] #563 closed

[2019-01-20 15:20] kafumi opened #572 "Filtering sessions by Audience Category = "Unspecified" (指定無し) is not working"
**Overview (Required)**
- Audience Category = "Unspecified" (指定無し) filter is not working
- Even if that filter is enabled, "For Beginners" sessions are listed

**Steps To Reproduce**

1. Launch the app
2. Show session filters and enable "Unspecified" (指定無し) filter in "Audience Category" section
3. Check updated session list on Day1

**Expected behavior**
After step 3, "For Beginners" (初心者向け) sessi

[2019-01-20 16:06] jmatsu commented on #572
Thank you for your dedicated report!

[2019-01-20 16:42] #542 closed

[2019-01-20 16:49] #518 closed

[2019-01-20 17:05] #144 closed

[2019-01-21 01:19] #553 closed

[2019-01-21 02:14] #149 closed

[2019-01-21 03:39] #514 closed

[2019-01-21 06:14] #167 closed

[2019-01-21 08:46] #65 closed

[2019-01-21 16:46] #546 closed

[2019-01-22 04:33] takahirom opened #581 "Display appropriate map when going from session detail to floormap"
## Kind (Required)

- Other

 ## Overview (Required)

- When going from session detail to floormap move to the tab corresponding to the session room
- If the session room name does not contains "Hall", Please show 5F floormap
![image](https://user-images.githubusercontent.com/1386930/51512519-af0fb980-1e49-11e9-9ea1-f6875a57026f.png)
![image](https://user-images.githubusercontent.com/1386930/51512

[2019-01-22 07:31] takahirom opened #582 "Add `features = ["parcelize"]` to model module."
## Kind (Required)

- Proposal / Discussion

 ## Overview (Required)

- We are using only `parcelize`. So we can just use only `parcelize`.

https://github.com/DroidKaigi/conference-app-2019/blob/6b7f81b936e47de1bb43dbd687b158fe63088633/model/build.gradle#L12

https://github.com/JetBrains/kotlin/blob/master/libraries/tools/kotlin-gradle-plugin-integration-tests/src/test/resources/testProject/Andro

[2019-01-22 11:20] NUmeroAndDev commented on #582
🙋‍♂️

[2019-01-22 11:21] takahirom commented on #582
Thanks always 🥇

[2019-01-22 11:54] takahirom opened #585 "Refactor README"
## Kind (Required)

- Other

 ## Overview (Required)

- Add Kotlin Multiplatform
- Update Screenshot

[2019-01-22 12:20] #582 closed

[2019-01-22 12:40] mhidaka commented on #581
@tommykw Thanks!
I Assigned you😉

[2019-01-22 13:17] a25max opened #588 "typo Androd"
**Overview (Required)**
I found small problem.
I think the cause is the server response.Sorry to raise a problem that is not caused by the application 🙇

**Steps To Reproduce**

1. open app.
2. tap「マルチモジュールプロジェクトでの..」

**Expected behavior**
Androd => Android

**Screenshots**
<img src="https://user-images.githubusercontent.com/11706821/51537795-da6ac680-1e92-11e9-854b-41127de12460.png" width="320">

[2019-01-22 13:20] mhidaka commented on #588
@a25max Thank you for reporting issue.
May I have a little time for confirmation with session team ? btw, good catch!

[2019-01-22 13:39] yh1224 commented on #572
🙋‍♂️

[2019-01-22 13:45] panpanini commented on #572
thanks! assigned 👍

[2019-01-22 13:49] mhidaka commented on #588
I'm afraid I do not change the session description. We are going to handle the original sentences by the authors.

Thank you for sharing your eagle eye.

[2019-01-22 13:49] #588 closed

[2019-01-22 14:18] #529 closed

[2019-01-23 00:36] #572 closed

[2019-01-23 03:55] takahirom opened #592 "Show session start time for iOS App"
## Kind (Required)

- Other

 ## Overview (Required)

-
![image](https://user-images.githubusercontent.com/1386930/51582131-10995c00-1f0e-11e9-8d61-832ea4a72a9d.png)

- https://github.com/DroidKaigi/conference-app-2019/pull/583#issuecomment-456580809

セッションの開始時間を表示するには、開始時間毎に`[Session]`を分ける必要があると思います。
例えば、下のようにクラスを用意して、`[Session]`を`[Hogehoge]`として分配し、
それぞれの時間毎に`UITableView`の`section`で分けて`UITableVie

[2019-01-23 06:30] #108 closed

[2019-01-23 10:43] takahirom commented on #385
We apply hotfix for this https://github.com/DroidKaigi/conference-app-2019/pull/587
So I removed milestone

[2019-01-23 11:13] takahirom opened #597 "MotionLayout for session detail title scrolling"
## Kind (Required)

- Proposal / Discussion

 ## Overview (Required)

- Now the title is not animated. So I want to animate it.
![motion](https://user-images.githubusercontent.com/1386930/51602741-18c3bc80-1f4b-11e9-92bc-40ba08c4bded.gif)

 ## Links

-

[2019-01-23 11:17] takahirom opened #598 "Show ONGOING instead of LIVE when session is ongoing"
## Kind (Required)

- Other

 ## Overview (Required)

- Since "LIVE" has many meanings, it is hard to understand, so make it "ONGOING" to represent time.

 ## Links

-

[2019-01-23 12:00] NUmeroAndDev commented on #597
I want to try it 🙋‍♂️

[2019-01-23 12:02] jmatsu commented on #69
@fumiya-kume
We are sorry for the short notice.
We have changed the deadline for this issue because we should consider the review time.
Please don't hesitate to ask us if you would like to take over or need any support. Thanks.

[2019-01-23 12:02] takahirom commented on #597
Thanks! Assigned!

[2019-01-23 12:15] fumiya-kume commented on #69
Remaing Task
- Dagger Setting
- Repository Impl
Done Task
- View(xml)
- FLUX(?) Flow
- RecyclerView

@jmatsu  Sorry...

[2019-01-23 12:18] fumiya-kume commented on #69
Can i make PR before done tasks?
ex. [WP]

[2019-01-23 14:01] #581 closed

[2019-01-23 14:11] takahirom opened #600 "Favorite for iOS App"
## Kind (Required)

- Other

 ## Overview (Required)

- I do not have time to release. It is enough to manage with UserDefaults. 😭

[2019-01-23 14:16] aosa4054 commented on #598
I would like to try this

[2019-01-23 14:19] takahirom commented on #598
Thanks! Assigned 👍

[2019-01-23 19:57] OldBigBuddha commented on #268
I have a problem now.💦

I added `exclude` in `frontend/android/build.gradle` .
So some warnings removed. But I couldn't remove some warnings.

I can remove like this warning.

[code]

with this code

[code]

But I can't remove there warning.😰

[code]

I tried to add 'exclude'.
For example

[code]

But the warning isn't removed.
Do you have any idea?
I'm searching about this now. But I don't have a

[2019-01-24 08:52] #549 closed

[2019-01-24 08:53] jmatsu opened #608 "Ellipsize session descriptions by TextUtil instead of substring"
## Kind (Required)

- Other

 ## Overview (Required)

- This issue was derived from https://github.com/DroidKaigi/conference-app-2019/pull/595
- @gen0083 thank you so much.

 ## Links

-

[2019-01-24 10:36] #598 closed

[2019-01-24 16:35] #592 closed

[2019-01-24 16:47] #597 closed

[2019-01-24 17:36] takahirom opened #614 "Implement View Recycling on scrolling for TimeTableLayoutManager"
## Kind (Required)

- Other

 ## Overview (Required)

- Title says everything

 ## Links

- https://github.com/DroidKaigi/conference-app-2019/blob/f49c824fd85934f656505904de4369036d8c51d7/feature/session/src/main/java/io/github/droidkaigi/confsched2019/session/ui/widget/TimeTableLayoutManager.kt#L9

## Assign
@MoyuruAizawa

[2019-01-24 17:52] takahirom opened #615 "Fix timezone for session time table"
## Kind (Required)

- Other

 ## Overview (Required)

-
![image](https://user-images.githubusercontent.com/1386930/51697836-1bf2a180-204c-11e9-8f4d-ad32641768d8.png)

 ## Links

- https://github.com/DroidKaigi/conference-app-2019/search?q=timezoneoffset&unscoped_q=timezoneoffset

[2019-01-24 17:59] takahirom opened #616 "save first visible item position or scroll position and restore it for TimeTableLayoutManager"
## Kind (Required)

- Other

 ## Overview (Required)

- Title says everything

 ## Links

- https://github.com/DroidKaigi/conference-app-2019/blob/f49c824fd85934f656505904de4369036d8c51d7/feature/session/src/main/java/io/github/droidkaigi/confsched2019/session/ui/widget/TimeTableLayoutManager.kt#L10

## Assign
@MoyuruAizawa

[2019-01-24 18:01] takahirom opened #617 "implement scrollToPosition for TimeTableLayoutManager"
## Kind (Required)

- Other

 ## Overview (Required)

- Title says everything

 ## Links

- https://github.com/DroidKaigi/conference-app-2019/blob/f49c824fd85934f656505904de4369036d8c51d7/feature/session/src/main/java/io/github/droidkaigi/confsched2019/session/ui/widget/TimeTableLayoutManager.kt#L11

## Assign
@MoyuruAizawa

[2019-01-24 18:02] takahirom opened #618 "Use SafeArgs for session time table"
## Kind (Required)

- Other

 ## Overview (Required)

- Title says everything

 ## Links

- https://github.com/DroidKaigi/conference-app-2019/blob/master/feature/session/src/main/java/io/github/droidkaigi/confsched2019/session/ui/TabularFormSessionPageFragment.kt#L94

[2019-01-24 18:05] takahirom opened #619 "Open session detail when session click in session time table"
## Kind (Required)

- Other

 ## Overview (Required)

- Title says everything
![image](https://user-images.githubusercontent.com/1386930/51698599-fb2b4b80-204d-11e9-959d-421086bc3118.png)

[2019-01-24 18:10] takahirom opened #620 "Overwrite lunch session for session time table by ItemDecoration"
## Kind (Required)

- Proposal / Discussion

 ## Overview (Required)

- Currently, lunch is only HallA, But we want to spread it. It is hard to realize this with LayoutManager, so overwrite it with ItemDecoration.

![image](https://user-images.githubusercontent.com/1386930/51700339-392a6e80-2052-11e9-8243-01a8fbed6030.png)

 ## Links

- https://github.com/DroidKaigi/conference-app-2019/blob/master

[2019-01-24 18:11] takahirom opened #621 "Apply timetable design"
## Kind (Required)

- Other

 ## Overview (Required)

-

 ## Links

-

[2019-01-24 18:16] takahirom opened #622 "Quit ViewPager for TabularFormSessionPagesFragment"
## Kind (Required)

- Other

 ## Overview (Required)

Because of

- Make an unintended transition.
- Use memory.
- There are few people like 2 days at the same time.

 ## Links

- https://github.com/DroidKaigi/conference-app-2019/blob/master/feature/session/src/main/java/io/github/droidkaigi/confsched2019/session/ui/TabularFormSessionPagesFragment.kt#L48

[2019-01-24 18:46] itome commented on #620
I'll try this.

[2019-01-24 18:48] takahirom commented on #620
Thanks! Assigned

[2019-01-24 19:31] a25max commented on #619
🙋

[2019-01-24 23:14] sobaya-0141 commented on #618
やってみたいです！！

[2019-01-25 00:03] e10dokup commented on #619
@a25max Thanks! We assigned this issue to you.

[2019-01-25 00:05] e10dokup commented on #618
@sobaya-0141 Thanks! Please take this issue!

[2019-01-25 02:12] ShoMasegi commented on #562
I want to try it🙋‍♂️

[2019-01-25 07:05] takasfz commented on #561
It seems already implemented with #583 :eyes:

[2019-01-25 07:18] takahirom commented on #561
Thanks

[2019-01-25 07:18] #561 closed

[2019-01-25 07:43] offwhiite commented on #615
I want to try! ✋

[2019-01-25 07:44] futabooo commented on #615
@offwhiite Thanks!! Assigned!!

[2019-01-25 08:14] koogawa opened #626 "Add license info for iOS"
## Kind (Required)

- Proposal / Discussion

 ## Overview (Required)

I recommend @mono0926's [LicensePlist](https://github.com/mono0926/LicensePlist). Because this oss is active and many ⭐️ !

 ## Links

- https://github.com/mono0926/LicensePlist

[2019-01-25 08:15] takahirom commented on #626
Nice catch!

[2019-01-25 08:17] koogawa commented on #626
If you need, assign me 👍

[2019-01-25 08:18] takahirom commented on #626
Thanks!! Assigned 👍

[2019-01-25 09:07] takahirom opened #627 "TabularFormSessionPageFragment Day2 room 6, 7 is not found"
## Kind (Required)

- Bug report

 ## Overview (Required)

-
![image](https://user-images.githubusercontent.com/1386930/51735912-01600d00-20cc-11e9-8a14-1524f99c26bf.png)

[2019-01-25 09:33] Yuiki commented on #622
:raised_hands:

BTW, what does this mean?

[2019-01-25 09:35] takahirom commented on #622
Sorry for my bad English 🙏
It means that few people want to see two tabs simultaneously. 🙇

[2019-01-25 09:35] takahirom commented on #622
Thanks! Assigned 🙏

[2019-01-25 09:38] Yuiki commented on #622
Never mind. I see :+1:
Thank you.

[2019-01-25 13:50] #618 closed

[2019-01-26 04:08] aosa4054 commented on #627
🙋‍♂️

[2019-01-26 04:09] tomoya0x00 commented on #627
Thanks! Assigned 👍

[2019-01-26 06:45] #608 closed

[2019-01-26 13:15] koji-1009 opened #635 "Swiping quickly and repeatedly on the session tab will freeze the app."
**Overview (Required)**

- Bug report

**Steps To Reproduce**

1. Go to "DroidKaigi:2019" home page. (in code, MainAcitivity.kt)
2. Swipe session tab quickly and repeatedly...
3. App is freezing. (Probably a mount of GC is occurring.)

**Expected behavior**

Swipe indefinitely.

**Screenshots**

![cedricopqs28 85-13-4koji01262019220650](https://user-images.githubusercontent.com/17231507/51787547-c

[2019-01-26 13:17] koji-1009 commented on #635
If this issue is duplicated, please close this. 🙏

[2019-01-26 14:17] takahirom commented on #635
Does it happen even if leakcanary is invalidated?

[2019-01-26 14:20] koji-1009 commented on #635
Oh, I try it.

[2019-01-26 14:47] jmatsu commented on #268
@OldBigBuddha
Sorry for the late reply.

I dived into the android dsl implementation.

`com.android.build.gradle.internal.dsl.PackagingOptions` contains default merge/exclude/pickFirst definitions. One of them is `merge("/META-INF/services/**")`. That's why `exclude 'META-INF/services/*` doesn't work.

To make it work, the following hack is needed.

[code]

However, at least `META-INF/services/kot

[2019-01-26 14:56] koji-1009 commented on #635
@takahirom
It is reproducible.

[2019-01-26 15:05] koji-1009 commented on #635
Maybe there is a relationship, RAM of moto g5 is only 2G.

https://www.motorola.co.jp/products/moto-g

[2019-01-26 15:37] #622 closed

[2019-01-26 20:17] nacatl commented on #446
I'm sorry for I'm late...

[2019-01-27 06:44] takahirom opened #647 "Show gray circle background when session speaker image not present"
## Kind (Required)

- Other

 ## Overview (Required)

-
![image](https://user-images.githubusercontent.com/1386930/51797635-69d4f880-224a-11e9-9404-6fa6fdadafeb.png)

[2019-01-27 08:41] clockvoid opened #649 "Session Detail Title with no scrolling has an invalid new line"
## Kind (Required)

- Other

 ## Overview (Required)

- Immediately after opening the session detail, that title has an invalid new line.
![screenshot_20190127-173327](https://user-images.githubusercontent.com/6965122/51798702-35693880-225a-11e9-80a7-7d68f100e35c.png)

It's scrolling, and go back, then it's gonna be normal.

I have been able to fix it!

 ## Links

- #597

[2019-01-27 09:31] jmatsu commented on #649
Thank you for reporting.

Can we leave it to you?

[2019-01-27 09:32] #562 closed

[2019-01-27 09:34] #268 closed

[2019-01-27 09:40] clockvoid commented on #649
Yes.

[2019-01-27 09:57] #619 closed

[2019-01-27 10:07] ShoMasegi opened #651 "Session List View is wrong when clicked back button on Toolbar"
**Overview (Required)**
- Session List View is wrong when clicked back button on Toolbar at session detail.

**Steps To Reproduce**

1. Go to Session Detail.
2. Click on back button on Toolbar.
3. See error

when click on `Navigation Bar Back Button`, it works well.

**Screenshots**
<img src="https://user-images.githubusercontent.com/12663296/51799610-6bacb500-2266-11e9-822a-061ea46475d9.gif" widt

[2019-01-27 10:09] takahirom commented on #651
Thanks! I tried this. It was pretty bad. 😭

[2019-01-27 10:52] #649 closed

[2019-01-27 14:30] #615 closed

[2019-01-28 01:49] amay077 opened #656 "Open IME when app started"
**Overview (Required)**
- Open IME when app started

**Steps To Reproduce**

1. Launch app
2. App launched and IME opened

**Expected behavior**

No need IME when app started

**Screenshots**
<img alt="" height="320" src="https://user-images.githubusercontent.com/401369/51810224-e1a63000-22e9-11e9-8618-b5b66f852743.gif" />

**Env:**
 - Device: Xperia XZ1 Compact
 - OS: 8.0
 - DroidKaigi 2019#898 v

[2019-01-28 04:59] #446 closed

[2019-01-28 06:23] takahirom opened #658 "Apply timetable item design"
## Kind (Required)

- Other

 ## Overview (Required)

-
![image](https://user-images.githubusercontent.com/1386930/51817922-3d83af80-2310-11e9-836b-dca35a7a49de.png)

![image](https://user-images.githubusercontent.com/1386930/51817997-80de1e00-2310-11e9-8435-442dd305f96f.png)
![image](https://user-images.githubusercontent.com/1386930/51818011-876c9580-2310-11e9-8b52-2b1280f0d651.png)
![image](http

[2019-01-28 06:29] takahirom opened #660 "iPad Pro3 Simulator can not show first tab sessions."
## Kind (Required)

- Bug report (please use the other template)

## Overview (Required)

-  It just shows an empty tab

[2019-01-28 08:38] takahirom commented on #656
I can reproduce it in the emulator. Thanks 👍

[2019-01-28 09:03] NUmeroAndDev commented on #658
🙋‍♂️

[2019-01-28 09:03] takahirom commented on #658
Thanks always! Assigned

[2019-01-28 09:07] tarumzu commented on #656
@takahirom Hi, Is this issue fixed?

[2019-01-28 09:08] takahirom commented on #656
No, I don't have a solution for this 😭

[2019-01-28 09:10] amay077 commented on #656
I still see this issue in latest DroidKaigi apps via DeployGate#908.

[2019-01-28 09:11] tarumzu commented on #656
I'll do it!🤚

[2019-01-28 09:12] takahirom commented on #656
Thanks 🙇 Assigned 👍

[2019-01-28 09:46] takahirom opened #661 "When day2, open day2 time table"
## Kind (Required)

- Other

 ## Overview (Required)

- Please look link, if it is 2/8 please show day2 for TabularFormSessionPagesFragment

 ## Links

- https://github.com/DroidKaigi/conference-app-2019/blob/master/feature/session/src/main/java/io/github/droidkaigi/confsched2019/session/ui/SessionPagesFragment.kt#L153

[2019-01-28 10:43] #656 closed

[2019-01-28 11:11] koji-1009 commented on #635
@takahirom
This issue is reproducible on Essential Phone.

Can I challenge this issue?

[2019-01-28 11:12] takahirom commented on #635
@koji-1009 Thank you for investigating 👍 Assigned 👍

[2019-01-28 12:00] daisukemotonami commented on #661
✋🏿

[2019-01-28 12:08] takahirom commented on #661
Thanks! Assinged 👍

[2019-01-28 12:20] takahirom opened #663 "Session survey not applied DB data when open the session survey"
**Overview (Required)**
- Session survey not applied DB data when open the session survey

**Steps To Reproduce**

1. Go to Session survey
2. Click on star
3. back
4. Go to Session survey

**Expected behavior**
Show saved star

**Screenshots**
![image](https://user-images.githubusercontent.com/1386930/51836014-6fae0500-2342-11e9-8933-2c0788101d72.png)

**Env:**
 - All

[2019-01-28 12:34] takahirom opened #665 "Fix crash when open or clicking favorite"
**Overview (Required)**
- Crash when clicking favorite

**Steps To Reproduce**

0. Install from DeployGate
1. Click on 'favorite'
2. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/1386930/51836676-6b82e700-2344-11e9-9d2e-b175ea4a5ae2.png)

[2019-01-28 14:05] ShoMasegi commented on #660
@takahirom I can't replicate this bug.
But, I think it was caused by wrong reload timing.

[2019-01-28 14:10] ShoMasegi commented on #660
@takahirom Please check this PR.🙇‍♂️(#666)

[2019-01-28 14:54] #660 closed

[2019-01-28 17:11] nyafunta9858 commented on #665
@takahirom
Because I confirmed that I made modifications and did not crash, may I create PR?
But I do not know whether this is an appropriate correction because I don't know very much about R8 code shrink...is it OK?

[2019-01-28 17:22] takahirom commented on #665
Thanks! It is OK!🙏

[2019-01-29 02:46] #635 closed

[2019-01-29 02:55] #661 closed

[2019-01-29 02:58] takahirom opened #673 "Session message for iOS"
## Kind (Required)

- Other

 ## Overview (Required)

-
![image](https://user-images.githubusercontent.com/1386930/51881085-2c44ac80-23bd-11e9-9b1f-f5b3b1fe60a1.png)

 ## Links

- You can use Session.message field for it.
https://github.com/DroidKaigi/conference-app-2019/blob/master/model/src/commonMain/kotlin/Session.kt#L77

[2019-01-29 02:59] jmatsu opened #674 "Use the production API endpoint for iOS app as well"
## Kind (Required)

- New feature

 ## Overview (Required)

- Change api endpoints based on Schema for iOS app
- https://github.com/DroidKaigi/conference-app-2019/blob/master/data/api-impl/build.gradle#L73 should be used for the release build

 ## Links

- https://github.com/DroidKaigi/conference-app-2019/blob/master/data/api-impl/src/iosMain/kotlin/io/github/droidkaigi/confsched2019/data/api/ApiE

[2019-01-29 04:08] matsujun opened #675 "[iOS ] Contents are not shown at bottom safe area. It's cropped."
**Overview (Required)**
- Bottom SafeArea handling looks not following Apple's guideline.

**Steps To Reproduce**

1. Open App

**Expected behavior**
Contents are not cropped.

**Screenshots**
![ios_](https://user-images.githubusercontent.com/10704349/51883525-9f065580-23c6-11e9-94c6-d2d0910d840d.png)

**Env:**
 - Device: iPhone X
 - OS: 12.1.3
 - App Version or the branch: 1.0.0? (Initial release

[2019-01-29 05:00] punchdrunker opened #676 "[iOS] Invalid JSON error"
**Overview (Required)**
- `Invalid JSON at 180746: Unexpected end in string` was shown on starting

**Steps To Reproduce**

1. launch app

**Expected behavior**
show no error

**Screenshots**
![img_0024](https://user-images.githubusercontent.com/135589/51885203-d6c4cb80-23cd-11e9-8c42-0c9b3800d01d.PNG)

**Env:**
 - Device: iPhone SE
 - OS: iOS12.1.2
 - App Version or the branch : first released ve

[2019-01-29 05:05] #665 closed

[2019-01-29 06:05] #150 closed

[2019-01-29 06:05] #614 closed

[2019-01-29 09:41] woxtu commented on #600
✋

[2019-01-29 09:43] takahirom commented on #600
Thanks! Assigned👍

[2019-01-29 10:55] sugoi-wada commented on #675
✋

[2019-01-29 10:56] takahirom commented on #675
Thanks! Assigned 👍

[2019-01-29 11:05] oboenikui commented on #663
🤚

[2019-01-29 11:08] takahirom commented on #663
Thanks! Assigned 👍

[2019-01-29 11:44] #675 closed

[2019-01-29 11:53] watabee commented on #676
This may be a bug of ktor.

https://github.com/ktorio/ktor/issues/787

[2019-01-29 12:38] tarumzu commented on #647
I'll do it.

[2019-01-29 13:05] takahirom commented on #647
Thanks! Assigned👍

[2019-01-29 13:45] #647 closed

[2019-01-29 13:49] hironytic commented on #673
🙋🏻‍♂️

[2019-01-29 13:50] takahirom commented on #673
Thanks! Assigned🙏

[2019-01-29 15:19] woxtu commented on #600
How can I get icon images?

[2019-01-29 15:41] takahirom opened #683 "Apply toggle favorite immediately in session list."
## Kind (Required)

- Other

 ## Overview (Required)

-  It is work in session detail. But when session lists are not applied 🤔

 ## Links

- Session detail: https://github.com/DroidKaigi/conference-app-2019/blob/master/feature/session/src/main/java/io/github/droidkaigi/confsched2019/session/ui/SessionDetailFragment.kt#L146

[2019-01-29 16:00] takahirom commented on #434
@eyedol I will recreate issue. Sorry

[2019-01-29 16:02] takahirom opened #684 "Show current time session when loading session first in Fragment"
## Kind (Required)

- Other

 ## Overview (Required)

- We want to show the current time session when conference starts
- We want to scroll to the current session when first loading.
- As there are times when the timing is severe, I think it's good to have flags like this in the Fragment flag for this, like isInitializedScrollPosition.

Now we can use `scrollToCurrentSession `
https://github.com/D

[2019-01-29 16:10] #673 closed

[2019-01-29 16:18] #471 closed

[2019-01-29 16:43] takahirom opened #685 "When favorited codelab sessions are starts, wrong notification is shown"
## Kind (Required)

- Other

 ## Overview (Required)

-
![image](https://user-images.githubusercontent.com/1386930/51924404-51263780-2430-11e9-9366-30583140a9c3.png)

https://github.com/DroidKaigi/conference-app-2019/blob/master/frontendcomponent/androidcomponent/src/main/java/io/github/droidkaigi/confsched2019/util/SessionAlarm.kt#L55

[2019-01-29 18:02] takahirom opened #686 "Floormap for iOS"
## Kind (Required)

- Other

 ## Overview (Required)

- You can use these images. Please use that!
- https://github.com/DroidKaigi/conference-app-2019/blob/master/feature/floormap/src/main/res/drawable-xxhdpi/ic_floor1.png
- https://github.com/DroidKaigi/conference-app-2019/blob/master/feature/floormap/src/main/res/drawable-xxhdpi/ic_floor2.png

 ## Links

-

[2019-01-29 18:10] takahirom commented on #600
@woxtu
Sorry for late.  You can use ic_bookmarkxxxxx in here.
https://github.com/google/material-design-icons/tree/master/action/ios

[2019-01-29 21:37] hironytic commented on #674
I'll give it a try 🙋‍♂️

[2019-01-30 00:22] hironytic commented on #674
I've started working on this issue, but I have a question.
How can I build the iOS app for release?
I simply changed the build configuration to "Release" and run, then I got a linker error.
I think the reason is related this linker warning:

[code]

Can anyone tell me how? 🙏

[2019-01-30 01:02] panpanini commented on #674
thanks, I'll assign you!

What was the command you were using to build the release app?

[2019-01-30 01:20] hironytic commented on #674
@panpanini  Thanks for your support.
I did the following steps in Xcode:
1. Select the menu Product > Scheme > Edit Scheme
2. In the opened dialog, select "Run" on the left pane, change Build Configuration to "Release" in Info tab on the right pane.
3. Close the dialog.
4. Set destination to "iPhone XS" (simulator) via Product > Destination menu.
5. Run (Product > Run)

[2019-01-30 01:49] sobaya-0141 commented on #685
:raising_hand_man:

[2019-01-30 01:55] takahirom commented on #685
Thanks! Assigned 👍

[2019-01-30 02:00] takahirom commented on #674
I did the following step for release.

1. Select Generic iOS devices
![image](https://user-images.githubusercontent.com/1386930/51951687-e1886a80-2478-11e9-920a-f21a281efeb2.png)
2. Product archive

And I did your steps.
It became same error 😭

[2019-01-30 02:10] panpanini commented on #674
Can you try checking the `Build Active Architecture Only` setting? It should be set to `No`

[2019-01-30 02:11] panpanini commented on #674
(The problem is that for the simulator, we need an i836 library, but only an x86_64 was built)

[2019-01-30 02:16] takahirom commented on #674
I don't know for that setting. But it relates here.
https://github.com/DroidKaigi/conference-app-2019/blob/master/frontend/ioscombined/build.gradle#L7

[2019-01-30 02:22] hironytic commented on #674
The setting is below:

<img width="660" alt="screen shot 2019-01-30 at 11 12 57" src="https://user-images.githubusercontent.com/1498691/51953555-295ec000-2480-11e9-95e9-913fb79c69f5.png">

Anyway, I also did @takahirom way, archive targeting Generic iOS Device, but I got same error.

[code]

I have no idea why it is built for x86_64. I think it is for simulator.

[2019-01-30 02:31] takahirom commented on #674
Sorry, when I release it. I also did the following steps.

1. I set it

[code]

↓

[code]

2. Set team.

3. Archive

[2019-01-30 02:44] hironytic commented on #674
Ah, thanks. After changing `iosX64('iOS')` to `iosArm64('iOS')` in ioscombined/build.gradle (and also changing bundle ID to my own and setting team), I finally succeeded to archive 🎉

[2019-01-30 03:54] nacatl commented on #684
Can I challenge this?

And I would like to confirm, does this has a milestone as same as #434?

[2019-01-30 03:58] panpanini commented on #684
Thanks, assigned! Lets set it as the same milestone 😉

[2019-01-30 04:18] nacatl commented on #684
@panpanini
Thanks!
I make it as soon as possible.

[2019-01-30 04:30] panpanini commented on #386
@shikajiro We're using Gradle 5.1.1 now! Do you want to try again at this~? 💪

[2019-01-30 04:31] panpanini commented on #516
@kirimin How's your progress on this~? Is there something we can help you with? 🕵️‍♀️

[2019-01-30 04:31] panpanini commented on #620
@itome How's your progress on this~? Is there something we can help with?

[2019-01-30 04:41] kirimin commented on #516
@panpanini I'm so sorry for this. 🙏
I don't begin this task yet because of my business work and personal illness...
I think I should release this task to other contributors for don't late to the conference. 😢

[2019-01-30 04:51] panpanini commented on #516
Oh that's unfortunate... I hope you feel better soon! I'll unassign you for now then

[2019-01-30 05:44] kkt-yu commented on #683
🙋‍♂️

[2019-01-30 05:47] satsukies commented on #683
Thanks! Assigned!

[2019-01-30 06:44] #627 closed

[2019-01-30 08:34] woxtu commented on #600
Thanks🙏

[2019-01-30 08:47] 417-72KI commented on #686
🙋🏻‍♂️

[2019-01-30 08:47] panpanini commented on #686
Thanks!!! Assigned 💪

[2019-01-30 09:38] #674 closed

[2019-01-30 10:25] sobaya-0141 opened #690 "AS3.4で起動時にエラー"
## Kind (Required)

 ## Overview (Required)
[code]

その2
[code]

1.AndroidStudio3.4を新規インストール
2.アプリを読み込んで端末で実行しようとすると上記エラー
※急いでいたので、ログに不備があるかもしれせん

[2019-01-30 10:53] takahirom commented on #690
Can you check the Kotlin Android Studio Plugin version?

[2019-01-30 10:55] sobaya-0141 commented on #690
承知しました。
明日の夕方くらいには報告します。

[2019-01-30 13:41] shikajiro commented on #386
Oh Yes!!
This tweet expresses the pleasure of knowing it.
https://twitter.com/shikajiro/status/1090366425003249665

I hurriedly downloaded AndroidStudio 3.4 preview.
please waiting...

[2019-01-30 14:03] sobaya-0141 commented on #690
自宅のマシンでも再現したので、Kotlin Android Studio Plugin versionです。
※ログとは別マシンなので、バージョンが違う可能性があります。

1.3.20-release-Studio3.4-1
※最新版と出ています。

また、自宅マシンでは一度ビルドにも成功しています。
失敗→AS再起動→成功→失敗→AS再起動→失敗

問題の切り分けも出来なくなっています。。。

[2019-01-30 14:05] takahirom commented on #690
Gradleのタスクでいうとどこですかね？スタックトレースのちょっと前がほしいです🙏

[2019-01-30 14:09] takahirom commented on #690
あ、わかりました。完全に理解しました。
Instant Runを無効にしてください

[2019-01-30 15:02] sobaya-0141 commented on #690
Instant Runの無効で解決しました。
貴重なお時間をとらせてしまい申し訳ありませんでした :bowing_man:

[2019-01-30 15:06] takahirom commented on #690
I will add it to README

[2019-01-30 15:07] takahirom commented on #690
Thanks!👍

[2019-01-30 15:07] #690 closed

[2019-01-31 01:41] #158 closed

[2019-01-31 04:20] #685 closed

[2019-01-31 11:32] #616 closed

[2019-01-31 13:14] takahirom commented on #683
@kkt-yu He can not this today.
I will do this 🙋

[2019-01-31 15:59] #686 closed

[2019-01-31 16:09] #684 closed

[2019-01-31 16:44] #683 closed

[2019-01-31 16:47] #658 closed

[2019-02-01 00:03] verno3632 commented on #185
Sorry for delay.
I will send PR this Weekend.

[2019-02-01 06:25] takahirom opened #707 "Add ripple effect for TabularSpeechSessionItem,TabularServiceSessionItem"
## Kind (Required)

Choose the suitable template if exists.

- Other

 ## Overview (Required)

-
![image](https://user-images.githubusercontent.com/1386930/52106274-7e900280-2635-11e9-98f3-037084537f3d.png)

[2019-02-01 06:29] takahirom opened #708 "Announcement for iOS"
## Kind (Required)

- Other

 ## Overview (Required)

- We don't have the design for iOS. 🙇
![image](https://user-images.githubusercontent.com/1386930/52106438-1db4fa00-2636-11e9-94be-3c347acb0314.png)

[2019-02-01 06:43] MihoSasaki commented on #708
I'd like to try this one...!(I might release this if I cannot do this🙇‍♀️)

[2019-02-01 06:47] takahirom commented on #708
Thanks! Assigned 🙏

[2019-02-01 07:44] sobaya-0141 commented on #707
:raising_hand_man:

[2019-02-01 07:45] tomoya0x00 commented on #707
Thanks! Assigned 👍

[2019-02-01 07:45] takahirom commented on #707
@sobaya-0141
Thank you for fast contribution as always 👍

[2019-02-01 07:50] sobaya-0141 commented on #707
@takahirom
簡単なものばかりで申し訳ないです。。。
ちょっとずつ力を付けて貢献できるようになります！！

[2019-02-01 07:53] takahirom commented on #707
But you are solving high priority important issues. It helps us significantly. 🙇

[2019-02-01 09:10] takahirom opened #711 "Refactor for FiltersTest"
## Kind (Required)

- Other

 ## Overview (Required)

- I think we can make it more readable and simple.
- We can use Four-Phase Test (Setup, Exercise, Verify)
- We can use [speechSessionMock](https://github.com/DroidKaigi/conference-app-2019/blob/master/model/src/jvmTest/kotlin/io/github/droidkaigi/confsched2019/model/FiltersTest.kt#L115) for all tests
- If you have any improvement idea please do

[2019-02-01 09:19] takahirom opened #712 "AssistedInject for TabularServiceSessionItem,TabularSpeechSessionItem"
## Kind (Required)

- Other

 ## Overview (Required)

- Please try it like [SpeechSessionItem](https://github.com/DroidKaigi/conference-app-2019/blob/master/feature/session/src/main/java/io/github/droidkaigi/confsched2019/session/ui/item/SpeechSessionItem.kt#L33)

 ## Links

- https://github.com/DroidKaigi/conference-app-2019/blob/master/feature/session/src/main/java/io/github/droidkaigi/confsched

[2019-02-01 09:21] takahirom opened #713 "Store's LiveData is cold"
## Kind (Required)

- Other

 ## Overview (Required)

- Currently when LiveData has not an observer. It's value is not changed
- Probably we can fix it by https://github.com/DroidKaigi/conference-app-2019/pull/695#issuecomment-459312647

[2019-02-01 10:20] takahirom opened #714 "Announcement deeplink"
## Kind (Required)

- Other

 ## Overview (Required)

- We should add a deep link to here for the announcement.
- https://github.com/DroidKaigi/conference-app-2019/blob/master/frontendcomponent/androidcomponent/src/main/res/navigation/navigation.xml#L128

[code]

Probably you can check it like this

[code]

[2019-02-01 10:43] takahirom opened #715 "Add SessionSurvey ActionCreator, Store tests"
## Kind (Required)

- Other

 ## Overview (Required)

- You can see other screen tests for your reference.

 ## Links

- SessionSurveyActionCreator https://github.com/DroidKaigi/conference-app-2019/blob/master/feature/survey/src/main/java/io/github/droidkaigi/confsched2019/survey/ui/actioncreator/SessionSurveyActionCreator.kt#L19
- You can see AnnouncementActionCreatorTest https://github.com/Droid

[2019-02-01 10:51] takahirom opened #716 "Add StaffSearch ActionCreator test"
## Kind (Required)

- Other

 ## Overview (Required)

- You can see other screen tests for your reference.

 ## Links

- StaffSearchActionCreator https://github.com/DroidKaigi/conference-app-2019/blob/master/feature/staff/src/main/java/io/github/droidkaigi/confsched2019/staff/ui/actioncreator/StaffSearchActionCreator.kt#L18
- You can see AnnouncementActionCreatorTest https://github.com/DroidKaigi/

[2019-02-01 10:54] takahirom opened #717 "Add Contributor ActionCreator test"
## Kind (Required)

- Other

 ## Overview (Required)

- You can see other screen tests for your reference.

 ## Links

- ContributorActionCreator https://github.com/DroidKaigi/conference-app-2019/blob/257fc9f4d3a13ae8f968b80e1878b41d30e45598/feature/contributor/src/main/java/io/github/droidkaigi/confsched2019/contributor/action/ContributorActionCreator.kt
- You can see AnnouncementActionCreatorTes

[2019-02-01 10:58] takahirom opened #718 "Add Sponsor ActionCreator test"
## Kind (Required)

- Other

 ## Overview (Required)

- You can see other screen tests for your reference.

 ## Links

- SponsorActionCreator https://github.com/DroidKaigi/conference-app-2019/blob/master/feature/sponsor/src/main/java/io/github/droidkaigi/confsched2019/sponsor/ui/actioncreator/SponsorActionCreator.kt#L15
- You can see AnnouncementActionCreatorTest https://github.com/DroidKaigi/conf

[2019-02-01 11:19] #69 closed

[2019-02-01 14:34] takahirom opened #720 "Add SessionSurvey Store test"
## Kind (Required)

- Other

 ## Overview (Required)

- You can see other screen tests for your reference.

 ## Links

- SessionSurveyStore https://github.com/DroidKaigi/conference-app-2019/blob/master/feature/survey/src/main/java/io/github/droidkaigi/confsched2019/survey/ui/store/SessionSurveyStore.kt#L14
- AnnouncementStoreTest https://github.com/DroidKaigi/conference-app-2019/blob/master/featur

[2019-02-01 14:36] takahirom opened #721 "Add StaffSearch Store test"
## Kind (Required)

- Other

 ## Overview (Required)

- You can see other screen tests for your reference.

 ## Links

- StaffSearchStore https://github.com/DroidKaigi/conference-app-2019/blob/master/feature/staff/src/main/java/io/github/droidkaigi/confsched2019/staff/ui/store/StaffSearchStore.kt#L14
- AnnouncementStoreTest https://github.com/DroidKaigi/conference-app-2019/blob/master/feature/anno

[2019-02-01 14:39] takahirom opened #722 "Add Contributor Store test"
## Kind (Required)

Choose the suitable template if exists.

- Other

 ## Overview (Required)

- You can see other screen tests for your reference.

 ## Links

- ContributorStore https://github.com/DroidKaigi/conference-app-2019/blob/257fc9f4d3a13ae8f968b80e1878b41d30e45598/feature/contributor/src/main/java/io/github/droidkaigi/confsched2019/contributor/store/ContributorStore.kt
- AnnouncementStor

[2019-02-01 14:40] takahirom opened #723 "Add Sponsor Store test"
## Kind (Required)

- Other

 ## Overview (Required)

- You can see other screen tests for your reference.

 ## Links

- SponsorStore https://github.com/DroidKaigi/conference-app-2019/blob/master/feature/sponsor/src/main/java/io/github/droidkaigi/confsched2019/sponsor/ui/store/SponsorStore.kt#L13
- AnnouncementStoreTest https://github.com/DroidKaigi/conference-app-2019/blob/master/feature/announce

[2019-02-01 15:08] itome commented on #620
I'm working on now. I'll create PR today.

[2019-02-01 15:09] takahirom commented on #620
I'm looking forward to your PR 😄

[2019-02-01 15:35] takahirom opened #724 "Session survey answer history is removed when app process kill"
## Overview (Required)

- Bug report

When release build.

0. Set the date of the device on February 9.
1. Answer session survey
2. Delete droidkaigi from the task list
3. Reopen session survey

Can not show the same state.

[2019-02-01 16:00] takahirom commented on #724
Probably it is R8 or Proguard issue

[2019-02-01 17:21] rince commented on #722
🙋‍♂️

[2019-02-01 17:22] takahirom commented on #722
Thanks! Assigned👍

[2019-02-01 17:24] rince commented on #717
🙋‍♂️

[2019-02-01 17:24] takahirom commented on #717
Thanks!🙌

[2019-02-01 17:46] hiji commented on #723
I want to try to this issue.

[2019-02-01 17:47] takahirom commented on #723
Thanks! Assigned 👍

[2019-02-01 19:48] hiji commented on #723
I am using AndroidStudio for the first time...
I am sorry for the basic things, but I want them to tell me.
- Is there something written about the procedure to build and start this application in AndroidStudio ?
- Is this Issue OK if I run the `build` Task of `:feature:sponsor` in Gradle and the test succeeds ?

[2019-02-01 22:21] nichiyoshi commented on #714
Let me try this as my first contribution🙋‍♂️

[2019-02-02 00:32] xnxaxo commented on #718
:hand:

[2019-02-02 02:18] tomoya0x00 commented on #714
Thanks! Assigned 👍

[2019-02-02 02:18] tomoya0x00 commented on #718
Thanks! Assigned 👍

[2019-02-02 02:33] tomoya0x00 commented on #723
@hiji 日本語で失礼します。

すごく雑に書くと、

1. [ここ](https://github.com/DroidKaigi/conference-app-2019#requirements) を参考に Android Studio 3.4 Beta 2 をインストール＆設定
2. このリポジトリをフォークしてクローンし、そのディレクトリをAndroid Studioで開く

です。
（ちょっと用事で席を外すので、また後ほど･･･）

[2019-02-02 02:35] hiji commented on #723
@tomoya0x00 ありがとうございます。ではこちらも日本語で失礼します。
Androi Stduio 3.4 Beta 3

[2019-02-02 02:48] hiji commented on #723
@tomoya0x00 ありがとうございます。ではこちらも日本語で失礼します。
READMEは確認し、Androi Studio 3.4 Beta 3 で記載されている設定はしているのですが、いくつかの警告と、 `frontend/android` で `build` タスクを実行すると途中で失敗します。
環境設定や手順が悪いのだろうと思い、どこかに何かしら他の情報が書かれているところがあれば知りたいと思い、ご質問しました。

[2019-02-02 03:43] akihito104 commented on #711
🙋‍♂️

[2019-02-02 03:44] tomoya0x00 commented on #723
@hiji
恐らくなのですが、
Android Studio 3.4 Beta 3 ですと、
https://github.com/DroidKaigi/conference-app-2019/blob/61c9d7121d54e67d63c1f609afbd69f14b5f6705/buildSrc/src/main/java/dependencies/Dep.kt#L6

[2019-02-02 03:53] tomoya0x00 commented on #723
@hiji
下記のプルリクでbeta03にあげようとしているので、少しお待ち頂けるとありがたいです🙇

https://github.com/DroidKaigi/conference-app-2019/pull/728

[2019-02-02 04:19] tomoya0x00 commented on #723
@hiji
プルリクマージされました！

[2019-02-02 04:33] rwadada commented on #721
🙋‍♂️

[2019-02-02 04:35] ntsk commented on #720
🙋

[2019-02-02 04:44] takahirom commented on #720
Thanks! Assigned 👍

[2019-02-02 04:44] takahirom commented on #721
Thanks!

[2019-02-02 05:16] #714 closed

[2019-02-02 05:30] takahirom commented on #724
We can create apk for this by flowing step

1. build.gradle
Change  applicationIdSuffix for staging

[code]

2. build staging apk

[2019-02-02 06:10] tsuyosh commented on #716
🙋🏻‍♂️

[2019-02-02 07:02] Luecy1 commented on #715
I challenge it! 🙋

[2019-02-02 07:04] takahirom commented on #711
Thanks! Assigned 👍

[2019-02-02 07:54] #724 closed

[2019-02-02 08:04] Luecy1 commented on #715
日本語で失礼します。
AnnouncementActionCreatorTestを参考にまずは動かしてみようとしたら
ByteBuddyAgent のクラスが見つからないエラーが出て、いろいろ調べてみたら
mockkのVersionを上げる必要があるみたいです。
https://github.com/mockk/mockk/issues/211

1.9に上げたところ、AnnouncementActionCreatorTestのテスト実行ができました。
まず、mockkのVersionを上げるPullRequestを作成した方がよろしいでしょうか。

[2019-02-02 08:05] takahirom commented on #715
👀

[2019-02-02 08:05] takahirom commented on #715
mokkのアップデートしちゃっていいと思うのでお願いしてもいいですか？すぐできなそうであれば自分がやります！

[2019-02-02 08:06] Luecy1 commented on #715
すぐやります！

[2019-02-02 08:07] takahirom commented on #715
お願いします 🙏

[2019-02-02 08:57] nichiyoshi opened #735 "[Android]Deep lining does not work as expected in a particular situation or device"
**Overview (Required)**
- **Deep linking does not work as expected, in a particular situation and (maybe) device**.
- On my android phone, deep linking works well when the app is launched by tapping the link.
- However, while the app is foreground or background, the deep linking does not work as expected, in which the link just makes the app open with the same page as which was in the foreground,

[2019-02-02 09:39] xnxaxo commented on #718
@tomoya0x00
環境の事で質問なのですが、forkしてcloneしてReadmeのRequirementsまで行ったのですが、
参考となるテストコードを開いた際に表示が真っ赤なのでテストを実行するとエラーになるのですが
行った手順以外に設定が必要なのでしょうか？
添付のような状態になっていて、アプリもビルドして端末に入るのですが、Home画面のDay1, Day2に何も表示されません。
申し訳ありませんが、わかりましたらお手数かけますがご回答のほどよろしくお願い致します.
<img width="867" alt="2019-02-02 18 24 12" src="https://user-images.githubusercontent.com/39042624/52162556-4feb5800-2719-11e9-8cb2-1b2fb48462cb.png">

[2019-02-02 09:47] takahirom commented on #718
Can you check this?
https://github.com/DroidKaigi/conference-app-2019/issues/548

日本語で失礼します。
多分通信できてないのはエミュレータの環境のせいかもしれません。Google Playが入れられるエミュレーターでお試しください

[2019-02-02 10:44] takahirom opened #738 "Unresolved reference by java.lang.Throwable: Module 'ioscombined_commonMain' and module 'api-impl_commonMain' have the same content root"
## Kind (Required)

- Other

 ## Overview (Required)

- Probably Android Studio import error occured by this

[code]

[2019-02-02 10:48] takahirom commented on #718
Can you try this?

in settings.gradle

[code]

[2019-02-02 10:48] takahirom commented on #738
Currently workaround for this

in settings.gradle

[code]

[2019-02-02 10:51] lcdsmao commented on #712
I want to challenge it!🙋

[2019-02-02 10:52] takahirom commented on #712
Thanks! Assigned 👍

[2019-02-02 10:54] takahirom commented on #738
Probably same source code is included from ioscombined
https://github.com/DroidKaigi/conference-app-2019/blob/master/frontend/ioscombined/build.gradle

[2019-02-02 11:53] #712 closed

[2019-02-02 13:08] takahirom opened #741 "When back to tabular session, the scroll progress is reset"
## Kind (Required)

- Other

 ## Overview (Required)

- Open App
- Goto tabular session
- Goto session detail
- Back to the tabular session. Scroll state is reset 😭

[2019-02-02 14:02] #723 closed

[2019-02-02 15:45] takahirom opened #746 "Add SessionContents search() test"
## Kind (Required)

- Other

 ## Overview (Required)

- You can test it like FiltersTest

 ## Links

- https://github.com/DroidKaigi/conference-app-2019/blob/master/model/src/jvmTest/kotlin/io/github/droidkaigi/confsched2019/model/FiltersTest.kt#L9

[2019-02-02 15:47] takahirom opened #747 "Add SessionFeedback.fillouted test"
## Kind (Required)

- Other

 ## Overview (Required)

- You can test it like FiltersTest

 ## Links

- https://github.com/DroidKaigi/conference-app-2019/blob/master/model/src/commonMain/kotlin/SessionFeedback.kt#L26
- https://github.com/DroidKaigi/conference-app-2019/blob/master/model/src/jvmTest/kotlin/io/github/droidkaigi/confsched2019/model/FiltersTest.kt#L9

[2019-02-02 16:42] #721 closed

[2019-02-02 19:44] sekiya9311 commented on #741
🙋‍♂️

[2019-02-02 19:58] jmatsu commented on #741
Thank you for joining! 🆒

[2019-02-02 19:58] jmatsu commented on #741
Please feel free to ask us if you have questions.

[2019-02-02 20:52] xnxaxo commented on #746
✋

[2019-02-02 21:20] xnxaxo commented on #718
@takahirom
settings.gradle tried.
The following error has been resolved.
` java.lang.Throwable: Module 'ioscombined_iOSMain' and module 'api-impl_iOSMain' have the same content root:`

However, since it was raised by another issue, I removed it from the target.

[2019-02-03 02:52] takahirom commented on #718
Sorry, What does `I removed it from the target` mean ?

[2019-02-03 03:03] takahirom commented on #746
Thanks! Assigned 👍

[2019-02-03 03:37] #718 closed

[2019-02-03 04:03] #720 closed

[2019-02-03 05:01] geckour commented on #516
Can I try this ? 🙋

[2019-02-03 05:03] takahirom commented on #516
Thank you for challenging this issue!

[2019-02-03 05:09] takahirom opened #755 "The space between the bottom sheets is filled with white"
## Kind (Required)

- Other

 ## Overview (Required)

- The space between the bottom sheets is filled with white when you return from session details.
![image](https://user-images.githubusercontent.com/1386930/52172923-2257ea80-27bd-11e9-9c44-11380cd438db.png)

[2019-02-03 08:08] #707 closed

[2019-02-03 08:34] #755 closed

[2019-02-03 08:44] geckour commented on #516
I have one more question...
If Worker uses Exponential Backoff, does it still needs limitation of retry times (currently set max to 3)?

[2019-02-03 08:45] jmatsu commented on #516
I guess that's also needless. The previous *3* was just an experimental value. 👍

[2019-02-03 08:46] geckour commented on #516
@jmatsu Thanks!

[2019-02-03 09:43] takahirom opened #763 "Configure default navigation animation"
## Kind (Required)

- Other

 ## Overview (Required)

- We currently use animation. I would like to try default animation.
(If we try and it is not good, we don't apply it 🙇 )

 ## Links

- https://stackoverflow.com/questions/50482095/how-do-i-define-default-animations-for-navigation-actions/52413868#52413868

[2019-02-03 12:07] skzwksk commented on #747
I cannot install Android Studio 3.4.
From [This link](https://developer.android.com/studio/preview/), I can only Android Studio 3.3.
Please tell me how to install it.

[2019-02-03 12:13] takahirom commented on #747
Please read README🙏

[2019-02-03 13:20] from-unknown opened #768 "Search crashes when type '+' to serch bar"
**Overview (Required)**
- When type + to search bar, it crushes because it is not correct Regex.

**Steps To Reproduce**

1. Go to 'Search' page
2. Type '+'
3. App crushes

**Expected behavior**
Do not crush

**Screenshots**
<img width="300" src="https://user-images.githubusercontent.com/21967922/52177258-87cdca80-2801-11e9-81df-9e6467ab88f8.png" />

**Env:**
 - Device: Pixel2 XL emulator
 - OS: 8

[2019-02-03 13:58] from-unknown opened #770 "Sometimes second speaker doesn't appear"
**Overview (Required)**
- when search second speaker for session, session appears but second speaker doesn't appear.

**Steps To Reproduce**

1. Go to 'search'
2. Type second speaker ex. 'chet'
3. Delete and retype
4. Sometimes second speaker doesn't appear

**Expected behavior**
Second speaker always appear

**Screenshots**
<img width="300" src="https://user-images.githubusercontent.com/21967922/

[2019-02-03 14:30] tsuyosh commented on #768
Can I handle this issue? 🙋🏻‍♂️

[2019-02-03 14:49] #516 closed

[2019-02-03 14:56] #620 closed

[2019-02-03 15:02] #711 closed

[2019-02-03 15:07] #716 closed

[2019-02-03 15:15] #741 closed

[2019-02-03 15:18] takahirom commented on #747
It is here
https://developer.android.com/studio/archive?hl=en

[2019-02-03 15:19] takahirom commented on #768
@tsuyosh Thanks! Assigned 👍

[2019-02-03 15:47] takahirom opened #775 "Make ← 🍔 when the screen can go by navigation drawer"
## Kind (Required)

- Other

 ## Overview (Required)

- I asked the designer. We can fix it
![image](https://user-images.githubusercontent.com/1386930/52178829-2f54f800-2816-11e9-93d1-f1705366c373.png)

- We can fix here. very easy
- https://github.com/DroidKaigi/conference-app-2019/blob/master/frontend/android/src/main/java/io/github/droidkaigi/confsched2019/ui/MainActivity.kt#L110

[2019-02-03 15:48] #768 closed

[2019-02-03 15:51] tomoya0x00 commented on #770
Thank you for your report 🙇

[2019-02-03 16:59] takahirom opened #777 "WorkManager cause crash!"
## Kind (Required)
- Other

 ## Overview (Required)

[code]

[2019-02-03 17:47] takahirom opened #781 "Toggle favorite by long tap in TabularFormSessionPageFragment"
## Kind (Required)

- Other

 ## Overview (Required)

- I think it is easy. We can do it by using `@Inject lateinit var sessionContentsActionCreator: SessionContentsActionCreator` and  calling`toggleFavorite()`

[2019-02-03 23:57] skzwksk commented on #747
thank you!!!

i did it.
But this error occured while gradle building.
Did you know fix it?
[code]
I use Android 3.4 beta 3, Kotlin plugin version 1.3.20-release-Studio3.4.1, Disable Instant run, Mac OS 10.14.1

[2019-02-04 00:51] koji-1009 commented on #770
🙋🏻‍♂️

[2019-02-04 01:14] takahirom commented on #770
Thanks! Assigned👍

[2019-02-04 01:21] #746 closed

[2019-02-04 01:55] sobaya-0141 commented on #775
:raising_hand_man:

[2019-02-04 02:00] takahirom commented on #775
Thanks! Assigned 👍

[2019-02-04 03:02] sobaya-0141 opened #785 "タイムテーブル画面でスクロールを続けるとクラッシュ"
## Overview (Required)

- タイムテーブル画面で右下にスクロールを続けるとクラッシュする。

[code]

[2019-02-04 03:04] #775 closed

[2019-02-04 03:19] sugoi-wada commented on #735
I want try this ✋

[2019-02-04 06:21] sobaya-0141 commented on #785
ストアから落とした物だとクラッシュせずにスケジュール部分が真っ白になりました。
<img src="https://user-images.githubusercontent.com/45986582/52193020-5f40e180-2890-11e9-8e9b-a61fd6450523.png" width=300>

[2019-02-04 08:51] #770 closed

[2019-02-04 11:08] nyafunta9858 opened #792 "タイムテーブル画面でスクロールしてくと表示が乱れ、最終的にクラッシュする"
**Overview (Required)**
-

**Steps To Reproduce**

1. Go to Time table screen.
2. Change to Day2
3. Scroll and swipe (17:40までスクロールすると発生しやすい)
4. See error

**Expected behavior**

**Screenshots**
[tmp2.mp4.zip](https://github.com/DroidKaigi/conference-app-2019/files/2827616/tmp2.mp4.zip)

**Env:**
 - Device: [Pixel3]
 - OS: [9.0]
 - App Version or the branch #1187

**Additional context**
this is sim

[2019-02-04 11:20] takahirom commented on #781
いやアプローチ的にはあっていそうです 👀
スクロールしなくても #785 は長押しでも起こる感じになりますか？ それともRecyclerViewでnotifyDataSetChangedが走るとクラッシュするんですかね？

[2019-02-04 11:22] sobaya-0141 commented on #781
仕事の合間だったので、すぐ諦めてしまったので記憶があいまいですが、
長押しで発生した気がします。

時間が作れれば再度試してみます！！

[2019-02-04 11:56] MoyuruAizawa commented on #792
I'm working on

[2019-02-04 13:31] sobaya-0141 commented on #781
自宅環境で同じコードで試してみましたが、
長押しで発生します。(画面の描画は終わっており、スクロールさせずに発生しました。)
が、logcatでerrorを吐いてくれず、別の問題かもしれないです。。。
※もうちょっと調べてみます。

[2019-02-04 13:36] sobaya-0141 commented on #781
検証端末を変えたらlogcatも表示され、同一のエラーでした。
ですので、長押しで #785 が発生します。

[2019-02-04 13:44] sobaya-0141 opened #794 "Session読み込み前にタイムテーブル画面に遷移すると白紙になる"
## Overview (Required)

- アプリ起動直後にタイムテーブル画面に遷移するとタイムテーブルが表示されない
※初回起動時やストレージ削除後だとやりやすいです。

<img src="https://user-images.githubusercontent.com/45986582/52211839-5a028780-28ce-11e9-81e2-b237f98ff313.png" width="300">

[2019-02-04 14:44] sobaya-0141 commented on #781
私の知識不足で申し訳ないのですが、
GroupieではAdapter#updateとすることでnotifyすると認識しています。
TabularFormSessionPageFragmentにてAdapter#updateしているのが、
日付変更部分のみしか見当たらず自分の力では原因の特定までできませんでした。。。
https://github.com/DroidKaigi/conference-app-2019/blob/c7daf6e8eab7f4db5de70c718b655f6cf68e3eab/feature/session/src/main/java/io/github/droidkaigi/confsched2019/session/ui/TabularFormSessionPageFragment.kt#L138

無駄にお手数をおかけしてしまい、本当に申し訳ありません :

[2019-02-04 16:02] #617 closed

[2019-02-04 16:02] #792 closed

[2019-02-04 16:03] #185 closed

[2019-02-05 01:04] koji-1009 commented on #794
This issue has been reproduced in the emulator.
(After the current master, after merge #797, a crash occurred.)

[code]

[2019-02-05 01:08] koji-1009 commented on #794
<img width="300" src="https://user-images.githubusercontent.com/17231507/52247583-cc568480-292d-11e9-8896-d22a08f97a5f.gif" >

[2019-02-05 01:35] takahirom commented on #794
@koji-1009 Can you send pr for that?🙏

[2019-02-05 01:37] takahirom commented on #794
In TimetableCurrentTimeLineDecoration.calcLineHeight, you can judge RecyclerView.NO_POSITION.

[2019-02-05 01:45] takahirom commented on #794
It can be fixed that it will be blank at the beginning of the transition. However, I will resolve it when I return. It is not serious, so it is not a problem to fix from now.

[2019-02-05 01:47] koji-1009 commented on #794
OK, I'll take care of this.

[2019-02-05 01:47] #708 closed

[2019-02-05 01:51] koji-1009 commented on #794
Thanks. I'm thinking now this point.

[2019-02-05 01:57] takahirom commented on #794
But I want to fix the crash so please pr.🙏

[2019-02-05 02:03] koji-1009 commented on #794
Oh, sorry. I'm on the train now.
I will send PR after 20 min. Is that is too late?

すいません、いま電車で移動中のためPR作成までに20分程かかりそうです。
間に合わないよであれば、他のかたにPRをお願いしたく 。。

[2019-02-05 05:04] takahirom opened #799 "The session message icon is shifting"
## Kind (Required)

- Other

 ## Overview (Required)

- The session message icon is shifting
![screenshot_2019-02-05-14-02-00](https://user-images.githubusercontent.com/1386930/52254083-ee143380-294e-11e9-86e7-3ee3184db0e7.jpg)

 ## Links

-

[2019-02-05 09:59] kgmyshin opened #800 "The place of Lunch is Hall A？"
## Kind (Required)

- other

 ## Overview (Required)

- Now, app say the place of lunch is Hall A. but I think another place.

<img src="https://user-images.githubusercontent.com/6851980/52265540-ace44980-2977-11e9-8f79-138a08fa50c9.png" width=300 />

[2019-02-05 11:30] #800 closed

[2019-02-05 11:31] takahirom commented on #800
Thanks for informing! I delete that!

[2019-02-05 11:42] sugoi-wada commented on #799
🙌

[2019-02-05 11:43] takahirom commented on #799
@sugoi-wada I am in a rush in today's release. Are you likely to finish in a few hours? 🙇

[2019-02-05 11:45] sugoi-wada commented on #799
Yes! I'm working on this issue 👍

[2019-02-05 11:46] takahirom commented on #799
Thanks!!!!! 😭

[2019-02-05 11:57] #799 closed

[2019-02-05 12:54] takahirom opened #803 "iOS navigation drawer About DroidKaigi icon"
## Kind (Required)

- Other

 ## Overview (Required)

- DroidKaigi is 2/7
- iOS 1.2 includes Announcement and About screen. 😭

 ## Links

-
![image](https://user-images.githubusercontent.com/1386930/52274527-51728580-2990-11e9-9f5d-11d779c01ded.png)

[2019-02-06 03:57] punchdrunker commented on #676
It looks like fixed with this pr finally
https://github.com/Kotlin/kotlinx-io/pull/36

[2019-02-06 17:29] matsudamper opened #814 "The display position of ripple of Hamburger button is misaligned"
**Overview (Required)**
- The display position of ripple of Hamburger button is misaligned

**Steps To Reproduce**

1. launch app
2. Press Hamburger button

**Expected behavior**
Do not display ripple or shift ripple to the left.

**Screenshots**
![screenshot_20190206-221152](https://user-images.githubusercontent.com/9250063/52360678-ee601c00-2a7f-11e9-9e5a-bff6d683e6d9.png)

Example shifted to th

[2019-02-06 17:29] takahirom commented on #814
Thanks for reporting 👍

[2019-02-06 17:36] matsudamper commented on #814
I will do it.🙌
However, I do not know whether to shift Ripple to the left or hide.
I think that it is better not to have ripple.

[2019-02-07 06:20] daisuke-nomura opened #818 "Compatible with Chromebook"
## Kind (Required)
- Proposal / Discussion

 ## Overview (Required)

- Chromebookに対応。

 ## Links

- Chromebookで始めるラップトップ向けAndroidアプリ - DroidKaigi 2019 https://droidkaigi.jp/2019/timetable/70230

[2019-02-07 12:47] daisuke-nomura commented on #818
This is current situation I launched the app on emulator.
Good.

<img width="1326" alt="screen shot 2019-02-07 at 21 40 04" src="https://user-images.githubusercontent.com/445561/52412194-63376280-2b21-11e9-8d0a-078ccabc4e2e.png">

[2019-02-07 13:10] daisuke-nomura commented on #818
It's my fault. There is no Play Services on this emulator.
Is there anyone who has physical Chrome OS device?

[2019-02-08 08:53] fumiya-kume opened #819 "タイムライン画面で Day をタップしても現在時刻の場所に飛ばない, not move to now time at timelite page."
**Overview (Required)**
- https://pbs.twimg.com/media/Dy3vIIPUUAA3j0G.jpg:large

**Steps To Reproduce**

1. Go to 'time line page'
2. Click on 'Day Button'
4. not move now time.

**Screenshots**
https://pbs.twimg.com/media/Dy3vIIPUUAA3j0G.jpg:large

**Env:**
 - Device: Huawei P 20 lite
 - OS: 8.0
 - App Version or the branch [e.g. 0.1.0 or master]

[2019-02-08 09:02] chibatching opened #820 "Incorrect notification icon color on status bar"
**Overview (Required)**
- Notification icon color on the status bar is incorrect, it should be tinted.

**Steps To Reproduce**
Receive notification

**Expected behavior**
Tint appropriate color

**Screenshots**
<img src="https://user-images.githubusercontent.com/7804631/52468203-540cef00-2bcb-11e9-99a0-b123f26a8b34.png" width=300/>

**Env:**
 - Device: [OnePlus 6]
 - OS: [9.0]
 - App Version or th

[2019-02-08 09:31] chibatching commented on #820
Maybe, the notification icon should be white.

https://developer.android.com/guide/practices/ui_guidelines/icon_design_status_bar#style11

[2019-02-08 10:39] takahirom commented on #820
Thank you for investigate documentation!👍

[2019-02-08 12:00] takahirom commented on #819
It's logic is a little difficult. But probably we can do it

[2019-02-08 12:01] takahirom commented on #814
@matsudamper Do you have any idea for that?

[2019-02-08 14:16] #717 closed

[2019-02-08 14:16] #722 closed

[2019-02-10 13:24] nacatl commented on #819
I made this feature, so I want to try it.

[2019-02-10 14:21] takahirom commented on #819
Thanks! Assigned 👍

[2019-02-10 17:35] #819 closed

[2019-02-11 09:41] #713 closed

[2019-02-12 15:44] takahirom opened #827 "Add bottom margin for session detail"
## Kind (Required)

- Other

 ## Overview (Required)

- We want to look session document and youtube 📹

[2019-02-13 23:32] cketcham commented on #351
This bug has been fixed in the material library. It will be part of the next release.

[2019-02-14 05:37] jmatsu opened #832 "[FYI] Published the presentation slides on CI/CD of this project"
## Kind (Required)

- Other

 ## Overview (Required)

- I talked about CI/CD of DroidKaigi 2019 App in Japan after DroidKaigi.
- Slides are [here](https://speakerdeck.com/jmatsu/cd-based-on-droidkaigi-2019-app-e61955ae-fe19-4455-b750-e35e32fbaf9d)
- If you have any questions, please feel free to ask me :)

 ## Links

- https://speakerdeck.com/jmatsu/cd-based-on-droidkaigi-2019-app-e61955ae-fe19-44

[2019-03-06 14:28] matsudamper commented on #814
I think that It is better to delete ripple.
Because there is no ripple in the Play Store etc. I think that it is better than misaligned.

[2019-03-06 15:09] matsudamper opened #833 "If scroll to the end, the click event will not fire."
**Overview (Required)**
- If scroll to the end, the first click event will not fire on the session list page.

**Steps To Reproduce**
1. launch app
2. scroll to bottom(Scroll to the end firmly)
3. click session(No click event will occur)
4. click session onece agein

**Expected behavior**
Click event occurs

**Env:**
 - Device: [e.g. Pixel3]
 - OS: [e.g. 9.0]
 - App Version or the branch [master]

[2019-03-06 15:20] matsudamper opened #834 "When the memory kill on the time table screen, nothing is displayed on the screen."
**Overview (Required)**
- When the memory kill on the time table screen, nothing is displayed on the screen.

**Steps To Reproduce**
1. launch app
2. show time table screen
3. close app
4. Start up many other applications or use the memory release application.
5. open app

**Expected behavior**
Timetable is displayed

**Env:**
 - Device: [e.g. Pixel3]
 - OS: [e.g. 9.0]
 - App Version or the branch

[2019-03-17 07:42] matsudamper commented on #833
It turned out that the problem is that ScrollState is SCROLL_STATE_SETTLING even if it scrolls to the end.
This has been confirmed with the GooglePay app.

[2020-01-15 08:20] surajsau opened #839 "Memory leaks in SessionDetailFragment onwards"
Overview:
When session details screen is opened, frequent memory leaks are captured by LeakCanary

Steps To Reproduce:
launch app
click on any session
scroll up and down or click on feedback and scroll between the views
Leak Canary records memory leaks very frequently.

Expected behavior:
Memory leaks must be reduced

Env:

Device: [e.g. Pixel3]
OS: [e.g. 9.0]
App Version or the branch [master]

A

[2020-01-15 08:23] surajsau commented on #839
@takahirom I can take it up and fix it if needed.

[2020-01-15 08:26] takahirom commented on #839
Thank you!
But, now we are working for `DroidKaigi/conference-app-2020`. This repository is conference-app-**2019**
If you don't care, please take a look at the 2020 repositories 🙏
https://github.com/DroidKaigi/conference-app-2020

[2020-01-15 08:35] surajsau commented on #839
あ! 間違いました！ごめんなさい！笑笑

[2020-01-24 13:05] gmilette commented on #827
do you have an idea for what this would look like?

[2020-01-24 13:57] takahirom commented on #827
Sorry. I confused about  this issue..🤔🤔🤔

[2020-01-24 13:57] #827 closed